.discount-header
  margin-top 1rem
  padding-y 3rem
  padding-x 2rem
  background-color #E7F0FF
  &__image img
    display block
  &__body
    padding-x 1rem
    padding-y 2rem
  &__date
    font-size 1.25rem
    line-height 1.5rem
    ^[-1]--no-image & // @stylint ignore
      font-size 1rem
  &__name
    position relative
    margin-top .4375rem
    font-size 1.5rem
    font-weight 500
    line-height 1.5
    color #0A125B
  &__additional
    margin-top 1.0625rem
    font-size 1.25rem
    line-height 1.5
  &__sign
    display flex
    flex-direction column
    align-items center
  &__countdown
    margin-top .5rem
  &__form-header
    margin-top 1rem
  &__form
    display flex
    flex-direction column
    align-items center
    gap .5rem
    margin-top .5rem
    & .form-input + .form-input
      margin-top 0
    & .form-input__field
    & .button
      padding .25rem .75rem
