include /blocks/countdown/countdown
include /blocks/form-input/form-input

mixin discountHeader(item)

  .discount-header
    +grid({ padding: 'y', align: 'center' })
      +cell({ l: 3, m: 'hidden', s: 'hidden', xs: 'hidden' }).discount-header__image: img(src=item.image alt=item.name title=item.name)
      +cell({ l: 5, m: 6, xs: 12 }).discount-header__body
        h1.discount-header__name !{item.name}
        .discount-header__additional !{item.additional}
      +cell({ l: 4, m: 6, xs: 12 }).discount-header__sign
        .discount-header__date !{item.date}
        +countdown('2021-12-01').discount-header__countdown
        .discount-header__form-header Запишитесь на консультацию
        form.discount-header__form
          +formInput({ type: 'text', name: 'name', placeholder: 'ФИО' })
          +formInput({ type: 'tel', placeholder: 'Телефон' })
          +button()(type='submit') Записаться
