include ../grid/grid
include ../create-element/create-element
include ../scripts/scripts
include /blocks/style/style

doctype html
html(lang='ru')
  include ../head/head
  body.page
    include /blocks/header/header
    main: block content
    include /blocks/footer/footer
    include /blocks/discount-form/discount-form
  +style('rest')
  if homePage
    +style('home')
  else
    +style('inner')
  +scripts(['script.js'])
