.table-wrap
  overflow-x auto
.table
  width 100%
  padding 2rem
  &__header
    padding (basePadding/3*2) basePadding
    text-align left
    vertical-align top
  &__cell
    padding (basePadding/3*2) basePadding
    vertical-align middle
    border-bottom 1px solid #e0e0e0
    ^[-1]__row:last-child > &  // @stylint ignore
      border-bottom none
    &--empty
      text-align center
      &::after
        content ' '
        font-size font-xxxl
        font-weight bold
