.button
a.button
  --btn-gradient-center-x 50% // @stylint ignore
  --btn-gradient-center-y 50% // @stylint ignore
  --btn-gradient-color-first #536DFB // @stylint ignore
  --btn-gradient-color-second #6B81FA // @stylint ignore
  --btn-gradient-opacity 0 // @stylint ignore
  --btn-gradient-radius 0 // @stylint ignore
  --btn-background-click #7387FA // @stylint ignore

  position relative
  text-decoration none
  color #ffffff
  background-color #536DFB
  background-image radial-gradient(circle at var(--btn-gradient-center-x) var(--btn-gradient-center-y), var(--btn-gradient-color-second) var(--btn-gradient-radius), var(--btn-gradient-color-first) var(--btn-gradient-radius))
  border-radius .5rem
  box-shadow 0 1.5rem 1rem -1.25rem #536DFB
  will-change background-image
  &:active
    background-color var(--btn-background-click)
    background-image none
  &--secondary
  &--arrow
    --btn-gradient-color-first #E7F0FF // @stylint ignore
    --btn-gradient-color-second #F0F5FF // @stylint ignore
    --btn-background-click #F7FAFF // @stylint ignore

    color #536DFB
    background-color #E7F0FF
    border 1px solid #fff
    box-shadow none
  &--link
    padding 1rem
    color var(--color-link)
    background-color #fff
    background-image none
    border 1px solid #E0E0E0
    border-radius .5rem
    box-shadow none
    transition color .4s
    &:hover
      color var(--color-link-hover)
      background-color #fff
      background-image none
      transition color .1s
    &:active
      color var(--color-link-active)
      background-color #fff
      background-image none
      transition color .1s
  &--wide
    width 100%
