.page-navigation
  parMargin()
  padding 1rem 1.25rem
  background-color #EFEFEF
  border-radius .5rem
  &__list
    display flex
    flex-wrap wrap
    gap .5rem 2rem
  &__item
    @supports not (gap .5rem 2rem)
      padding .25rem .5rem
    &--active
      font-weight bold
