mixin consultationAnswer(item)
  +blockMarked.consultation-answer
    h2.consultation-answer__title Ответ
    .consultation-answer__body
      - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
      +createElement(item.body)
    .consultation-answer__author: +grid({ padding: 'y' })
      +cell({ l: 3, m: 4, s: 6, xs: 8 }).consultation-answer__author-image: img(src != item.image alt != item.author)
      +cell({ l: 9, m: 8, xs: 12 }).consultation-answer__author-info
        .consultation-answer__author-title Отвечает: 
        .consultation-answer__author-name: a(href='konsultatsiya.html') !{item.author.name}
        .consultation-answer__author-occupation !{item.author.occupation}
        .consultation-answer__author-experience !{item.author.experience}
