.consultation-answer
  .block-marked + &.block-marked
    z-index 2
    margin-top 0
    box-shadow 0 -2rem 1rem -1.375rem #E0E0E0
  &__title
    font-size 1.5rem
  &__author
    font-size 1.125rem
    line-height 2rem
    margin-top 1.5rem
    
    a
      display block
      margin-top .25rem
  &__body
    ^[-1]__title + &
      margin-top 1rem
