.article-item-small
  display flex
  align-items center
  padding 1.5rem
  font-size 1.375rem
  text-decoration none
  color #0A125B
  background-color #ffffff
  border-radius .5rem
  &:hover
    color #536DFB
  &__image
    flex-shrink 0
    width 6rem
    margin-right 1.5rem
  &__image img
    display block
  &__name
    margin-right 1.5rem
    padding 0
  &__arrow
    flex-shrink 0
    width 5rem
    margin-right auto
    margin-left auto
    padding 0
    @media (max-width point-m - 1)
      display flex
      justify-content flex-end
      overflow hidden
      width 2rem
      svg
        flex-shrink 0
