.article-author
  &__image
    z-index 2
    & img
      border-radius 1rem
      @media (max-width point-m - 1)
        margin-left 1rem
  &__body
    position relative
    padding-top 1rem
    padding-bottom 1.75rem
    background-color #fff
    border-radius 0 .5rem .5rem 0
    &::before
      content ''
      position absolute
      top 0
      left -4rem
      width 4rem
      height 100%
      background-color #fff
      border-radius .5rem 0 0 .5rem
    @media (max-width point-m - 1)
      padding-x 1rem
      &::before
        top -2rem
        left 0
        width 100%
        height 2rem
        border-radius .5rem .5rem 0 0
  &__title
    margin-bottom 1.125rem
  &__name
    font-size 1.125rem
    line-height 1.5rem
  &__occupation
    margin-top .5rem
    font-size 1.125rem
    line-height 1.5rem
  &__date
    margin-top 3rem
    line-height 1.5rem
  &__socials
    padding-top 2rem
    .link-icons
      margin -.5rem
      &__link
        display block
        height 0
        margin .5rem
        padding 1.25rem
