include /blocks/link-icons/link-icons

mixin articleAuthor(author)
  +grid({ align: 'center' }).article-author
    +cell({ l: 2, m: 3, s: 6, xs: 8 }).article-author__image: img(src= author.image alt= author.name title= author.name)
    +cell({ l: 10, m: 9, s: 12, xs: 12 }): .article-author__body: +grid({ padding: 'y' })
      +cell({ l: 6, m: 6, xs: 12 }).article-author__info
        .article-author__title Автор статьи:
        .article-author__name: a(href='/') !{author.name}
        .article-author__occupation !{author.occupation}
        .article-author__date
          | Дата публикации: !{author.date.published} г.
          br
          | Дата обновления: !{author.date.updated} г.
