.cite
  display block
  padding-left 4rem
  font-style normal
  line-height 1.5
  background-image url('../images/quotes.svg')
  background-repeat no-repeat
  background-position left top
  background-size 3rem
