extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Дентальный фотопротокол
  +pageSection.container: .content
    p Изменения, происходящие во&nbsp;рту пациента во&nbsp;время лечения, невозможно отследить без дополнительных исследований. Фотопротокол в&nbsp;стоматологии используется для документирования состояния зубов и&nbsp;тканей полости рта, а&nbsp;также для отслеживания текущих изменений.

    h2 Что такое дентальный фотопротокол?
    p Это процедура, при которой делаются серийные диагностические фотографии структур полости рта и&nbsp;лица пациента. Фотофиксация позволяет врачу подробно документировать исходные данные, промежуточные и&nbsp;конечные результаты для диагностирования, планирования процедур и&nbsp;контроля эффективности назначенной терапии.
    p Цифровой фотоматериал часто дополняет другие виды стоматологической диагностики, фотопротокол активно применяется в&nbsp;ортодонтии при лечении, имплантологии, поддерживает работу протезистов, хирургов и&nbsp;эстетических стоматологов.
    p Фотопротокол улучшает коммуникацию врача и&nbsp;пациента, особенно если речь о&nbsp;серьезном продолжительном лечении.

    h2 Где применяется дентальный фотопротокол
    p #[strong Ортопедическая стоматология]&nbsp;&mdash; использование фотопротокола для изготовления цифровых оттисков и&nbsp;создания 3D&nbsp;моделей зубных протезов. Также ортодонтический фотопротокол наглядно демонстрирует прогресс в&nbsp;лечении.
    p #[strong Эстетическая стоматология]&nbsp;&mdash; фотофиксация важна для диагностики, планирования и&nbsp;контроля действенности эстетических процедур, таких как отбеливание зубов и&nbsp;исправления формы зубных единиц.
    p #[strong Хирургическая стоматология]&nbsp;&mdash; использование дентального фотопротокола для планирования и&nbsp;контроля результатов хирургических вмешательств, например имплантации или реконструкция челюсти.
    p #[strong Пред- и&nbsp;послеоперационная диагностика]&nbsp;&mdash; стоматологические фотографии помогают определить состояние полости рта пациента до&nbsp;и&nbsp;после оперативных вмешательств, точность и&nbsp;качество лечения.

  // {{TSENY}}
  +pageSection.container: .content
    h2 Виды стоматологических фотографий
    ul.list-marked
      li Общие внутриротовые фотографии. Фото зубных рядов, боковая и&nbsp;панорамная съёмка челюсти и&nbsp;прикуса в&nbsp;состоянии покоя. Снимки делаются в&nbsp;рамках первичного приёма и&nbsp;считаются отправной точкой стоматологического лечения.
      li Отдельные внутриротовые снимки зубной единицы и&nbsp;выявленных дефектов. Например, фото кариозной полости до&nbsp;лечения, препарированного зуба, запломбированной полости, фото зубной поверхности до&nbsp;и&nbsp;после профессиональной чистки.

    h2 Технические аспекты
    h3 Оборудование и&nbsp;инструменты
    p Для фотографирования врач использует цифровую камеру. Дополнительно применяются ретракторы для губ и&nbsp;щек.
    h3 Техника выполнения снимков
    p Фотопротокол в&nbsp;современной стоматологии представляет собой стандартный набор из&nbsp;6-8 высококачественных внутриротовых фотографий. Дентальная съемка занимает 20&ndash;30&nbsp;минут.

    h2 Клиническое значение фотопротокола
    h3 Визуальная документация
    p Важное преимуществ дентальной фотофиксации&nbsp;&mdash; возможность визуально задокументировать первоначальное состояние полости рта. Пациентам сложно понимать проблемы со&nbsp;здоровьем без наглядных пособий. С&nbsp;помощью снимков стоматологи наглядно показывают проблемные зоны и&nbsp;объясняют необходимость конкретного лечения, что устраняет разрыв между профессиональной оценкой и&nbsp;пониманием пациента.
    h3 Дистанционные консультации
    p Врачи используют дентальные фотопротоколы даже после того, как пациент покинул клинику. Имея доступ к&nbsp;фотографиям, у&nbsp;стоматологов открывается возможность пересмотреть и&nbsp;оценить принятые решения, получить консультацию коллег, обсудить детали с&nbsp;зубными техниками и&nbsp;внести коррективы в&nbsp;планы лечения. Такой уровень доступности повышает качество медицинской помощи.
    h3 Планирование лечения
    p Оценка цвета, формы, положения зубных единиц, состояния зубных рядов, костной ткани и&nbsp;десен важна для планирования лечения. Благодаря дентальным фотопротоколам врачи тщательно продумывают этапы лечения и&nbsp;последовательность вмешательств.
    h3 Отслеживание прогресса
    p Стоматологические фотофиксации&nbsp;&mdash; ценный инструмент для мониторинга прогресса в&nbsp;краткосрочные и&nbsp;долгосрочные периоды. Положительные изменения важно документировать и&nbsp;анализировать, особенно для процедур, направленных на&nbsp;восстановление эстетики и&nbsp;общего благополучия полости рта.

    h2 Почему дентальный фотопротокол в&nbsp;Санкт-Петербурге делают в&nbsp;&laquo;ВайтДент&raquo;?
    ul.list-marked
      li #[strong Высококачественные камеры:] используем профессиональные фотокамеры и&nbsp;объективы, которые гарантируют высокую детализацию и&nbsp;четкость снимков.
      li #[strong Специализированное освещение:] настраиваем равномерное освещение объекта съемки, что важно для правильной цветопередачи и&nbsp;визуализации деталей.
      li #[strong Скорость:] процедуру проводим быстро и&nbsp;продуктивно.
      li #[strong Объединение с&nbsp;другими методами:] при необходимости интегрируем фотопротокол с&nbsp;другими методами диагностики, чтобы получить полную картину состояния полости рта.
    p #[strong Фотопротокол входит в&nbsp;услугу консультирования врача.]
  
  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Чем отличается дентальная съемка от&nbsp;обычной ?
        ul.list-marked
          li Стоматологическая фотофиксация ориентирована на&nbsp;документирование и&nbsp;анализ конкретного процесса, в&nbsp;то&nbsp;время как обычная фотосъемка проводится для художественных, рекламных и&nbsp;и&nbsp;ных целей.
          li У&nbsp;дентальных снимков строгая последовательность, определенные стили и&nbsp;формы, стандартные фотосъемки более свободные и&nbsp;творческие.
        h3 Как дентальные фотографии помогают при планировании лечения?	
        p Метод позволяет визуализировать текущее состояние зубов и&nbsp;десен, а&nbsp;также отслеживать изменения в&nbsp;ходе лечения. Это помогает контролировать прогресс и&nbsp;действенность проводимых процедур, а&nbsp;также поэтапно документирует лечение для последующего анализа и&nbsp;оценки результатов.
        h3 Насколько точны результаты фотопротокола?
        p Профессиональная съемка с&nbsp;использованием соответствующего оборудования дает высокоточные результаты.
        h3 Нужна подготовка перед фотопротоколом?
        p Перед процедурой рекомендуется тщательно почистить и&nbsp;прополоскать зубы.
        h3 Можно&nbsp;ли использовать фотопротокол для удаленной консультации?
        p Да, чтобы наглядно показывать проблемы, с&nbsp;которыми столкнулся пациент.

  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Применение фотопротокола в&nbsp;стоматологии: современные достижения и&nbsp;перспективы развития/ Рахимов Р.М., Афанасьев В.В., Барышников А.И. и&nbsp;др.;
      li Эффективность применения фотопротокола при появлении острого генгивита/ Сергеев А.И., Горшков А.Н., Карпенко И.В. и&nbsp;др.;
      li Применение фотопротокола в&nbsp;эстетической стоматологии: сравнение различных методов исследования/ Белкин И.В., Котова Е.А., Морозова Г.Н.
      
