extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Диагностика зубов
  +pageSection.container: .content
    p Даже при самом тщательном уходе налет и&nbsp;бактерии накапливаются в&nbsp;трудных для доступа местах, провоцируя образование зубного камня, воспаление десен и&nbsp;кариозное поражение зубов. Систематическое обследование позволяет выявить проблемы на&nbsp;раннем этапе и&nbsp;предупредить их&nbsp;дальнейшее развитие.
    h2 Современные методы диагностики
    p Диагностика зубов направлена на&nbsp;комплексную оценку состояния ротовой полости, раннее выявление патологических изменений и&nbsp;индивидуальный подход к&nbsp;выбору эффективного лечения.
    
    h3 Профилактический осмотр
    p Это запланированное исследование полости рта и&nbsp;зубов, выявляющее стоматологические проблемы на&nbsp;начальном этапе. Снижает вероятность развития серьезных патологий. После осмотра врач обсуждает с&nbsp;пациентом результаты осмотра, при необходимости назначает рентгенологическую диагностику, проводит профессиональную чистку, которую рекомендуется делать раз в&nbsp;6&nbsp;месяцев.
    h3 Компьютерная томография (КТ)
    p Томографическое исследование помогает заглянуть внутрь челюсти и&nbsp;изучить проблему с&nbsp;разных сторон, послойно обследуя ткани на&nbsp;экране компьютера. С&nbsp;подробным снимком легче поставить точный диагноз и&nbsp;не&nbsp;ошибиться в&nbsp;деталях. Особенно важно делать дентальное&nbsp;КТ для анализа костной ткани при имплантации и&nbsp;протезировании.
    h3 Рентгенография
    p Это неинвазивная аппаратная процедура лучевой диагностики. Рентгенографический снимок визуализирует характеристики мягких и&nbsp;твердых тканей: строение зубных корней, размер, положение и&nbsp;состояние пломб, наличие очагов воспаления и&nbsp;плотность челюстных костей. Прицельный снимок позволяет наглядно изучить 1-3, максимум 4&nbsp;зуба.
    h3 Панорамный снимок
    p Ортопантомограмма&nbsp;&mdash; это разновидность рентгенологического исследования. Высокоточный панорамный снимок дает общую картину состояния зубов, их&nbsp;соотношения относительно друг друга, изменения в&nbsp;корневой системе зубов и&nbsp;костной, окружающей зубы ткани. 
    h3 Цифровая визиография
    p С&nbsp;помощью визиографа стоматолог получает крупное, четкое, контрастное и&nbsp;информативное изображение на&nbsp;компьютере, повышающее качество обследования. Применяется в&nbsp;имплантологии, эндодонтии и&nbsp;терапевтической стоматологии.
    h3 Цифровой дизайн улыбки
    p Врач с&nbsp;помощью компьютерной программы моделирует идеальный зубной ряд и&nbsp;создает физическую демо-модель, которую можно примерить. Благодаря этому результат восстановления или коррекции зубов становится более прогнозируемым.
    h3 Интраоральная видеокамера
    p Это прибор, позволяющий осматривать и&nbsp;делать снимки любой зоны ротовой полости в&nbsp;удобном для стоматолога и&nbsp;пациента режиме. При работе видеокамера находится во&nbsp;рту пациента, а&nbsp;четкое изображение полости рта и&nbsp;зубов выводится на&nbsp;экран монитора. 
    h3 3D-снимок
    p Трехмерный снимок в&nbsp;высоком разрешении покажет строение челюстной кости, ее&nbsp;объем и&nbsp;качество, место расположения пазух, нервных структур, кровеносных сосудов. Возможность заглянуть внутрь зуба помогает определить повреждение стенок и&nbsp;очаги воспаления у&nbsp;корней.
    
    h2 Когда необходима диагностика
    h3 Для профилактики
    p Регулярный (раз в&nbsp;полгода) осмотр у&nbsp;стоматолога&nbsp;&mdash; эффективная профилактика стоматологических болезней. Профилактическая диагностика помогает выявить болезни зубов и&nbsp;десен на&nbsp;ранней стадии и&nbsp;предупредить их&nbsp;дальнейшее развитие. Лечение болезни на&nbsp;начальном этапе по&nbsp;стоимости и&nbsp;сложности отличается от&nbsp;запущенных случаев. 
    h3 При первых признаках дискомфорта
    p Есть ряд признаков, присутствие которых сигнализирует о&nbsp;необходимости посетить стоматолога:
    ul.list-marked
      li кровоточивость десен;
      li галитоз (неприятный запах изо рта);
      li застревание пищи между зубами;
      li подвижность зубов;
      li реакция на&nbsp;горячее, холодное и&nbsp;сладкое;
      li любые болезненные и&nbsp;неприятные ощущения в&nbsp;ротовой полости.
    h3 Перед сложными процедурами
    p Диагностика в&nbsp;стоматологии проводится перед протезированием, имплантацией, установкой брекетов для оценки состояния зубочелюстной системы и&nbsp;составления персонального плана лечения.
    
    h2 Стоимость стоматологической диагностики
    p Цена стоматологической диагностики складывается из&nbsp;осмотра и&nbsp;консультации врача, дополнительных диагностических манипуляций. Цена первичного приема и&nbsp;осмотра в&nbsp;нашем центре&nbsp;&mdash; от&nbsp;700&nbsp;руб.
    p Дополнительные обследования оговариваются с&nbsp;пациентом. Стоимость услуг в&nbsp;нашем центре без скрытых платежей и&nbsp;переплат.
  
  // {{TSENY}}
  +pageSection.container: .content
    h2 Почему диагностику зубов в&nbsp;Санкт-Петербурге предпочтительно делать в&nbsp;стоматологии &laquo;ВайтДент&raquo;?
    ul.list-marked
      li #[strong Все виды и&nbsp;методы диагностических стоматологических исследований.] Проводим полную диагностику на&nbsp;современном оборудовании: компьютерный томограф GALILEOS фирма SIRONA (Германия), рентгенологическая установка XPLOR-X 70&nbsp;(Италия).
      li #[strong Безошибочная постановка диагноза.] Технические возможности клиники и&nbsp;квалификация врачей позволяют ставить точные диагнозы и&nbsp;контролировать поэтапные результаты лечения.
      li #[strong Работа по&nbsp;программам &laquo;Анти-СПИД&raquo; и&nbsp;&laquo;Анти-гепатит&raquo;.] Для тщательной дезинфекции и&nbsp;стерилизации инструментов в&nbsp;клинике проверяют качество стерилизации после каждого цикла.
      li #[strong Профилактический стоматологический осмотр предотвращает болезни ротовой полости.] Берегите ваши зубы. Они не&nbsp;только украшают улыбку, но&nbsp;и&nbsp;поддерживают здоровье всего организма
  
  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Как часто проходят стоматологическую диагностику?
        p Если пациента ничего не&nbsp;беспокоит, то&nbsp;на&nbsp;профилактический прием к&nbsp;стоматологу записываются каждые полгода, профессиональную чистку также рекомендуют делать раз в&nbsp;6&nbsp;месяцев.
        h3 Делают дентальный рентген беременным?
        p Стоматологи рекомендуют лечить зубы и&nbsp;делать рентгенологические снимки со&nbsp;второго триместра.
        h3 В&nbsp;чем разница между панорамным снимком и&nbsp;компьютерной томографией?
        p Это два разных диагностических метода. Панорамный снимок дает общую картину челюсти, включая зубы, кости и&nbsp;суставы. КТ&nbsp;предоставляет детальную картину внутри рта, включая кости, нервы, кровеносные сосуды и&nbsp;зубные единицы.
        h3 Как подготовиться к&nbsp;стоматологическому осмотру?
        p Чтобы избежать усиленного слюноотделения, плотно едят за&nbsp;1,5-2 часа до&nbsp;приема у&nbsp;врача. После еды чистят зубы. При повышенной температуре, насморке визит лучше перенести.
        h3 Диагностические манипуляции вызывают дискомфорт или боль?
        p Профилактический осмотр у&nbsp;стоматолога&nbsp;&mdash; безопасный и&nbsp;безболезненный процесс. Учитывая, что у&nbsp;каждого человека свой болевой порог, этот вопрос задают врачу на&nbsp;первичной консультации. Он&nbsp;расскажет об&nbsp;особенностях диагностических процедур, чтобы выбрать комфортный метод.
        h3 Сколько времени занимает компьютерная томография?
        p Обследование занимает не&nbsp;больше полуминуты. Программа обрабатывает снимки и&nbsp;создает трехмерные изображения 15&nbsp;минут. Расшифровку КТ&nbsp;на&nbsp;диске выдают на&nbsp;следующий день или загружают файлом в&nbsp;базу.
  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Инновационные технологии диагностики в&nbsp;стоматологии/ Ронь Г.И, Жолудев С.Е., Баньков В.И., Маличикова Л.П.;
      li Применение лучевой диагностики в&nbsp;стоматологии/ Македонова Ю.А. Фирсова И.В. Аюпова А.Ш. Кунченко В.А.;
      li Возможности применения компьютерной томографии в&nbsp;стоматологии/ С.&nbsp;В.&nbsp;Микляев, О.&nbsp;М. Леонова, Е.&nbsp;С.&nbsp;Вашковская.
