extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Цифровое интраоральное 3D-сканирование зубов
  +pageSection.container: .content
    p В&nbsp;стоматологии точность оттисков зубов влияет на&nbsp;продуктивность лечения, качество посадки ортодонтической конструкции, интраоральное сканирование произвело революцию в&nbsp;этой области, показав непревзойденную точность.

    h2 Что такое внутриоральное исследование
    p Интраоральное сканирование&nbsp;&mdash; неинвазивная и&nbsp;комфортная для пациента процедура, создающая объемные изображения ротовой полости, мгновенно отображающиеся на&nbsp;мониторе компьютера. Снимки высокого разрешения помогают пациентам увидеть состояние зубов и&nbsp;оценить предлагаемые методы лечения.
    p Используя визуализированные итоги интраорального сканирования зубов стоматологи подбирают план лечения, соответствующий индивидуальным потребностям пациента. Цифровые слепки применяются для изготовления индивидуализированных стоматологических приспособлений, которые безупречно подходят и&nbsp;эффективно функционируют.

    h2 Как работают внутриоральные сканеры
    p Аппарат состоит из&nbsp;ручного зонда с&nbsp;камерой, компьютера и&nbsp;программного продукта. Зонд подключен к&nbsp;компьютеру, на&nbsp;котором установлена программа, обрабатывающая полученные цифровые данные. Чем меньше зонд, тем глубже проникает в&nbsp;область рта для получения точных показателей. Минимальная вероятность рвотного рефлекса делает процесс комфортным для пациентов.

    h3 Этапы интраорального сканирования челюсти
    ol.list-numbered 
      li Врач вводит прибор в&nbsp;рот пациента, направляя световой луч на&nbsp;объекты сканирования;
      li Световой сигнал передается в&nbsp;компьютер, где трансформируется в&nbsp;объемное изображение;
      li 3D-модель, обработанная специальной программой, транслируется в&nbsp;режиме реального времени на&nbsp;мониторе компьютера.
    p Процесс интраорального исследования поверхности всех зубных единиц и&nbsp;слизистой оболочки с&nbsp;рассмотрением затемненных участков в&nbsp;разных плоскостях занимает не&nbsp;больше 2-х минут.

    h2 Показания к&nbsp;процедуре
    ul.list-marked
      li #[strong Ортодонтическое лечение.] Сканирование повышает точность поставленного диагноз, помогает наметить действенный план лечения с&nbsp;прогнозируемым результатом. Также на&nbsp;основе трехмерных слепков создают лечебные, профилактические и&nbsp;ретенционные ортодонтические аппараты.
      li #[strong Имплантация.] Объемное исследование проводится при планировании дентальной имплантации для создания индивидуального хирургического шаблона. В&nbsp;соответствии с&nbsp;цифровыми 3D-слепками определяется точное расположение зубных имплантов.
      li #[strong Гнатология.] Исследование предполагает детальную диагностику, обозначает точную проблему, чтобы спланировать продуктивное лечение с&nbsp;применением релаксационных сплинтов и&nbsp;шин.
      li #[strong Ортопедическая стоматология.] Трехмерное сканирование помогает создавать точные ортопедические изделия, например, дентальные вкладки, коронки, мостовидные протезы.
  // {{TSENY}}
  +pageSection.container: .content
    h2 Преимущества внутриротового сканирования
    h3 Комфортность
    p Цифровое исследование минимизирует неприятные ощущения в&nbsp;ходе процедуры. Пациенту не&nbsp;приходится терпеть дискомфорт, связанный с&nbsp;классическим снятием оттисков и&nbsp;высокой вероятностью развития рвотного рефлекса.
    h3 Минимизация временных затрат
    p Сокращается время лечения, а&nbsp;результаты сканирования немедленно отправляются в&nbsp;стоматологическую лабораторию с&nbsp;помощью программного обеспечения. Что сокращает количество переделок и&nbsp;время выполнения по&nbsp;сравнению с&nbsp;традиционными методами. 
    h3 Точность
    p Внутриротовые сканеры применяют передовые технологии 3D-визуализации, которые передают реальную форму и&nbsp;контуры зубов, предоставляя врачу четкую информацию о&nbsp;структуре зубных единиц, позволяя планировать действенное лечение.
    h3 Лучшее информирование пациентов
    p После исследования всей дуги стоматологи используют технологию 3D-визуализации для диагностики стоматологических болезней, предоставляя объемную картину с&nbsp;высоким разрешением и&nbsp;делясь ею&nbsp;в&nbsp;цифровом виде с&nbsp;пациентами на&nbsp;мониторе. Увидев текущее состояние своего зубо-челюстного аппарата, пациенты могут эффективно общаться с&nbsp;лечащим врачом.

    h2 Противопоказания
    p Внутриротовое сканирование&nbsp;&mdash; неинвазивное исследование, поэтому противопоказания к&nbsp;его проведению отсутствуют. В&nbsp;ряде случаев, например, при подвижности зубов, работу сканера затрудняют возможные изменения положения зубных единиц во&nbsp;время процедуры. В&nbsp;таких ситуациях подбирают другой метод обследования.

    h2 Почему интраоральное сканирование зубов в&nbsp;Санкт-Петербурге делают в&nbsp;&laquo;ВайтДент&raquo;?
    ul.list-marked
      li Интраоральное сканирование в&nbsp;нашем центре повышает качество, комфортность и&nbsp;безопасность лечения, гарантирует долговечность выполненных работ.
      li Врачи, понимающие анатомию челюстно-лицевой области, с&nbsp;богатым клиническим опытом, подготовленные к&nbsp;работе с&nbsp;прогрессивным оборудованием, достигают высокоэффективных результатов лечения.
      li Регулярное обучение и&nbsp;обмен опытом&nbsp;&mdash; еще одна ценность нашей клинки. Циркулирующие между специалистами знания развивают смежные компетенции, усиливая команду.
      li Собственная лаборатория совершенствует экспертизу в&nbsp;изготовлении ортопедических конструкций.

  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Какая точность внутриротовых сканеров?
        p Отклонение составляет 12&nbsp;микрон, что в&nbsp;5-6 раз точнее традиционных методов.
        h3 Что влияет на&nbsp;качество сканирования?
        p Расстояние&nbsp;&mdash; увеличение расстояния повышает вероятность ошибок. Подвижность мягких тканей также влияет на&nbsp;точность исследования.
        h3 Используют внутриоральный сканер для детей?
        p Да, это непродолжительная, безопасная и&nbsp;комфортная процедура, что важно для юных пациентов.
        h3 Как долго длится процесс интраорального сканирования?
        p На&nbsp;исследование челюсти и&nbsp;зубов уходит от&nbsp;5&nbsp;до&nbsp;10&nbsp;минут, в&nbsp;зависимости от&nbsp;сложности случая и&nbsp;объема работы.
        h3 Насколько безопасно интраоральное сканирование для здоровья?
        p Процедура не&nbsp;излучает электромагнитных лучей, не&nbsp;вызывает дискомфорта и&nbsp;аллергии.

  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Комфорт лечения, восприятие времени и&nbsp;предпочтение традиционных и&nbsp;цифровых методов снятия оттисков: сравнительное исследование среди молодых пациентов/ Бурхардт&nbsp;Л., Ливас&nbsp;К., Кердейк&nbsp;В., ван дер Меер В.Дж., Рен&nbsp;Й.;
      li Внутриротовые цифровые сканеры/Кравиц Н.Д., Грот&nbsp;К., Джонс П.Е., Грэм Дж.В., Редмонд В.Р.; 
      li Оценка точности традиционных и&nbsp;цифровых методов получения полных зубных оттисков in-vitro/ Эндер&nbsp;А., Мель&nbsp;А.
