extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Интраоральная рентгенография
  +pageSection.container: .content
    p Интраоральная рентгенография&nbsp;&mdash; важный диагностический инструмент в&nbsp;стоматологии. Предоставляет подробное изображение зубов, костей и&nbsp;окружающих мягких тканей внутри рта. Интраоральный снимок помогает врачам оценивать здоровье полости рта, выявлять проблемы и&nbsp;эффективно планировать лечение.

    h2 Что такое интраоральная рентгенография
    p Это информативный диагностический метод выявления стоматологических патологий, скрытых опухолевых образований и&nbsp;других нарушений зубочелюстного аппарата. Внутриротовая рентгенограмма формирует четкую детальную картину состояния изучаемого участка, становится важным дополнением к&nbsp;визуальному осмотру.
    p Регулярное включение интраоральных рентгенограмм в&nbsp;профилактические осмотры гарантирует раннее выявление потенциальных проблем, внося большой вклад в&nbsp;продуктивное стоматологическое обслуживание.
    p Интраоральная рентгенография зубов помогает диагностировать такие болезни, как:
    ul.list-marked
      li внутренний тип кариеса, развивающийся в&nbsp;глубоких тканях зубных единиц;
      li пульпит&nbsp;&mdash; воспаление пульпы, мягкой ткани внутри зубной полости;
      li киста&nbsp;&mdash; капсульное образование, развившееся в&nbsp;верхней части корня;
      li периодонтит&nbsp;&mdash; воспаление тканей возле зуба;
      li пародонтоз&nbsp;&mdash; воспаление и&nbsp;постепенное разрушение тканей пародонта.
    p Также интраоральная рентгенография помогает в&nbsp;стоматологии реализовать контрольные функции, наглядно демонстрируя качество установленных пломб и&nbsp;вкладок, отслеживая темпы регенерации поврежденных структур.

    h2 Виды внутриротовых рентгенограмм
    ul.list-marked
      li #[strong Прикусные] делают чаще для проверки межзубного кариеса. Как правило, выполняют один интраоральный рентгеновский снимок для оценки каждой стороны или сегмента задних зубов. Рентгенограммы делают горизонтально или вертикально, чтобы получить детали кариозных поражений при смыкании верхних и&nbsp;нижних зубных единиц.
      li #[strong Периапикальные] показывают состояние и&nbsp;структуру зуба&nbsp;&mdash; от&nbsp;коронки до&nbsp;корня. Помогают определять нарушения в&nbsp;корневой области, а&nbsp;также патологии костной ткани.
      li 
        p #[strong Окклюзионные]&nbsp;&mdash; это рентгенологическое обследование 1-3 (реже&nbsp;4) элементов зубного ряда с&nbsp;определением ретинированных и&nbsp;дистопированных зубов, и&nbsp;изучением особенностей небной доли. Метод еще применяется для исследования состояния слюнных желез, выявления возможных челюстных кист и&nbsp;других образований.
        p Особенность методики&nbsp;&mdash; пленка размещается между сомкнутыми зубами, что легче переносится пациентами при высокой восприимчивости к&nbsp;инородным телам во&nbsp;рту.

    h2 Плюсы и&nbsp;минусы
    p Внутриротовые рентгенографические изображения жизненно важны для обнаружения и&nbsp;понимания природы кариеса зубов, связанных с&nbsp;ним патологий и&nbsp;глубоко укоренившихся инфекций зубов, полости рта или костей челюсти.
    h3 Достоинства
    ul.list-marked
      li Высокое разрешение и&nbsp;детализация изображений помогает обнаружить кариес, пародонтальные заболевания и&nbsp;оценить структуры корней на&nbsp;ранней стадии; 
      li Точная локализация стоматологических патологий способствует грамотному планированию лечения и&nbsp;мониторингу; 
      li Низкое радиационное воздействие делает метод предпочтительным для пациентов и&nbsp;врачей;
      li Удобство и&nbsp;доступность, так как внутриротовое обследование облегчает и&nbsp;ускоряет диагностику для своевременного вмешательства.
    p Интраоральная рентгенография также определяет структуры, которые не&nbsp;видны во&nbsp;время клинического обследования. Это помогает обнаружить не&nbsp;выявленные проблемы, например, инфекции, опухоли, кисты и&nbsp;аномалии развития.

    h3 Недостатки
    ul.list-marked
      li Проекционные искажения из-за неправильного угла наклона рентгеновской трубки;
      li Непропорциональное отображение зуба и&nbsp;его частей;
      li Низкая эффективность при обследовании пародонтальных тканей;
      li Неудобное расположение пленки для задних зубов.
    p Минусы часто связаны с&nbsp;неопытностью оператора, неглубоким плоским небом, непереносимостью пациентом посторонних предметов в&nbsp;ротовой полости.

    h2 Как проводится интраоральная рентгенография
    ol.list-numbered
      li Перед процедурой рекомендуется снять украшения, очки, мобильные части протезов или ортодонтических аппаратов, так как их&nbsp;присутствие влияет на&nbsp;качество снимков;
      li Пациент садится, на&nbsp;шее размещается воротник для защиты от&nbsp;рентгеновских лучей;
      li Внутри рта в&nbsp;области исследуемого зуба помещается пластина с&nbsp;цифровой плёнкой, на&nbsp;которую позже переносится изображение;
      li Запись безболезненная и&nbsp;занимает несколько секунд. 
    p Близкое положение пленки к&nbsp;зубу позволяет получить четкое изображение с&nbsp;возможностью оценить мелкие детали.

    h2 Цены внутриротовой рентгенографии
    p Стоимость процедуры зависит от&nbsp;выбранного метода рентгенологического исследования ротовой полости и&nbsp;количества обследуемых элементов.
  // {{TSENY}}
  +pageSection.container: .content
    h2 Почему интраоральную рентгенографию в&nbsp;Санкт-Петербурге предпочтительно делать в&nbsp;&laquo;ВайтДент&raquo;?
    p Использование нашими специалистами высокоточной рентгенологической установка XPLOR-X 70&nbsp;(Италия):
    ul.list-marked
      li снижает продолжительность процедуры;
      li минимизирует дозу радиационного облучения;
      li повышает четкость, резкость и&nbsp;плотность изображения;
      li ускоряет получение результатов обследования.
  
  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Какие противопоказания для рентгенологического исследования?
        ul.list-marked
          li Беременность в&nbsp;период первого триместра;
          li Кровоточивость тканей;
          li Пациенты в&nbsp;тяжелом физическом состоянии.
        h3 В&nbsp;чем разница между мобильным и&nbsp;стационарным тубусом?
        p Мобильный удобен в&nbsp;работе благодаря небольшим размерам и&nbsp;весу. Есть возможность перемещать внутри клиники. У&nbsp;стационарного большее напряжение и&nbsp;сила тока, но&nbsp;надо следить за&nbsp;движениями пациента.
        h3 Преимущества цифровой интраоральной рентгенографии перед стандартной?
        p Низкая доза радиации, возможность мгновенного просмотра изображений, улучшенная четкость и&nbsp;контрастность снимков, а&nbsp;также возможность их&nbsp;хранения в&nbsp;электронном виде.
        h3 Как минимизировать дискомфорт при внутриротовой рентгенографии?
        p Для стабилизации пациента использовать комфортное кресло с&nbsp;фиксирующим подголовником и&nbsp;подлокотниками, индивидуальную защиту из&nbsp;облегченных материалов и&nbsp;пленку с&nbsp;закругленными краями.
        h3 Какие факторы влияют на&nbsp;разрешающую способность рентгеновских снимков?
        p Физико-технические параметры съемки, фокусировка, рентгенографический шум.
  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Ортопедическая стоматология/ под ред. И.Ю. Лебеденко, С.Д. Арутюнова, А.Н. Ряховского;
      li Порядок работы с&nbsp;цифровой внутриротовой рентгенографией: систематический обзор/ Энн Венцель, Энн Мейстад;
      li Методы повышения эффективности интраоральных панорамных рентгенодиагностических систем/ Бессонов В.Б.
