extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Панорамный снимок зубов (Ортопантомограмма)
  +pageSection.container: .content
    p Рентген в&nbsp;стоматологии помогает проанализировать состояние зубов, десен и&nbsp;окружающих структур, обнаружить болезни, незамеченные во&nbsp;время инструментально-визуального осмотра. Определяется главное преимущество рентгенологической диагностики высокой информативностью. 

    h2 Что такое Ортопантомограмма (ОПТГ)?
    p Ортопантомограмма зубов&nbsp;&mdash; это панорамный снимок зубов, показывающий полностью челюсть в&nbsp;развороте. Кроме зубных единиц, корней, внутренних полостей, коронок и&nbsp;пломб снимок показывает ткани пародонта, околоносовых пазух. ОПТГ в&nbsp;стоматологии необходима при составлении плана ортодонтического лечения.
    p Процедура востребована за&nbsp;счет комфортности, низкой дозы облучения, доступности, скорости оценки анатомии челюстного аппарата и&nbsp;связанных патологий.
    p Панорамный снимок зубов часто назначается врачами в&nbsp;качестве скринингового инструмента, поскольку дает полный обзор зубов и&nbsp;челюстей. Доза радиации, получаемая пациентом, гораздо меньше дозы стандартной рентгенографии грудной клетки. Поскольку это внеротовая панорамная рентгенография, меньше ограничений при получении изображения, когда пациент испытывает трудности с&nbsp;открытием рта или рвотным рефлексом.

    h2 Показания к&nbsp;процедуре
    ul.list-marked
      li Кариозное поражение;
      li Пародонтальные болезни с&nbsp;одновременной оценкой зубов и&nbsp;степени дефектов пародонтальной костной ткани;
      li Ортодонтическая диагностика зубных инфекций, стадии развития прикуса, наличия удаленных, дополнительных или повреждённых зубных единиц;
      li Онкология челюстных тканей;
      li Переломы зубов и&nbsp;челюстей;
      li Опухоли, кисты и&nbsp;другие болезни, которые не&nbsp;отражаются на&nbsp;прицельных снимках;
      li Планирование имплантации. 
    p Решение о&nbsp;проведении панорамного рентгена зубов принимает врач на&nbsp;основе показаний и&nbsp;оценки риска облучения.

    h2 Противопоказания к&nbsp;ОПТГ
    p Перед проведением обследования консультируются с&nbsp;врачом, который определяет наличие или отсутствие противопоказаний: 
    ul.list-marked
      li беременность, особенно первый триместр, во&nbsp;втором триместре обследование назначают по&nbsp;обоснованным причинам;
      li период лактации (это относительное противопоказание);
      li превышение суммарной нагрузки облучения за&nbsp;год;
      li тяжелое состояние обследуемого, процедуру переносят до&nbsp;стабилизации самочувствия. 

    h2 Преимущества ОПТГ 
    p Используя панорамные снимки челюсти, стоматологи совершенствуют диагностические возможности, обеспечивают точное планирование лечения и&nbsp;гарантируют высококачественную стоматологическую помощь.
    ul.list-marked
      li Комплексный обзор: метод предоставляет широкий обзор всей структуры полости рта на&nbsp;одном изображении;
      li Временная и&nbsp;финансовая эффективность: одно сканирование заменяет ряд внутриротовых рентгеновских снимков, экономя время и&nbsp;снижая затраты;
      li Снижение воздействия радиации: пациент получает низкую дозу радиации по&nbsp;сравнению с&nbsp;классическими снимками;
      li Комфорт для пациента: неинвазивное и&nbsp;комфортное обследование, особенно для людей, реагирующих рвотными позывами на&nbsp;проведение внутриротовой рентгенографии;
      li Раннее выявление проблем: кариеса, ретинированных зубов, кист и&nbsp;опухолей на&nbsp;ранней стадии для улучшения результатов лечения;
      li Расширенное планирование лечения: орто снимок зубов дает подробную информацию об&nbsp;ортодонтии, имплантации или хирургических процедурах.

    h2 Как проводится ОПТГ
    p Подготовка для обзорного снимка зубов не&nbsp;нужна. Необходимо снять металлические украшения, ортодонтические съемные системы, чтобы изображение получилось без искажений и&nbsp;лишние элементы не&nbsp;перекрыли часть снимка.
    ol.list-numbered
      li Пациент занимает место у&nbsp;прибора, надевает защитный фартук и&nbsp;воротник, прикусывает пластиковый держатель.
      li Во&nbsp;время процедуры пациент остается в&nbsp;неподвижном положении до&nbsp;15&nbsp;сек.
      li Когда начинается сканирование, вокруг головы обследуемого вращается излучатель. 
      li Полученные данные переводятся в&nbsp;цифровой формат, затем их&nbsp;обрабатывает компьютерная программа. На&nbsp;основании информации компьютер создает детализированное изображение. Общее время процедуры&nbsp;&mdash; до&nbsp;15&nbsp;минут.
      li Врач оценивает и&nbsp;интерпретирует полученное изображение, при необходимости разрабатывает план лечения.
    +blockMarked 
      p #[strong Важно: во&nbsp;время ОПТГ зубных рядов нельзя сглатывать слюну, двигаться и&nbsp;вертеть головой]

    h2 Недостатки ОПТГ
    ul.list-marked
      li Пониженное качество изображения;
      li Геометрические искажения;
      li Наложение структур.
    p Избежать ошибок помогает точное позиционирование пациента.

    h2 Стоимость ортопантомограммы
    p Помимо самого исследования панорамный рентген зубов может включать распечатку цифрового снимка, запись на&nbsp;переносной носитель информации, флеш-накопитель.
  // {{TSENY}}
  +pageSection.container: .content
    h2 Почему для ОПТГ в&nbsp;Санкт-Петербурге выбирают &laquo;ВайтДент&raquo;?
    ul.list-marked
      li Специалисты клиники постоянно совершенствуют навыки, следят за&nbsp;тенденциями в&nbsp;области стоматологии, посещают конференции и&nbsp;семинары.
      li Для диагностики используем рентгенологическую установку XPLOR-X 70&nbsp;(Италия) с&nbsp;высокой проникающей способностью рентгеновского луча. Что гарантирует четкость, резкость и&nbsp;плотность изображения.
      li Современное оборудование ускоряет и&nbsp;упрощает процедуру обследования, которая вместе с&nbsp;подготовкой и&nbsp;надеванием защиты занимает не&nbsp;больше 15&nbsp;минут, а&nbsp;цифровой снимок готовится в&nbsp;момент. 
      li Полученный снимок хранится в&nbsp;электронной базе данных клиники. Даже если пациент делал исследования несколько лет назад, врач быстро найдет его результаты.

  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Как часто допустимо повторять процедуру ОПТГ?
        p Рентгеновский обзорный снимок зубов делают довольно часто, учитывая допустимую годовую дозу облучения,&nbsp;&mdash; до&nbsp;50&nbsp;раз. Необходимости в&nbsp;таком количестве обследований нет. Процедуру назначает стоматолог, основываясь на&nbsp;совокупную лучевую нагрузку конкретного человека.
        h3 Влияет&nbsp;ли панорамное исследование на&nbsp;здоровье?
        p Современные рентгенологические аппараты в&nbsp;&laquo;ВайтДент&raquo; снабжены системами минимизации радиационного воздействия. Действие электромагнитных волн кратковременно, что делает процедуру безопасной даже при повторном обследовании.
        h3 Какие ограничения у&nbsp;панорамного орто снимка?
        p Он&nbsp;не&nbsp;даёт точную и&nbsp;подробную информацию об&nbsp;отдельных зубных единицах или мягких тканях, например мышцах.
        h3 Выявляют рак челюсти с&nbsp;помощью ортопантомограммы?
        p Да, исследование дает объективное и&nbsp;полноценное изображение зубной дуги и&nbsp;окружающих тканей, что помогает врачу обнаружить проблемы, которые не&nbsp;выявляются при визуальном осмотре, например, злокачественные образования.

  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Использование панорамной рентгенологии в&nbsp;стоматологической практике/ Раштон В.Э., Хорнер&nbsp;К.;
      li Ошибки позиционирования и&nbsp;оценка качества в&nbsp;панорамной рентгенографии/ Диллон&nbsp;М., Раджу С.М., Верма&nbsp;С., Томар&nbsp;Д., Мохан Р.С. И&nbsp;другие;
      li Применение ортопантомографии в&nbsp;диагностике заболеваний зубочелюстной системы/ Вербицкая Л.П., Нерсесянц С.А., Мильштейн М.И., Нанавян Л.А.
