extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Прицельный снимок зуба
  +pageSection.container: .content
    p Прицельный снимок зуба (радиовизиография) представляет собой важный диагностический инструмент в&nbsp;стоматологии, дающий детализированную информацию о&nbsp;состоянии зубной полости. Используется для выявления скрытых проблем, например, кариеса, пульпита и&nbsp;других воспалительных процессов.

    h2 Что такое прицельный снимок зуба
    p Это метод диагностики, который использует рентгеновские лучи для формирования изображения внутренних дентальных структур. Позволяет врачам рассмотреть скрытые проблемы, состояние зубных единиц и&nbsp;окружающих их&nbsp;тканей, которые не&nbsp;видны невооруженным глазом. Целевой рентген позволяет точно диагностировать и&nbsp;контролировать лечение зубных болезней. Процедуру назначает стоматолог, когда необходима дополнительная диагностика или контроль лечения.
    h2 Показания к&nbsp;проведению прицельного снимка
    ul.list-marked
      li Диагностика кариеса и&nbsp;заболеваний десен;
      li Изучение состояния каналов внутри зубного корня;
      li Контролирование качества лечения, например, после пломбирования корневых каналов;
      li Определение скрытых полостей;
      li Мониторинг качества предыдущих стоматологических процедур;
      li Подготовка к&nbsp;протезированию или имплантации.

    h2 Противопоказания и&nbsp;ограничения
    ul.list-marked
      li #[strong Беременность:] рентген не&nbsp;рекомендуется в&nbsp;первом триместре беременности из-за вероятного риска для развивающегося плода.
      li #[strong Критическое состояние пациента:] процедура не&nbsp;проводится, если человек находится в&nbsp;критическом состоянии до&nbsp;его стабилизации.
      li #[strong Открытые кровотечения:] активные кровотечения в&nbsp;ротовой полости&nbsp;&mdash; противопоказания для проведения прицельного рентгена.
      li #[strong Психические расстройства:] пациенты с&nbsp;рядом психических расстройств не&nbsp;всегда в&nbsp;состоянии адекватно следовать указаниям во&nbsp;время процедуры, что делает ее&nbsp;выполнение невозможным.
    p Несмотря на&nbsp;ряд противопоказаний, прицельный рентген зубов считается безопасной процедурой с&nbsp;минимальной дозой облучения. В&nbsp;случаях, когда польза диагностики превышает возможные риски, стоматологи могут принимать решение о&nbsp;ее&nbsp;проведении с&nbsp;соблюдением необходимых мер предосторожности.

    h2 Технология проведения прицельного снимка
    h3 Оборудование, используемое для процедуры
    p В&nbsp;&laquo;ВайтДент&raquo;, чтобы сделать прицельный снимок зуба, используем рентгенологическую установку XPLOR-X 70&nbsp;(Италия), предназначенную для интраоральной рентгенографии в&nbsp;стоматологии и&nbsp;обеспечивающей высокое разрешение снимков. 
    h3 Этапы выполнения процедуры
    ol.list-numbered
      li На&nbsp;обследуемого надевается защитный фартук, который нейтрализует воздействие рентгеновского излучения на&nbsp;тело;
      li Перед процедурой необходимо снять бижутерию и&nbsp;другие металлические предметы, дающие тени на&nbsp;снимке;
      li Врач фиксирует голову пациента в&nbsp;необходимом положении, чтобы обеспечить корректное направление рентгеновского луча на&nbsp;исследуемую зубную единицу;
      li В&nbsp;ротовой полости обследуемого размещается датчик радиовизиографа (или пленка, если используется аналоговый аппарат), который принимает рентгеновские лучи;
      li Снимок занимает 1-2&nbsp;секунды. Задача пациента в&nbsp;это время сохранять неподвижность для получения четкого изображения;
      li Полученная информация сразу передается на&nbsp;экран компьютера для анализа стоматологом. Цифровые технологии позволяют быстро обрабатывать и&nbsp;сохранять снимки.

    h2 Виды прицельных снимков
    h3 Периапикальный	
    p Применяется для детального изучения состояния зубной единицы и&nbsp;прилегающих тканей. Известен как прикорневой снимок и&nbsp;позволяет получить изображение коронки, корня зуба и&nbsp;прилегающих к&nbsp;ним мягких и&nbsp;твердых тканей.
    h3 Интерпроксимальный
    p Используется в&nbsp;стоматологии для диагностики состояния контактных поверхностей зубов. Визуализирует межзубные пространства и&nbsp;оценивает зубные структуры на&nbsp;наличие кариеса, воспалительных процессов и&nbsp;других болезней.

    h2 Преимущества метода
    ul.list-marked
      li #[strong Высокая точность:] прицельные снимки выявляют кариес на&nbsp;ранних стадиях, а&nbsp;также другие проблемы, которые остались незаметны при визуальном осмотре.
      li #[strong Низкая доза облучения:] современные рентгенологические аппараты дают минимальную дозу, если сравнивать с&nbsp;классическими рентгеновскими методами. Доза облучения до&nbsp;500 раз ниже допустимой нормы в&nbsp;год.
      li #[strong Скорость и&nbsp;комфорт:] исследование занимает до&nbsp;7&nbsp;минут и&nbsp;не&nbsp;требует специальной подготовки. Снимок готовится за&nbsp;считанные секунды и&nbsp;выводится на&nbsp;экран для немедленного анализа.

  // {{TSENY}}
  +pageSection.container: .content
    h2 Особенности проведения прицельного снимка у&nbsp;беременных женщин	
    p Прицельный рентген зуба у&nbsp;беременных вызывает много вопросов и&nbsp;опасений, связанных с&nbsp;возможным вредом для плода. Современное оборудование и&nbsp;технологии позволяют проводить эту процедуру с&nbsp;минимальными рисками.
    p #[strong Минимизация радиационного воздействия:] прицельный рентген зубной единицы выполняется узконаправленными визиографовами, которые излучают микродозы радиации, сопоставимые с&nbsp;естественным фоном окружающей среды. Это снижает потенциально негативное воздействие на&nbsp;развивающийся плод.
    p #[strong Защитные меры:] во&nbsp;время процедуры шея и&nbsp;грудная клетка пациентки защищаются специальным фартуком, что еще больше снижает риск облучения.
    p #[strong Время проведения:] рекомендуется отказаться от&nbsp;рентгенографии в&nbsp;первые месяцы беременности, когда плод наиболее уязвим. С&nbsp;16&nbsp;недели риск негативного воздействия снижается, и&nbsp;по&nbsp;показаниям допустимо проводить рентген.

    h2 Почему прицельный рентген лучше сделать в&nbsp;&laquo;ВайтДент&raquo;?
    ul.list-marked
      li Используем высокотехнологичное оборудование, гарантирующее четкость и&nbsp;достоверность снимка, минимальное лучевое воздействие. Это позволяет получать информативные для диагностики снимки.
      li В&nbsp;&laquo;ВайтДент&raquo; работают опытные рентгенологи, которые обеспечивают правильное выполнение процедуры и&nbsp;интерпретацию результатов, что исключает ошибки при постановке диагноза и&nbsp;выборе действенного метода лечения.
      li Исследование занимает минимум времени и&nbsp;выполняется без боли. Пациенты получают результаты мгновенно, ускоряя стадию перехода к&nbsp;лечению.
      li Предлагаем конкурентоспособные расценки на&nbsp;услуги рентгена и&nbsp;возможность рассрочки для постоянных клиентов, что делает лечение более доступным для пациентов.

  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Как часто допустимо делать прицельный снимок зуба?
        p Частота проведения зависит от&nbsp;состояния здоровья человека, типа используемого оборудования и&nbsp;рекомендаций стоматолога. В&nbsp;среднем советуют проводить рентгенографию 3-5 раз в&nbsp;год или даже чаще для контроля лечения.
        h3 Проводят процедуру при наличии металлических коронок?
        p Да, прицельный рентген делают на&nbsp;зубах с&nbsp;металлическими коронками.
        h3 Сколько времени занимает обследование?
        p Выполнение прицельного рентгена занимает 1-7&nbsp;минут.
        h3 Делают прицельный снимок при воспалении десен?
        p Да, радиовизиографию делают при воспалении дёсен.
        h3 Как долго хранятся результаты снимка?
        p Стандартно снимки без выявленных патологий хранятся до&nbsp;двух лет. Снимки, на&nbsp;которых зафиксированы патологические изменения, хранятся пять и&nbsp;боле лет.

  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Терапевтическая стоматология/ Янушевич О.О.;
      li Рентгенологическая диагностика в&nbsp;стоматологии/ Луцкая И.К.;
      li Искусство рентгенографии зубов/ Рогацкин Д.В.
