extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Рентгенограмма околоносовых пазух
  +pageSection.container: .content
    p Рентгенография в&nbsp;оториноларингологии играет ключевую роль в&nbsp;диагностировании и&nbsp;лечении ЛОР-болезней. Рентген придаточных пазух носа показан для определения степени воспаления, а&nbsp;также получения информации о&nbsp;возможных анатомических изменениях в&nbsp;этой области.

    h2 Что такое рентген пазух носа?
    p Это высокоинформативная диагностическая процедура, которая визуализирует околоносовые синусы с&nbsp;помощью электромагнитных волн. Метод применяют для выявления воспаления, инфицирования, опухолевых и&nbsp;других патологических изменений в&nbsp;области носовых пазух.

    h2 Показания и&nbsp;противопоказания
    h3 Показания
    ul.list-marked
      li Сильные боли в&nbsp;лобной области и&nbsp;верхней челюсти;
      li Боли в&nbsp;носу после ОРЗ или ОРВИ;
      li Заложенность носа;
      li Светобоязнь, усиленное слезотечение;
      li Дискомфорт, чувство давления и&nbsp;болевые ощущения в&nbsp;области носа, лба, щек и&nbsp;глаз. Постепенно боль &laquo;расплывается&raquo; и&nbsp;начинает болеть голова;
      li Густые желтые или зеленые выделения из&nbsp;носовых ходов с&nbsp;неприятным запахом;
      li Инородные предметы в&nbsp;носу;
      li Новообразования;
      li Травмы головы, носа;
      li Подготовка к&nbsp;операции.
    h3 Противопоказания
    ul.list-marked
      li Беременность (особенно первый триместр);
      li Возраст до&nbsp;7&nbsp;лет (кроме случаев, когда диагностическая польза превышает риски облучения).
    p К&nbsp;ограничениям относят тяжелое состояние пациента и&nbsp;уже полученная за&nbsp;предшествующий год допустимая лучевая нагрузка.
  // {{TSENY}}
  +pageSection.container: .content
    h2 Подготовительные процедуры
    p Конкретная подготовка к&nbsp;рентгенографии придаточных пазух носа не&nbsp;предусмотрена. Больному рекомендуется снять металлические украшения и&nbsp;аксессуары, другие предметы, которые могут мешать получению четкого изображения.

    h2 Как проводится процедура
    ol.list-numbered
      li Пациенту предлагается сесть или встать, опираясь подбородком на&nbsp;выступ рентген-аппарата;
      li Врач защищает остальные части тела, свинцовым и&nbsp;композитным экраном;
      li Голову располагают таким образом, чтобы лучи рентгена проходили через нужную область; 
      li При выполнении снимка придется на&nbsp;несколько секунд задержать дыхание;
      li Рентген пазух делают в&nbsp;двух проекциях: носоподбородочной и&nbsp;носолобной;
      li При необходимости выполняется прицельный рентген одной гайморовой пазухи.
    p Процедура безболезненная и&nbsp;комфортная, занимает 1-2&nbsp;минуты.

    h2 Расшифровка результатов
    p После рентгена носовых пазух радиолог или лечащий врач анализирует снимок на&nbsp;наличие патологий: воспаления, скопления жидкости, опухолей и&nbsp;т.д. Результаты готовы к&nbsp;выдаче в&nbsp;течение часа или на&nbsp;следующий день.

    h2 Альтернативные методы диагностики
    p К&nbsp;альтернативным методам относятся компьютерная и&nbsp;магнитно-резонансная томография, которые применяют в&nbsp;случае противопоказаний к&nbsp;рентгену или для уточнения диагноза.

    h2 Частота проведения рентгенологического исследования и&nbsp;лучевая нагрузка
    p Рентген пазух носа выполняется по&nbsp;мере необходимости и&nbsp;в&nbsp;зависимости от&nbsp;клинических показаний. Частота проведения определяется врачом, учитывая минимально допустимую лучевую нагрузку для пациента. 
    p Согласно санитарным нормам максимальная безопасная годовая лучевая нагрузка&nbsp;&mdash; 50&nbsp;мЗв. За&nbsp;один сеанс рентгена околоносовых пазух пациент получает лишь 0,02&nbsp;мЗв.

    h2 Почему для рентгена придаточных пазух носа в&nbsp;Санкт-Петербурге выбирают стоматологию &laquo;ВайтДент&raquo;?
    ul.list-marked
      li #[strong Современное оборудование:] &laquo;ВайтДент&raquo; располагает новейшими рентгенологическими установками, которые позволяют получать четкие снимки при сниженной дозе облучения для точной диагностики.
      li #[strong Квалифицированные специалисты:] в&nbsp;стоматологии работают опытные радиологи и&nbsp;стоматологи, которые точно интерпретируют результаты.
      li #[strong Отзывы пациентов:] отзывы и&nbsp;репутация среди пациентов служат дополнительной причиной для выбора нашей клиники.

  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Можно&nbsp;ли делать рентген придаточных пазух пациентам младше 5&nbsp;лет?	
        p Врачи не&nbsp;рекомендуют процедуру детям до&nbsp;5&ndash;7 лет без острой необходимости. Однако в&nbsp;ряде случаев польза процедуры превышает возможный вред, а&nbsp;современное оборудование сводит дозу облучения к&nbsp;минимальным значениям.
        h3 Насколько информативна процедура при хроническом гайморите?
        p Рентген информативен при хроническом гайморите, процедура помогает оценить степень тяжести и&nbsp;особенности течения болезни, помогая врачу определиться с&nbsp;действенной тактикой лечения.
        p На&nbsp;снимке при гайморите белые пятна в&nbsp;области гайморовых полостей свидетельствуют о&nbsp;воспалении, а&nbsp;также скоплении экссудата.
        h3 Определяет рентгенография аллергический ринит?
        p Исследование выявляет признаки органических поражений в&nbsp;области носа, а&nbsp;также отек слизистой ткани носа. Диагноз ставится на&nbsp;основании характера клинических проявлений и&nbsp;результатов аллергологического обследования больного.
        h3 Влияет&nbsp;ли наличие зубных имплантов на&nbsp;качество снимка?
        p Металлические импланты могут вызывать артефакты, но&nbsp;чаще не&nbsp;мешают диагностике пазух.
        h3 Какой метод диагностики предпочтительнее: рентген или КТ?
        p Выбор зависит от&nbsp;клинической ситуации и&nbsp;целей диагностики. КТ&nbsp;предлагает более детализированное изображение и&nbsp;используется, если требуется уточненная диагностика после рентгена.
  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Современные аспекты лучевой диагностики в&nbsp;оториноларингологии/ Мустафаев Д.М., Зенгер В.Г., Ашуров З.М., Селин B.Н., Исаев В.М., Широчина О.А., Копченко О.О.;
      li Лучевая диагностика заболеваний околоносовых пазух и&nbsp;полости носа/ Труфанов Г.Е.;
      li Лучевая диагностика. Оториноларингология/ Эрвин А. Дюннебир.
