extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Телерентгенография 
  +pageSection.container: .content
    p Телерентгенография&nbsp;&mdash; способ удаленной обзорной рентгенографии, минимизирующий проекционное искажение. Процедура дает точную и&nbsp;информативную картину строения костей и&nbsp;мягких тканей головы и&nbsp;шеи, помогая врачам точно диагностировать проблемы, планировать лечение и&nbsp;оценивать его результативность.

    h2 Что такое телерентгенограмма (ТРГ)?
    p Это рентгеновский снимок черепа в&nbsp;двух проекциях. ТРГ передает точные пропорции, что важно для диагностирования и&nbsp;планирования лечения в&nbsp;ортодонтии и&nbsp;челюстно-лицевой хирургии.
    p Характеристики телерентгенограммы:
    ul.list-marked
      li #[strong масштаб 1:1:] передает точное соотношение размеров на&nbsp;снимке с&nbsp;реальными размерами обследуемого объекта;
      li #[strong минимальное искажение:] специальная техника съемки сводит к&nbsp;минимуму искажения, которые могут возникнуть при стандартной рентгенографии;
      li #[strong стандартизированная проекция:] снимок выполняется в&nbsp;боковой или прямой проекции, позволяя точно определять взаиморасположение костей, мягких тканей головы и&nbsp;шеи;
      li #[strong цифровой или пленочный формат:] выполняется как в&nbsp;цифровом, так и&nbsp;в&nbsp;пленочном варианте.

    h2 Применение телерентгенограммы
    h3 Ортодонтия
    p ТРГ зубов используется для цефалометрического анализа, который позволяет измерить различные углы и&nbsp;расстояния между костями черепа, челюстями и&nbsp;зубами, чтобы:
    ul.list-marked
      li #[strong диагностировать аномалии прикуса:] определить тип и&nbsp;степень неправильного прикуса, такие как дистальный, мезиальный или открытый прикус;
      li #[strong планировать ортодонтическое лечение:] выбрать оптимальный метод лечения и&nbsp;рассчитать необходимые перемещения зубных единиц;
      li #[strong контролировать эффективность лечения:] отслеживать изменения в&nbsp;положении зубов и&nbsp;челюстей в&nbsp;процессе лечения.

    h3 Гнатология
    ul.list-marked
      li Исследование взаимоотношений челюстей;
      li Изучение скелетных структур;
      li Оценка положения зубов;
      li Анализ положения мягких тканей относительно скелетных структур.
    h3 Имплантология
    p Исследование применяют при подготовке к&nbsp;установке имплантов, определив, насколько атрофирована костная часть на&nbsp;участках челюсти предполагаемой имплантации. При планировании операции врач изучает расположение сосудов и&nbsp;нервов, чтобы избежать повреждения при манипуляциях.
    h3 Челюстно-лицевая хирургия 
    p Двухмерный снимок помогает определять болезни тканей полости рта и&nbsp;новообразования, оценить работу ВНС и&nbsp;грамотно спланировать операцию.
    p В&nbsp;ряде случаев телерентгенография используется для диагностики ЛОР-болезней, например, аденоидов.

  // {{TSENY}}
  +pageSection.container: .content
    h2 Противопоказания
    ul.list-marked
      li Беременность: хотя доза облучения при ТРГ относительно низкая, женщинам до&nbsp;12&nbsp;недели беременности не&nbsp;рекомендуется проводить эту процедуру без серьезных показаний;
      li Тяжелое состояние: в&nbsp;этом случае процедуру откладывают до&nbsp;стабилизации состояния пациента.

    h2 Преимущества метода
    ul.list-marked
      li #[strong Точность:] ТРГ помогает увидеть мельчайшие детали, которые недоступны при обычной рентгенографии.
      li #[strong Безопасность:] сегодняшние технологии сделали процедуру безопасной. Уровень радиации, получаемый за&nbsp;одно исследование, минимален и&nbsp;не&nbsp;способен навредить организму.
      li #[strong Скорость:] телерентгенография занимает не&nbsp;больше 10&nbsp;минут, а&nbsp;результаты доступны в&nbsp;тот&nbsp;же день.
      li #[strong Стандартизированные проекции:] процедура выполняется в&nbsp;стандартизированных проекциях, что облегчает сравнение снимков, сделанных в&nbsp;разное время.

    h2 Виды телерентгенограмм
    h3 Прямая проекция
    p Обследуемый встает лицом к&nbsp;рентгеновской трубке. Исследование помогает оценить ширину челюстей и&nbsp;выявить нарушенную симметрию лица, нестабильность челюстей.
    h3 Боковая проекция
    p При ТРГ в&nbsp;боковой проекции пациент встает боком к&nbsp;рентгеновской трубке. Проводится для изучения соотношения челюстей в&nbsp;профиль, а&nbsp;также для выявления аномалий прикуса&nbsp;&mdash; отклонение положения зубов и&nbsp;челюстей. Выполняется с&nbsp;открытым и&nbsp;закрытым ртом.
    h3 Особенности аксиальной телерентгенограммы
    p Аксиальная телерентгенограмма показывает особенности строения пазух носа, скуловых костей. Чаще назначается перед имплантацией передних верхних зубных единиц, чтобы избежать попадания импланта в&nbsp;пазухи.

    h2 Подготовка и&nbsp;процедура проведения	
    h3 Подготовительный этап
    p Для получения чистого изображения без помех пациента просят снять металлические аксессуары с&nbsp;головы и&nbsp;шеи, включая съемные ортодонтические конструкции.
    h3 Позиционирование
    p Обследуемый остается в&nbsp;вертикальном положении. Врач устанавливает его голову в&nbsp;специальное устройство, которое фиксирует положение, чтобы избежать размытия снимка.
    h3 Съемка
    p Камера рентгенологического аппарата находится на&nbsp;расстоянии от&nbsp;головы обследуемого, чтобы получить изображение, на&nbsp;котором видны левая и&nbsp;правая стороны челюсти и&nbsp;черепа без искажений. Рентгеновские лучи проходят через голову и&nbsp;попадают на&nbsp;детектор (пленку или цифровой сенсор), где формируется изображение.
    h3 Меры безопасности и&nbsp;защита от&nbsp;излучения
    p Свинцовый или из&nbsp;другого рентгенозащитного материала фартук снижает воздействие излучения на&nbsp;тело пациента.
    p После съемки и&nbsp;программной обработки снимок распечатывают и&nbsp;сохраняют в&nbsp;цифровом виде.

    h2 Почему для ТРГ в&nbsp;Санкт-Петербурге выбирают &laquo;ВайтДент&raquo;?
    ul.list-marked
      li #[strong Точные измерения:] современное оборудование и&nbsp;профессионализм специалистов обеспечивают получение точных и&nbsp;детализированных снимков, что крайне важно для цефалометрического анализа.
      li #[strong Совмещение с&nbsp;другими методами диагностики:] &laquo;ВайтДент&raquo; предлагает комплексный подход к&nbsp;диагностике, сочетая телерентгенографию с&nbsp;другими методами исследования.
      li #[strong Сотрудничество специалистов:] врачи клиники сотрудничают друг с&nbsp;другом для повышения результативности лечения.
  
  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Отличия между цифровой и&nbsp;аналоговой телерентгенограммой?
        p Это два подхода к&nbsp;получению и&nbsp;обработке рентген-снимков с&nbsp;разными приемниками излучения, обработки, хранения и&nbsp;передачи изображений. Например, при аналоговой изображение выводится на&nbsp;пленку и&nbsp;там&nbsp;же хранится, а&nbsp;при цифровой&nbsp;&mdash; на&nbsp;цифровой сенсор, который преобразует электромагнитное излучение в&nbsp;цифровые данные. Также цифровая ТРГ дает более точное изображение.
        h3 В&nbsp;чем заключается вклад телерентгенограммы в&nbsp;комплексную диагностику?
        p Она позволяет оценить скелетные, зубные и&nbsp;мягкотканные структуры, а&nbsp;также их&nbsp;взаимоотношения.
        h3 Преимущества цифровой телерентгенограммы по&nbsp;сравнению с&nbsp;аналоговой?	
        ul.list-marked
          li Точное изображение;
          li Регулируемая контрастность;
          li Легкость хранения и&nbsp;обработки;
          li Возможность пересылки.
        h3 Какие факторы влияют на&nbsp;точность результатов телерентгенограммы?
        ul.list-marked
          li Правильный выбор параметров экспозиции (время и&nbsp;интенсивность излучения);
          li Расстояние между рентгеновской трубкой, пациентом и&nbsp;детектором;
          li Правильное позиционирование обследуемого.
  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Анализ профильной телерентгенографии/ Саблина Г.И., Стародубцева А.Е., Соболева Н.Н.;
      li Основы телерентгенографии/ Дорошенко С.И.;
      li Методы расшифровки телерентгенограммы/ Вологина М.В., Огонян Е.А., Пудикова О.П.
