extends /blocks/layout/layout

include /blocks/button/button
include /blocks/advantage-block/advantage-block
include /blocks/doctor-item/doctor-item
include /blocks/block-marked/block-marked
include /blocks/splide/splide
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review-item/review-item
include /blocks/work-item/work-item
include /blocks/menu-services/menu-services
include /blocks/discount-banner/discount-banner
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection.container: .content
    h3: a(href='diagnostika-zubov/') Диагностика зубов - diagnostika-zubov.html
    ul.list-marked
      li: a(href='diagnostika-zubov/intraoralnaya-rentgenografiya.html') Интраоральная рентгенография - diagnostika-zubov/intraoralnaya-rentgenografiya.html
      li: a(href='diagnostika-zubov/intraoralnoe-skanirovanie.html') Цифровое интраоральное 3D-сканирование зубов - diagnostika-zubov/intraoralnoe-skanirovanie.html
      li: a(href='diagnostika-zubov/ortopantomogramma.html') Панорамный снимок зубов (Ортопантомограмма) - diagnostika-zubov/ortopantomogramma.html
      li: a(href='diagnostika-zubov/pricelnyy-snimok.html') Прицельный снимок зуба - diagnostika-zubov/pricelnyy-snimok.html
      li: a(href='diagnostika-zubov/rentgen-pridatochnyh-pazuh-nosa.html') Рентгенограмма околоносовых пазух - diagnostika-zubov/rentgen-pridatochnyh-pazuh-nosa.html
      li: a(href='rentgenodiagnostika.html') Рентген зубов (рентгенография) - rentgenodiagnostika.html
      li: a(href='diagnostika-zubov/trg.html') ТРГ - diagnostika-zubov/trg.html
      li: a(href='diagnostika-zubov/fotoprotokol.html') Дентальный фотопротокол - diagnostika-zubov/fotoprotokol.html
