extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked
include /blocks/img/img
include /blocks/iframe-responsive/iframe-responsive
include /blocks/table/table
include /blocks/stages-item/stages-item
include /blocks/figure/figure 

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' }) 
  +pageSection.container: .content
    h1 Рентген зубов (рентгенография)
  +pageSection.container: .content
    p Сегодня стоматология неразрывно связана с&nbsp;передовыми технологиями, которые позволяют врачам эффективно диагностировать и&nbsp;лечить болезни зубов и&nbsp;десен. Рентгенография&nbsp;&mdash; ключевой инструмент в&nbsp;арсенале стоматолога, дающий наглядную информацию о&nbsp;состоянии полости рта.

    h2 Что такое дентальный рентген?
    p Это стоматологический метод диагностики, который использует рентгеновское излучение для формирования изображений внутренней структуры зубных единиц, их&nbsp;корней, костной ткани челюстей и&nbsp;прилегающих структур. Высокоточный рентген-снимок зубов помогает врачам диагностировать проблемы зубочелюстной системы и&nbsp;назначить соответствующее лечение.
    p Рентген зубов&nbsp;&mdash; безопасная процедура, но&nbsp;как любой медицинский тест проводится только по&nbsp;показаниям и&nbsp;с&nbsp;соблюдением мер предосторожности.

    h2 Возможности дентальной рентгенографии
    p Уникальность метода заключается в&nbsp;предоставляемой информации, которую нельзя увидеть при визуальном обследовании. С&nbsp;помощью рентгеновского изображения стоматологи:
    ul.list-marked
      li #[strong обнаруживают скрытые проблемы:] например, кариес, который развивается под пломбой или в&nbsp;межзубном пространстве, кисты и&nbsp;опухоли внутри челюсти;
      li #[strong планируют лечение:] рентгеновские снимки помогают в&nbsp;разработке точного плана лечения, включая экстракцию зубных единиц, установку имплантов или протезов;
      li #[strong контролируют состояние зубов:] регулярные рентгенограммы позволяют отслеживать динамику болезней и&nbsp;оценивать эффективность лечения.
      li #[strong определяют анатомические особенности:] стоматологи лучше понимают анатомию челюсти и&nbsp;расположение нервов, что важно при проведении процедур, связанных с&nbsp;анестезией.

    h2 Виды рентгеновских дентальных снимков
    h3 Прицельный снимок
    p Метод используется для получения детализированных изображений отдельных зубных единиц или небольших участков зубочелюстной системы. Для получения изображения одного или группы зубов используется специальная пленка или цифровой сенсор, который фиксирует рентгеновские лучи и&nbsp;создает изображение.
    h3 Панорамный снимок (ортопантомограмма)
    p Метод предоставляет общее изображение зубного ряда верхней и&nbsp;нижней челюстей, окружающих тканей и&nbsp;структур, включая носовые пазухи и&nbsp;ВНС. Ортопантомограмма полезна для диагностирования общих стоматологических проблем, аномалий развития зубов и&nbsp;наличие зубов мудрости.
    h3 Компьютерная томография
    p КТ&nbsp;обеспечивает трёхмерное изображение челюстно-лицевой области и&nbsp;зубных рядов. В&nbsp;стоматологии метод используется, чтобы получить детальное и&nbsp;точное представление о&nbsp;структуре зубов и&nbsp;челюстей. КТ&nbsp;выявляет такие проблемы, как сложные корневые каналы, кисты, опухоли и&nbsp;аномалии костной ткани. Технология особенно полезна в&nbsp;планировании сложных процедур, таких как имплантация зубов, реконструктивная хирургия и&nbsp;оценка травм.

  // {{TSENY}}
  +pageSection.container: .content
    h2 Как подготовиться к&nbsp;рентгену зубов
    p Прежде, чем сделать рентген зуба:
    ul.list-marked
      li чистят зубы и&nbsp;не&nbsp;курят;
      li сообщают врачу о&nbsp;наличии несъемных металлических конструкций, чтобы тот учитывал это при настройке аппарата;
      li снимают украшения из&nbsp;металлов перед входом в&nbsp;кабинет, в&nbsp;том числе пирсинг и&nbsp;съемные ортодонтические конструкции.

    h3 Во&nbsp;время процедуры
    p Во&nbsp;время ортопантомограммы специалист надевает на&nbsp;пациента рентгенозащитный фартук, а&nbsp;часто и&nbsp;воротник для предотвращения воздействия лучей на&nbsp;щитовидную железу.

    h2 Показания и&nbsp;противопоказания к&nbsp;рентгену зубов
    h3 Когда рентген необходим
    ul.list-marked
      li #[strong Диагностика кариеса:] особенно межзубного, который не&nbsp;виден при визуальном осмотре;
      li #[strong Оценка состояния корневой системы:] для выявления инфекций или изменений в&nbsp;ее&nbsp;структуре;
      li #[strong Проверка здоровья костной ткани:] для оценки плотности костной ткани и&nbsp;выявления болезней, таких как периодонтит;
      li #[strong Перед лечением каналов:] для точной оценки длины и&nbsp;формы корневых каналов;
      li #[strong До&nbsp;и&nbsp;после имплантации:] для планирования установки имплантов и&nbsp;контроля их&nbsp;состояния;
      li #[strong Ортодонтическое лечение:] для оценки положения зубов и&nbsp;определения необходимости коррекции;
      li #[strong Определение ретинированных зубов:] например, зубов мудрости, которые могут быть причиной боли или других проблем.

    h3 Когда рентген противопоказан
    ul.list-marked
      li #[strong Беременность первый триместр:] хотя рентген считается относительно безопасным, использование его в&nbsp;первом триместре беременности нежелательно.
      li #[strong Тяжелые общие состояния:] почечная или печеночная недостаточность, в&nbsp;этих случаях облучение противопоказано или требует персонального подхода.
      li #[strong Аллергия на&nbsp;контрастные вещества:] в&nbsp;случае, если предполагается использование контрастов (что редко, но&nbsp;возможно в&nbsp;некоторых случаях.

    h2 Мифы и&nbsp;реальность рентгенологического облучения
    h3 Рентгеновское излучение чрезвычайно вредно 
    p Хотя излучение несет в&nbsp;себе риск, дозы радиации, получаемые при дентальных рентгеновских снимках, настолько малы, что считаются безопасными для взрослых и&nbsp;даже детей.
    h3 Можно обойтись без рентгена
    p Рентгеновские снимки позволяют увидеть скрытые проблемы, такие как кариес между зубами или инфекционные процессы, которые не&nbsp;видны при обычном осмотре.
    h3 Беременным категорически противопоказан рентген
    p Это сложный вопрос. Как правило, процедура не&nbsp;рекомендуется беременным со&nbsp;сроком до&nbsp;12&nbsp;недель, за&nbsp;исключением ситуаций, когда это действительно необходимо. В&nbsp;таких случаях принимаются дополнительные меры предосторожности, чтобы минимизировать облучение.

    h2 Безопасность рентгеновской диагностики
    ul.list-marked
      li #[strong Низкий уровень излучения.] Современное оборудование минимизирует дозу радиации.
      li #[strong Эффективный защитный контроль.] При проведении рентгена используются свинцовые или композитные защитные средства для снижения дозы облучения.
      li #[strong Баланс пользы и&nbsp;риска.] Риски облучения несоизмеримо малы по&nbsp;сравнению с&nbsp;диагностической ценностью, особенно если учитывать возможные проблемы, которые можно своевременно выявить и&nbsp;лечить.
      li #[strong Цифровые технологии.] Переход на&nbsp;цифровые рентгеновские аппараты уменьшает дозу облучения по&nbsp;сравнению с&nbsp;традиционными пленочными методами.
    p Если возникли опасения по&nbsp;поводу рентгеновских исследований, обсудите их&nbsp;с&nbsp;врачом, который объяснит необходимость процедуры и&nbsp;примет дополнительные меры безопасности.

    h2 Почему рентген зубов в&nbsp;Санкт-Петербурге делают в&nbsp;&laquo;ВайтДент&raquo;?
    ul.list-marked
      li #[strong Современное оборудование:] для диагностики используем передовое рентгенологическое оборудование, дающее точные результаты и&nbsp;минимальную дозу облучения.
      li #[strong Опытные специалисты:] врачи и&nbsp;рентгенологи с&nbsp;большим опытом гарантируют высокое качество диагностики и&nbsp;результаты, которые помогут в&nbsp;правильном лечении.
      li #[strong Безопасность и&nbsp;комфорт:] команда &laquo;ВайтДент&raquo; заботится о&nbsp;комфорте пациентов и&nbsp;безопасности процедур.
      li #[strong Комплексный подход:] при необходимости совмещаем рентгеновское обследование с&nbsp;другими стоматологическими услугами, чтобы получить полный план лечения.
  
  +pageSection.container: .content
    h2 Популярные вопросы и&nbsp;ответы
    +pageSubsection
      +blockMarked({'background': [true, 'question'] })
        h3 Как работают рентгеновские лучи?
        p Дентальные рентгенограммы работают, посылая энергию, которая поглощается твердыми объектами, но&nbsp;проходит через менее плотные ткани, такие как кожа. Твердые объекты (зубы и&nbsp;кости) поглощают энергию и&nbsp;выглядят светлее на&nbsp;рентгеновском снимке. Это дает стоматологу внутреннюю картину здоровья полости рта.
        h3 Сколько рентгеновских снимков допустимо делать в&nbsp;день?
        p Нет конкретного количества рентгенограмм зубов, которые безопасно сделать за&nbsp;один день. При необходимости делают и&nbsp;2&nbsp;обследования. Но&nbsp;стоматолог следует принципам &laquo;настолько редко, насколько это разумно достижимо&raquo; для обоснования необходимости рентгенографии.
        h3 Зачем делать рентген зуба мудрости?
        p Для определения неправильного положения зуба, при ретенировании (непрорезывании), подготовке к&nbsp;удалению.
        h3 Влияет рентген негативно на&nbsp;пломбы или коронки?
        p Нет, наоборот, помогает оценить их&nbsp;состояние.
        h3 Какие меры предосторожности после рентгенографии?
        p Увеличивают потребление витаминов Е, C, A, а&nbsp;также употребляют молочные продукты, овсянку, зелёный чай, фрукты, поддерживают водный баланс.
  +pageSection.container: .content
    h2 Источники
    ul.list-marked
      li Перспективные методы рентгенологического исследования в&nbsp;стоматологии/ Петренко&nbsp;К.&nbsp;А.;
      li Клинико-рентгенологические особенности строения полости зуба и&nbsp;корневых каналов зубов верхней челюсти/ Македонова&nbsp;Ю.&nbsp;А., Фирсова&nbsp;И.&nbsp;В., Поройский&nbsp;С.&nbsp;В., Триголос&nbsp;Н.&nbsp;Н., Марымова&nbsp;Е.&nbsp;Б.;
      li Рентгенологические методы исследования в&nbsp;эндодонтии/ Кабак Ю.С.
