.gallery-item
  overflow hidden
  border-radius .5rem
  & img
    display block
  a&
  &__detail
    position relative
    display block
    &::before
      content ''
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      z-index 2
      background-color #343A40
      border-radius .5rem
      opacity 0
      transition opacity .4s
    &::after
      content ''
      position absolute
      right .5rem
      bottom .5rem
      z-index 2
      width 1.5rem
      height 1.5rem
      background-color rgba(250, 250, 250, .32)
      background-image url(../images/extend.svg)
      background-repeat no-repeat
      background-position center
      background-size 1rem
      border-radius .125rem
      backdrop-filter blur(4px)
    &:hover
      &::before
        opacity .32
        transition opacity .1s
