.footer-menu
  &__sublist
    margin-top 1rem
  &__item
    font-size 1.25rem
    font-weight 500
    line-height 1.25
    & + &
      margin-top 1rem
    & a
      text-decoration none
      color #343A40
      &:hover
        color #646464
    &--sub
      font-size 1.125rem
      font-weight normal
    &--sub a
      color #646464
      &:hover
        color #999999
