include /blocks/form-input/form-input

.review-form-rating
  .review-form-rating__list
    - let i = 0
    while i < 5
      .review-form-rating__star(data-rating=i+1)
      - i += 1
  +formInput({ type: 'hidden', name: 'rating' })
  .review-form-rating__description Пожалуйста, оцените насколько вам понравилось в нашей клинике.
