.review-form-rating
  display flex
  flex-wrap wrap
  align-items center
  gap .5rem 2rem
  &__list
    display flex
    margin-x -.25rem
  &__star
    --gradient-stop 0 // @stylint ignore

    width 1rem
    height 1rem
    margin-x .25rem
    background-image linear-gradient(to right, #F15223 var(--gradient-stop), #F9C2B1 var(--gradient-stop))
    cursor pointer
    mask url(../images/star.svg#star) // @stylint ignore
    mask-type alpha // @stylint ignore
  .form-input
    display none
