.breadcrumbs
  display flex
  flex-wrap wrap
  align-items center
  padding-top 1rem
  font-size .875rem
  line-height 1.25
  &__parent

    a
      text-decoration none
      color #646464
      &:hover
        color var(--color-link-hover)
  &__current
    color #343A40
  &__separator
    align-self flex-end
    width .375rem
    height 1.125rem
    margin-x .75rem
    background-image url(../images/breadcrumbs-separator.svg)
    background-repeat no-repeat
    background-position center
    background-size contain
