.advantage-block
  display flex
  flex-direction column
  align-items center
  height 100%
  padding basePadding
  text-align center
  @media (max-width point-m - 1)
    flex-direction row
  &::before
    content ''
    height 4.5rem
  &__text
    margin-top .5rem
    line-height 1.25
    @media (max-width point-m - 1)
      margin-top 0
      margin-left (basePadding * 2)
  &--top-10::before
      width 3.875rem
  &--lab::before
      width 3.25rem
  &--tomography::before
      width 4.875rem
  &--since-2004::before
      width 3rem
  &--guarantee::before
      width 4.375rem
