.advantage-block
  background-color #fff
  border-radius 1rem
  box-shadow 0 2rem 1rem -1.375rem #E0E0E0
  &::before
    background-repeat no-repeat
    background-position center
    background-size contain
  &--top-10
    &::before
      background-image url('../images/advantage-block-top-10.svg')
  &--lab
    &::before
      background-image url('../images/advantage-block-lab.svg')
  &--tomography
    &::before
      background-image url('../images/advantage-block-tomography.svg')
  &--since-2004
    &::before
      background-image url('../images/advantage-block-since-2004.svg')
  &--guarantee
    &::before
      background-image url('../images/advantage-block-guarantee.svg')
