.discount-form
  position fixed
  inset 0
  z-index 999
  display none
  justify-content center
  align-items center
  opacity 0
  background-color rgba(#000, .75)
  backdrop-filter blur(4px)
  transition opacity .2s
  will-change opacity
  &--active
    display flex
    opacity 1
    transition opacity .4s
  &__close
    position absolute
    top 1rem
    right .675rem
    z-index 2
    display none
    justify-content center
    align-items center
    width 2.25rem
    height 2.25rem
    background-color rgba(#000, .5)
    border-radius .25rem
    transition background-color .4s
    cursor pointer
    &:hover
      background-color rgba(#000, .75)
      transition background-color .2s
    svg
      width 1.125rem
    path
      fill #fff
    ^[-1]--active &
      display flex
  &__inner
    position relative
    z-index 1
    width 100%
    max-width 30rem
    max-height 100%
    overflow auto
    padding 2rem 1.5rem
    background-color #e7f0ff
    border-radius .5rem
    transform scale(.5)
    opacity 0
    transition transform .2s, opacity .2s
    will-change transform, opacity
    ^[-1]--active &
      transform scale(1)
      opacity 1
      transition transform .4s, opacity .4s
  &__header
    margin-bottom 2rem
    font-size 1.5rem
    line-height 1.25
  &__input
    position relative
    & + &
      margin-top 1.25rem
    .form-input__label
      margin-bottom .5rem
  &__submit
    margin-top 2rem
