mixin stagesList(list)

  ol.stages-list&attributes(attributes)
    each item in list
      li.stages-list__item
        .stages-list__image: img(src= item.image alt= item.name title= item.name)
        .stages-list__name !{item.name}
