.stages-list
  parMargin()
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-column-gap 5rem // @stylint ignore
  grid-row-gap 2.5rem // @stylint ignore
  list-style none
  text-align center
  counter-reset stagesListCounter // @stylint ignore
  @media (max-width point-m - 1)
    grid-template-columns 1fr 1fr
  @media (max-width point-s - 1)
    grid-template-columns 1fr
  h3 + &
    margin-top 1.75rem
  &__item
    @media (min-width point-m)
      &:nth-child(3n) ^[-1]__image::after
        content none
    @media (max-width point-m - 1)
      &:nth-child(2n) ^[-1]__image::after
        content none
    @media (max-width point-s - 1)
      & ^[-1]__image::after
        content none
  &__image
    position relative
    counter-increment stagesListCounter // @stylint ignore
    &::after
      content ''
      position absolute
      top 50%
      left calc(100% + 1rem)
      width 3rem
      height 2rem
      background-image url(../images/next.svg)
      background-repeat no-repeat
      background-position center
      background-size contain
      transform translateY(-50%)
  &__name
    margin-top 1.5rem
    &::before
      content counter(stagesListCounter)'. '
