.block-marked
  parMargin()
  position relative
  display block
  padding-x 1.5rem
  padding-top 1.75rem
  padding-bottom 1.75rem
  background-color #fff
  border-radius .5rem
  @media (max-width point-s - 1)
    padding (basePadding)
  &--full-height
    height 100%
  &--shadow
    box-shadow 0 2rem 1rem -1.375rem #E0E0E0
  &--arrow
    min-height 7.75rem
    padding-top 3.25rem
    padding-right 4.25rem
    padding-bottom 1.5rem
    padding-left 6.25rem
    background-image url("../images/lead-in.svg")
    background-repeat no-repeat
    background-position left 2.25rem
    background-size 4rem
    @media (max-width point-s - 1)
      padding (basePadding)
      padding-left 2.5rem
      background-position left .875rem
      background-size 2rem
  &--icon
    min-height 10rem
    margin-left 4.25rem
    padding-left 4.25rem
    &::before
      content ''
      position absolute
      top 1.75rem
      left -4.25rem
      width 6.5rem
      height 6.5rem
      background-color #ffffff
      background-repeat no-repeat
      background-position center
      background-size 4.5rem
      border-radius 1rem
      box-shadow 0 1rem 2rem 0 #E0E0E0
    @media (max-width point-m - 1)
      margin-left 2.25rem
      padding-left 2.25rem
      &::before
        top 1rem
        left -2.25rem
        width 4rem
        height 4rem
        background-size 2.5rem
  &--icon-on-top
    min-height 6.5rem
    &::before
      top 0
  &--icon-consult::before
    background-image url(../images/block-marked-consult.svg)
  &--icon-preparing::before
    background-image url(../images/block-marked-preparing.svg)
  &--icon-teeth-help::before
    background-image url(../images/block-marked-teeth-help.svg)
  &--icon-treatment::before
    background-image url(../images/block-marked-treatment.svg)
  &--icon-tooth-cleaning::before
    background-image url(../images/block-marked-tooth-cleaning.svg)
  &--icon-syringe::before
    background-image url(../images/block-marked-syringe.svg)
  &--icon-pills::before
    background-image url(../images/block-marked-pills.svg)
  &--icon-salve::before
    background-image url(../images/block-marked-salve.svg)
  &--icon-laser::before
    background-image url(../images/block-marked-laser.svg)
  &--icon-inhaler::before
    background-image url(../images/block-marked-inhaler.svg)
  &--icon-zakis-azota::before
    background-image url(../images/block-marked-zakis-azota.svg)
  &--icon-xenon::before
    background-image url(../images/block-marked-xenon.svg)
  &--icon-tooth-antiseptic-treatment::before
    background-image url(../images/block-marked-tooth-antiseptic-treatment.svg)
  &--icon-tooth-biological-treatment::before
    background-image url(../images/block-marked-tooth-biological-treatment.svg)
  &--icon-paste-blue::before
    background-image url(../images/block-marked-paste-blue.svg)
  &--icon-paste-red::before
    background-image url(../images/block-marked-paste-red.svg)
  &--icon-tooth-drilling::before
    background-image url(../images/block-marked-tooth-drilling.svg)
  &--icon-remove::before
    background-image url(../images/block-marked-remove.svg)
  &--icon-surgery::before
    background-image url(../images/block-marked-surgery.svg)
  &--icon-final::before
    background-image url(../images/block-marked-final.svg)
  &--icon-elevator::before
    background-image url(../images/block-marked-elevator.svg)
  &--question
    background-image url(../images/question.svg)
    background-repeat no-repeat
    background-position right bottom
    background-size 5.5rem
  &--background
    min-height 12rem
    background-repeat no-repeat
    background-position right bottom
    background-size 5.5rem
  &--background-question
    background-image url(../images/block-marked-question.svg)
  &--background-xray
    background-image url(../images/block-marked-xray.svg)
    background-position right bottom -.5rem
    background-size 9.75rem
  &--background-expert
    background-image url(../images/block-marked-expert.svg)
    background-size 6.5rem
  &--background-function
    background-image url(../images/block-marked-function.svg)
    background-position right bottom -.5rem
    background-size 7.5rem
  &--background-guarantees
    background-image url(../images/block-marked-guarantees.svg)
    background-size 7.5rem
  &--background-microscope
    background-image url(../images/block-marked-microscope.svg)
    background-position right bottom -.5rem
    background-size 6.625rem
  &--background-specialists
    background-image url(../images/block-marked-specialists.svg)
    background-size 8.625rem
  &--background-credit-card
    background-image url(../images/block-marked-credit-card.svg)
    background-position right bottom -.5rem
    background-size 6.625rem
