.properties
  display grid
  grid-template-columns auto auto
  grid-gap 1.375rem 1rem
  &__item
    display contents
    &--experience ^[-1]__name
    &--additional ^[-1]__name
      padding-left 2.675rem
      line-height 1.375rem
      background-repeat no-repeat
    &--contact ^[-1]__name
      padding-left 2rem
      line-height 1.375rem
      background-repeat no-repeat
      background-position left top
      background-size 1rem
    &--experience ^[-1]__name
      min-height 1.675rem
      background-image url(../images/briefcase.svg)
      background-position left top
      background-size 1.75rem
    &--additional ^[-1]__name
      background-image url(../images/medal.svg)
      background-position left .125rem top
      background-size 1.4375rem
    &--address ^[-1]__name
      background-image url(../images/pin-2.svg)
      background-position left .25rem top
    &--schedule ^[-1]__name
      background-image url(../images/time.svg)
      background-position left .25rem top .125rem
    &--metro ^[-1]__name
      background-image url(../images/metro.svg)
      background-size 1.5rem
    &--tel ^[-1]__name
      background-image url(../images/phone.svg)
      background-position left .125rem top
      background-size 1.25rem
    &--email ^[-1]__name
      background-image url(../images/mail.svg)
      background-position left top .125rem
      background-size 1.25rem
    &--vk ^[-1]__name
      background-image url(../images/vk-2.svg)
      background-position left top .25rem
      background-size 1.5rem
  &__name
    &:only-child
      grid-column 1 / -1
  &--row-gap-small
    grid-row-gap .5rem
