extends /blocks/layout-services/layout-services

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/block-marked/block-marked
include /blocks/discount-banner/discount-banner
include /blocks/block-marked-image/block-marked-image
include /blocks/table-price/table-price
include /blocks/block-icon/block-icon
include /blocks/stages-list/stages-list
include /blocks/work-item/work-item
include /blocks/splide/splide
include /blocks/review-item/review-item
include /blocks/doctor-item/doctor-item
include /blocks/advantage-block/advantage-block
include /blocks/text-marked/text-marked
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-item-small/article-item-small
include /blocks/button/button

block content
  +pageSection.container: .content
    +pageSubsection
      +blockMarked({ arrow: true })
        +textMarked({ tag: 'p', big: true, bold: true }) 3d компьютерная томография зубов: ведется предварительная запись, обращаться по телефону +7 (812) 612-97-92.
    +pageSubsection
      p
        strong 3D снимок зубов
        |  — наиболее точный способ проверить состояние зубов пациента, выяснить анатомию челюсти, поставить диагноз и назначить лечение. Стоматологическая клиника ВайтДент оборудована самым современным 3D-томографом Galileos, делающим невероятно точные снимки в трехмерной проекции. Уникальное оборудование позволяет выявить проблему и назначить лечение в самый короткий срок
      h2 В чем преимущество 3D-снимков зубов? 
      p В отличие от устаревшего рентгеновского оборудования, дававшего лишь приблизительное представление о строении челюсти и характере заболевания, Galileos делает четкие и точные снимки, позволяющие точно спланировать предстоящее лечение и степень оперативного вмешательства.
      h2 Где и для чего применяется 3Д-снимок зубов?
      ul.list-marked
        li
          strong Имплантология.
          |  Перед имплантацией необходимо как можно более точно определить степень вмешательства, оценить все имплантологические и ортопедические аспекты, чтобы провести имплантацию с меньшей инвазивностью.
        li
          strong Челюстно-лицевая хирургия.
          |  Точное диагностирование сохранившихся корней, кист, переломов, и смещения зубов.
        li
          strong Ортодонтия.
          |  Помогает выявить расщепление губ, неба и челюсти, ретинирование и смещение зубов.
        li
          strong Эндодонтия.
          |  С помощью 3D-снимка зубов проводится дооперационная диагностика, оценивается степень повреждений при травмах зубочелюстной системы, диагностироуются прикорневые повреждения.
        li
          strong Общая стоматология.
          |  Благодаря 3D-томографии полностью исключается возможность постановки неверного диагноза, любые неточные и противоречивые результаты исследований, на новом уровне проводится планирование хирургических и эндодонтических вмешательств.
  | {{ TSENY }}
  +pageSection.container: .content
    +pageSubsection: img(src='/images/banner-implant-adin.jpg' alt='Имплант Adin всего за 12000 рублей' title='Имплант Adin всего за 12000 рублей')
    +pageSubsection
      h2 Преимущества 3D-томографии в клинике ВайтДент
      
      ul.list-marked
        li
          strong Минимальное облучение.
          | Оборудование, применяемое в клинике ВайтДент, выдает максимальное качество снимков при минимальной возможной дозе облучения. Если вам скажут, что где-то есть более безопасное оборудование — не верьте. Его просто не существует.
        li
          strong Скорость получения результатов.
          | Благодаря использованию революционного программного обеспечения, уже через несколько минут после процедуры вы будете держать в руках результаты обследования. С Galileos больше не нужно ждать. Минимальный срок — от записи на прием до получения результатов.
        li
          strong Высокая точность.
          | Трехмерные снимки, сделанные с помощью 3D-томографа выявляют даже самые мелкие и незначительные аномалии, а вероятность погрешности не просто минимальна — ее нет.
        li
          strong Большое поле обзора.
          | Детализированные снимки потрясающего качества захватывают всю зубочелюстную систему, в том числе и носовые пазухи.
      h2 Техника в умелых руках способна творить чудеса
      
      p Любое самое технологичное оборудование в неумелых руках не стоит ничего. Даже самое продуманное и интуитивно понятное программное обеспечение не сделает снимок самостоятельно. Врачи клиники ВайтДент в совершенстве владеют всеми навыками, необходимыми для работы на томографе Galileos. Обратившись в ВайтДент, вы можете быть уверены — вы в надежных руках.
      
      h2 Не дайте погрешностям ни единого шанса
      
      p
        strong 3Д-снимок зубов
        |  — будущее стоматологии, воплощенное уже сегодня. Не дайте ни единого шанса неточностям и погрешностям.
      
      p Компьютерная 3D-томография в стоматологической клинике ВайтДент — залог правильного лечения.
