mixin discountBanner(item)
  -
    const settings = item.settings || {}
    settings['no-image'] = !item.image
    const bannerClasses = classes('discount-banner', settings)
  +grid({ nopadding: true })(class!= bannerClasses)&attributes(attributes)
    if item.image
      +cell({ m: 5, s: 'hidden', xs: 'hidden' }).discount-banner__image
        img(src!= item.image alt!= item.name title!= item.name)
      +cell({ m: 7, s: 12, xs: 12 })
        .discount-banner__body
          .discount-banner__info
            if item.date
              .discount-banner__date !{item.date}
            .discount-banner__name !{item.name}
            .discount-banner__additional !{item.add}
          .discount-banner__buttons
            +button({ tag: 'a' })(href='#discount-form' data-from=item.name  data-type='discount').discount-banner__button.discount-form-open Записаться
            a(href='/').discount-banner__more.arrow Подробнее
    else
      +cell({ xs: 12 })
        .discount-banner__body
          .discount-banner__info
            .discount-banner__name !{item.name}
            .discount-banner__additional !{item.add}
          .discount-banner__buttons
            a(href='/').discount-banner__more.arrow Подробнее
            .discount-banner__date !{item.date}
            +button({ tag: 'a' })(href='#discount-form' data-from=item.name  data-type='discount').discount-banner__button.discount-form-open Записаться
