.discount-banner
  height 100%
  overflow hidden
  &__image img
    display block
    width 100%
    height 100%
  &__body
    padding 1.5rem 2rem 2rem
  &__date
    padding-top .5rem
    font-size 1.25rem
    line-height 1.5rem
    ^[-1]--no-image & // @stylint ignore
      font-size 1rem
  &__name
    position relative
    font-size 1.75rem
    font-weight 500
    line-height 1.5
    ^[-1]__date + &
      margin-top .4375rem
  &__additional
    margin-top 1.0625rem
    font-size 1.25rem
    line-height 1.5rem
  &__buttons
    display flex
    flex-wrap wrap
    align-items center
    font-size 1.125rem
    ^[-1]--no-image &  // @stylint ignore
      gap .5rem 2rem
    ^[-1]__info + &  // @stylint ignore
      margin-top 2rem
  &__button
    margin-right auto
    ^[-1]--no-image &  // @stylint ignore
      margin-right 0
      @supports not (gap .5rem 2rem)
        margin-left 2rem
  &__more
    margin-right auto
    margin-left 1rem
    ^[-1]--no-image &  // @stylint ignore
      margin-left 0
