.block-marked-image
  &__image
    order 1
    align-self flex-start
  &__image img
    display block
    border-radius .5rem
    box-shadow 0 2rem 1rem -1.375rem #E0E0E0
  &__body
    order 2
  &__body-inner
    margin-top unquote('min(5%, 3rem)')
    padding-y 2rem
    padding-right 1.5rem
    background-color #ffffff
    border-radius .5rem
    @media (min-width point-m)
      position relative
      border-radius 0 .5rem .5rem 0
      &::before
        content ''
        position absolute
        top 0
        left -14.5rem
        z-index -1
        width 14.5rem
        height 100%
        background-color #ffffff
        border-radius .5rem 0 0 .5rem
  &--image-to-right
    & ^[-1]__image
      order 2
    & ^[-1]__body
      order 1
    & ^[-1]__body-inner
      padding-right 0
      padding-left 2rem
      @media (min-width point-m)
        position relative
        border-radius .5rem 0 0 .5rem
        &::before
          content none
        &::after
          content ''
          position absolute
          top 0
          right -14.5rem
          z-index -1
          width 14.5rem
          height 100%
          background-color #ffffff
          border-radius 0 .5rem .5rem 0
