mixin blockMarkedImage(image = { src: '', alt: '' }, settings = {})

  -
    const tag = settings.tag || 'div'
    const imageSizes = !settings['big-image'] ? { l: 3, m: 4, s: 8, xs: 12 } : { l: 5, m: 5, s: 8, xs: 12 }
    const blockSizes = !settings['big-image'] ? { l: 9, m: 8, s: 12, xs: 12 } : { l: 7, m: 7, s: 12, xs: 12 }
    if (settings['big-image']) delete settings['big-image']
  #{tag}(class= classes('block-marked-image', settings))&attributes(attributes)
    +grid({ 'par-like': true })
      +cell(imageSizes).block-marked-image__image: img(src!= image.src alt!= image.alt || '' title!= image.alt || '')
      +cell(blockSizes).block-marked-image__body: .block-marked-image__body-inner
        block
