.page-subsection 
  & + &
    margin-top 3rem
    @media (max-width point-l - 1)
      margin-top 3rem
  h1 + &
    margin-top 1.25rem
  h2 + &
  .home-subheader + &
    margin-top 4rem
    @media (max-width point-l - 1)
      margin-top 2rem
