.header-navigation-mobile
  --body-height auto
  position relative
  &__button.button
    position relative
    width 100%
    max-width 100%
    min-height 3.5rem
    padding-right 1rem
    padding-left 2.5rem
  &__button-icon
    position absolute
    top 50%
    left 1rem
    width 1.5rem
    transform translateY(-50%)
  &__body
    display none
  &__search
      &--no-open .header-search__form
        right 0
        width 100%
      &__input
        flex-grow 1
  &__services
    padding-y.5rem
  &__main
    padding-top .5rem
    padding-bottom 1rem
