.header-navigation-mobile
  --body-height auto
  position relative
  &__button
    --btn-gradient-color-first #AECDFF // @stylint ignore
    --btn-gradient-color-second #C7DCFF // @stylint ignore
    color #343A40
    box-shadow none
    transition background-color .4s, color .4s
  &__body
    position absolute
    bottom 0
    left 0
    z-index 500
    overflow scroll
    width calc(100vw - 2rem)
    height var(--body-height)
    background-color #fff
    transform translateY(100%)
    box-shadow 0 10px 40px rgba(#646464, .4)
    ^[-1]--active & // @stylint ignore
      display block
  &__search
    .header-search
      background-color #E7F0FF
  &__main
    background-color #f0f0f0
