include /blocks/button/button

.header-navigation-mobile
  +button().header-navigation-mobile__button
    | <svg class="header-navigation-mobile__button-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="16.001" viewBox="0 0 24 16.001">
    |   <path id="header-navigation-mobile__button-icon--part-1" fill="currentColor" d="M22.78,6.88H1.22A1.17,1.17,0,0,0,0,8,1.17,1.17,0,0,0,1.22,9.12H22.78A1.17,1.17,0,0,0,24,8a1.17,1.17,0,0,0-1.22-1.12Z"/>
    |   <path id="header-navigation-mobile__button-icon--part-2" fill="currentColor" d="M1.017,2.24H18.983a.886.886,0,0,0,.7-.307A1.28,1.28,0,0,0,20,1.12a1.28,1.28,0,0,0-.315-.813.886.886,0,0,0-.7-.307H1.017a.886.886,0,0,0-.7.307A1.28,1.28,0,0,0,0,1.12a1.28,1.28,0,0,0,.315.813.886.886,0,0,0,.7.307Z"/>
    |   <path id="header-navigation-mobile__button-icon--part-3" fill="currentColor" d="M15.347,13.76H.853c-.416,0-.753.5-.753,1.12S.437,16,.853,16H15.347c.416,0,.753-.5.753-1.12S15.763,13.76,15.347,13.76Z"/>
    | </svg>
    span Меню
  .header-navigation-mobile__body
    .header-navigation-mobile__search
      - let mobile = true
      include /blocks/header-search/header-search
    .header-navigation-mobile__services
      include /data/services
      +menuServices(services).header-navigation-mobile__list.header-navigation-mobile__list--services
    .header-navigation-mobile__main
      include /data/main-menu
      +menu(mainMenu).header-navigation
