extends /blocks/layout-services/layout-services

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/figure/figure

block content
  +pageSection.container: .content
    +pageSubsection: +figure({ src: 'https://whitedent.spb.ru/images/kt/3d_snimok_zubov.jpg', alt: '3D-снимок челюсти', caption: '3D-снимок челюсти' })
    +pageSubsection
      p 3D-снимок челюсти — это визуальное отображение всех костных структур, полученных в результате сканирования в разных плоскостях методом компьютерной томографии.
      p Компьютерная томограмма нужна, чтобы:
      ul.list-marked.list-marked--w-prev-par
        li Изучить строение и состояние зубных тканей, корневых каналов, челюстных костей.
        li Исследовать прикус и составить модель его исправления.
        li Обеспечить безопасность и точность имплантации зубов.
        li Спланировать лечение и проанализировать его результаты.
        li Обнаружить воспаления и другие скрытые патологии.
  | {{TSENY}}
  +pageSection.container: .content
    +pageSubsection: img(src='/images/banner-implant-adin.jpg' alt='Имплант Adin всего за 12000 рублей' title='Имплант Adin всего за 12000 рублей')
  +pageSection.container: .content
    h2 Почему сделать 3Д-снимок челюсти лучше в клинике «Вайт Дент»?
    ul.list-marked
      li
        strong Минимум облучения.
        |  Компьютерную томографию проводим на современном оборудовании Galileos Comfort Plus с наименьшей дозой облучения по сравнению с остальными рентгенологическими установками. Используется технология усиления изображения в сочетании с сокращением области съемки.
      li
        strong Экономия времени.
        |  Томограф работает в высокоскоростном режиме получения снимков: буквально спустя несколько минут вы будете держать в руках готовый результат обследования.
      li
        strong Высокая точность.
        |  Galileos Comfort Plus — это трехмерное изображение без искажений. В результате врач получает полную картину заболевания — залог точного диагноза.
      li
        strong Полная визуализация.
        |  Высокое качество и детализация изображения, полное поле обзора всех структур челюсти.
      li
        strong Только наш аппарат позволяет увидеть гайморовы пазухи,
        |  что дает полную диагностическую картину врачу-имплантологу, особенно при необходимости имплантации зубов, граничащих со стенкой пазухи. Предоставляет врачу возможность точно определить необходимость проведения операции синус-лифтинга у конкретного пациента.
      li
        strong Высокая квалификация врачей.
        |  Специалисты клиники прошли специальный курс обучения работе на компьютерном томографе.
      li
        strong Выгодная цена на 3Д-снимок челюсти.
        |  Все пациенты могут пройти диагностику всего за 1600 рублей. При необходимости увидеть гайморовы пазухи — стоимость снимка возрастет до 2000 рублей.
  +pageSection.container: .content
    +pageSubsection
      h2 Как создается 3D-снимок?
      p Рентгеновские лучи, проходя через полости, мягкие ткани и кости, передаются на специальный детектор, фиксирующий информацию, после чего происходит их компьютерное преобразование.
    +pageSubsection: +figure({ src: 'https://whitedent.spb.ru/images/kt/odin_iz_etapov_kt.jpg', alt: 'На этапе создания 3D-снимка челюсти', caption: 'На этапе создания 3D-снимка челюсти' })
  +pageSection.container: .content
    h2 Основные этапы обследования
    ol.list-numbered
      li Пациент надевает защитный фартук, подходит вплотную к томографу, фиксирует свой подбородок на специальной подставке или закусывает специальную фиксирующую пластину. Исследование проводится в положении стоя или сидя.
      li Врач выбирает режим сканирования: задает силу излучения, необходимую для исследования, устанавливает диафрагму таким образом, чтобы захватить только челюсти или челюсти + гайморовы пазухи. Когда все готово, специалист запускает сканирование.
      li Сканирующее устройство описывает движения вокруг головы пациента. В это время рентгеновская трубка, с помощью рентгеновского луча, сканирует кости черепа, результаты сканирования поступают на принимающий датчик. В результате томограф создает снимок во всех слоях и в трех осях. На этот этап уходит не более 2 минут.
      li Обработанное изображение сохраняется на компьютере, записывается на диске, по желанию клиента снимок может быть распечатан в виде ортопантограммы. Длительность всей процедуры составляет не более 5 минут.
  +pageSection.container: .content
    h2 Зачем проводить компьютерную 3D-томографию челюсти?
    p 3D-снимок челюсти поможет:
    ul.list-marked.list-marked--w-prev-par
      li вовремя выявить аномалии развития зубов и дефекты их положения в челюсти;
      li исключить или подтвердить осложнения после лечения: диагностировать гранулемы, кисты и другие патологии.
      li узнать о необходимости костной пластики перед имплантацией;
      li дифференцировать болезни зубов от ЛОР-заболеваний;
      li своевременно обнаружить скрытые патологии;
      li спрогнозировать жизнеспособность зубов;
      li обнаружить челюстно-лицевые травмы.
  +pageSection.container: .content
    h2 Преимущества 3D-снимка челюсти
    p По сравнению с другими методами рентгенодиагностики, компьютерная 3D-томографию челюсти отличается такими плюсами:
    ul.list-marked.list-marked--w-prev-par
      li Ортопантомография и классическая рентгенография позволяет получить изображение только в одной плоскости, в то время как при компьютерной 3D-томографии создается трехмерный снимок.
      li Другими методами обследования можно получить только статичный снимок, который невозможно рассмотреть под разными углами, во всех плоскостях и с любой стороны, чего не скажешь о 3D-снимке челюсти.
      li Любой метод съемки при рентгенодиагностике сопровождается искажением объекта по конфигурации либо величине. А во время трехмерной компьютерной томографии проводится сканирование объекта по принципу «один к одному», поэтому такое искажение исключено.
