.article-footer
  display flex
  flex-wrap wrap
  gap 1rem 4rem
  &__share
    display flex
    align-items center
  &__share-title
    margin-right 1.875rem
  &__likely
    display flex
    column-gap 0.75rem
