include /blocks/like-button/like-button

mixin articleFooter
  .article-footer
    .article-footer__share
      .article-footer__share-title Поделиться
      .article-footer__likely.likely.likely-big
        .twitter
        .facebook
        .vkontakte
        .telegram
        .odnoklassniki
        .linkedin
        .whatsapp
    +likeButton('Полезная статья?').article-footer__like
