include /blocks/form-input/form-input
include /blocks/validation-message/validation-message

mixin formAppointment(item = {})
  - item.title = item.title || 'Записаться на консультацию'
  .form-appointment
    +grid({ align: 'center' })
      +cell({ l: 8, xs: 12 })
        .form-appointment__title !{item.title}
        .form-appointment__form
          .form-appointment__input.form-appointment__input--name: +formInput({ type: 'text', name: 'name', placeholder: 'Ваше имя', required: true })
          .form-appointment__input.form-appointment__input--tel
            +formInput({ type: 'tel', name: 'tel', placeholder: 'Ваш телефон', required: true })
            +validationMessage.discount-form__message Напишите номер телефона. Без телефона мы не сможем вам позвонить и назначить время и врача.
          .form-appointment__submit: +button({ wide: true })(type='submit') Отправить
          .form-appointment__input.form-appointment__input--agreement: +formInput({ type: 'checkbox', name: 'name', label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных', required: true, checked: true })
      +cell({ l: 4, m: 'hidden', s: 'hidden', xs: 'hidden' }).form-appointment__image: img(src='/images/form-appointment.jpg' alt='' title='')
