.form-appointment
  padding-left 1.5rem
  background-color #E7F0FF
  border-radius .5rem
  @media (max-width point-l - 1)
    padding-y 1.5rem
    padding-right 1.5rem
  &__title
    font-size 1.5rem
    font-weight 500
    color #0A125B
  &__form
    display grid
    grid-template-areas 'name tel submit' 'agreement agreement agreement'
    grid-template-columns 2fr 2fr 1fr
    grid-gap 2rem // @stylint ignore
    width 100%
    margin-top 2.675rem
    @media (max-width point-m - 1)
      grid-template-areas '. name .'  '. tel .'  '. submit .' '. agreement .'
      grid-template-columns 1fr 4fr 1fr
    @media (max-width point-s - 1)
      grid-template-areas 'name'  'tel'  'submit' 'agreement'
      grid-template-columns 1fr
  &__input
    position relative
    &--name
      grid-area name
    &--tel
      grid-area tel
    &--agreement
      grid-area agreement
  &__submit
    grid-area submit
  &__image img
    display block
