@font-face
  font-family 'Montserrat'
  src local('Montserrat SemiBold'), url('../fonts/Montserrat-SemiBold.woff2') format("woff2") // @stylint ignore
  font-weight 500
  font-style normal
  font-display swap
@font-face
  font-family 'Montserrat'
  src local('Montserrat Bold'), url('../fonts/Montserrat-Bold.woff2') format("woff2") // @stylint ignore
  font-weight bold
  font-style normal
  font-display swap
@font-face
  font-family 'Mulish'
  src local('Mulish'), url('../fonts/Mulish-Regular.woff2') format("woff2") // @stylint ignore
  font-weight normal
  font-style normal
  font-display swap
@font-face
  font-family 'Mulish'
  src local('Mulish SemiBold'), url('../fonts/Mulish-SemiBold.woff2') format("woff2") // @stylint ignore
  font-weight 500
  font-style normal
  font-display swap
@font-face
  font-family 'Mulish'
  src local('Mulish Bold'), url('../fonts/Mulish-Bold.woff2') format("woff2") // @stylint ignore
  font-weight bold
  font-style normal
  font-display swap
