// breakpoints

point-s = 480px
point-m = 800px
point-l = 1000px
point-xl = 1200px
point-hd = 1600px

// base-padding
basePadding = 1rem

// functions
padding-x(n)
  padding-right n
  padding-left n

padding-y(n)
  padding-top n
  padding-bottom n

margin-x(n)
  margin-right n
  margin-left n

margin-y(n)
  margin-top n
  margin-bottom n

parLike = 'p', '.list-marked', '.list-numbered', '.table', '.table-wrap', '.tabs','.grid--par-like', '.block-marked', '.iframe-responsive', '.stages-list', '.page-navigation', '.form', '.figure'
parMargin(mar = .875rem)
  for item in parLike
    {item} + &
      margin-top mar
  h1 + &
    margin-top mar
  h2 + &
    margin-top .6125em
  h2.small + &
  h3 + &
    margin-top .75rem
  h4 + &
    margin-top .125em
