:root
  
  --logo url(../images/logo.svg)
  
  --pin url(../images/pin.svg)
  --arrow-right url(../images/arrow-right.svg)
  --arrow-left url(../images/arrow-left.svg)
  --question url(../images/question.svg)

  --vk url(../images/vk.svg)
  --facebook url(../images/facebook.svg)
  --instagram url(../images/instagram.svg)
  --moy-mir url(../images/moy-mir.svg)
  --odnoklassniki url(../images/odnoklassniki.svg)
  --skype url(../images/skype.svg)
  --telegram url(../images/telegram.svg)
  --twitter url(../images/twitter.svg)
  --viber url(../images/viber.svg)
  --whatsapp url(../images/whatsapp.svg)

  --color-link #5896FD
  --color-link-hover #8BB6FC
  --color-link-active #A4C6FC
