.form-input
  & + &
    margin-top 2rem
  & + &--checkbox
    margin-top 1.375rem
  &--checkbox
    display flex
    & ^[-1]__label
      order 2
    & ^[-1]__field
      flex-shrink 0
      order 1
      width auto
      height auto
      margin-top .125rem
      margin-right (basePadding/2)
  &--captcha
    display flex
    flex-direction column
    align-items stretch
  &--search
    & ^[-1]__field
      background-image url(../images/zoom.svg)
      background-repeat no-repeat
      background-position right 1rem center
      background-size 1.25rem
      &::-webkit-search-decoration
      &::-webkit-search-cancel-button
      &::-webkit-search-results-button
      &::-webkit-search-results-decoration
        display none
  &__row
    display flex
  &__captcha-image
    width 100%
    margin basePadding basePadding 0
  &__field
    border none
    border-radius .25rem
    textarea&
      height 5.3125rem
      resize none
    select&
      padding-right 3rem
      background-image url(../images/drop-down.svg)
      background-repeat no-repeat
      background-position center right 1rem
      background-size .75rem
      -webkit-appearance none // @stylint ignore
      -moz-appearance none // @stylint ignore
    .block-marked &
      background-color #fafafa
  &__label
    display inline-block
    margin-bottom (basePadding/3)
  &__checkbox
    flex-shrink 0
    margin-right (basePadding/2)
