.header-services
  position relative
  &--active
    & ^[-1]__button
      color #fff
      background-color #6B81FA
      background-image none
      transition background-color .1s, color .1s
    & ^[-1]__list
      opacity 1
      transform none
      transition transform .1s, opacity .1s
  &__button
    --btn-gradient-color-first #AECDFF // @stylint ignore
    --btn-gradient-color-second #C7DCFF // @stylint ignore

    position relative
    width 100%
    padding-left 3.25rem
    color #343A40
    box-shadow none
    transition background-color .4s, color .4s

  &__button-icon
    position absolute
    top 50%
    left 1rem
    width 1.5rem
    transform translateY(-50%)
  &__list
    position absolute
    width 17.25rem
    opacity 0
    transform scaleX(.66) scaleY(0)
    transform-origin 0 0 0
    transition transform .4s, opacity .4s
