.rating-block
  &__image
    display flex
    justify-content center
    align-items center
    height 2rem
  &__rating
    font-family 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
    font-size 2.5rem
    line-height 2.5rem

    margin-top 1.25rem
  &__stars
    display flex
    justify-content center
    margin-x -.25rem
    margin-top .75rem
  &__star
    --gradient-stop 0 // @stylint ignore

    width .75rem
    height .75rem
    margin-x .25rem
    background-image linear-gradient(to right, #F15223 var(--gradient-stop), #F9C2B1 var(--gradient-stop))
    mask url(../images/star.svg#star) // @stylint ignore
    mask-type alpha // @stylint ignore
  &__count
    margin-top .5rem
