include /blocks/block-marked/block-marked

mixin ratingBlock(item)
  - item.starsCount = item.starsCount || 5
  +blockMarked({ shadow: true }).text-align--center.rating-block(data-rating= item.rating data-stars-count= item.starsCount)&attributes(attributes)
    .rating-block__image: img(src= item.image alt= item.name title= item.name)
    .rating-block__rating !{item.rating}
    .rating-block__stars
      - let i = 0
      while i < item.starsCount
        .rating-block__star
        - i += 1
    .rating-block__count Отзывов: !{item.count}
