include /blocks/block-marked/block-marked

mixin workItem(item)

  +blockMarked.work-item&attributes(atributes)
    .work-item__name !{item.name}
    +grid({ padding: 'y' }).work-item__elements
      each elem in item.elements
        +cell({ s: 6, xs: 12 }).work-item__element: a(href= elem.detail data-glightbox='' data-gallery= item.id).gallery-item: img(src= elem.thumb alt= item.name)
    .work-item__features
      each feature in item.features
        .work-item__feature
          .work-item__feature-name !{feature.name}:
          .work-item__feature-value
            - let l = 1
            each i in feature.value
              a(href='') !{i}
              if l < feature.value.length
                | , 
              - l++
