.work-item
  &__name
    margin-bottom 1.675rem
    font-family 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
    font-size 1.365rem
  &__features
    margin-top 2rem
    line-height 1.5

    @supports (display contents)
      display grid
      grid-template-columns min-content auto
      grid-column-gap .375rem // @stylint ignore
      grid-row-gap .75rem // @stylint ignore
  &__feature
    @supports (display contents)
      display contents
    @supports not (display contents)
      display flex
      & + &
        margin-top .75rem
  &__feature-name
    @supports not (display contents)
      margin-right .375rem
