extends /blocks/layout-services/layout-services

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/block-marked/block-marked
include /blocks/discount-banner/discount-banner
include /blocks/block-marked-image/block-marked-image
include /blocks/table-price/table-price
include /blocks/block-icon/block-icon
include /blocks/stages-list/stages-list
include /blocks/work-item/work-item
include /blocks/splide/splide
include /blocks/review-item/review-item
include /blocks/doctor-item/doctor-item
include /blocks/advantage-block/advantage-block
include /blocks/text-marked/text-marked
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-item-small/article-item-small
include /blocks/button/button

block content
  +pageSection.container: .content
    +pageSubsection
      +blockMarked({ arrow: true })
        +textMarked({ tag: 'p', big: true, bold: true }) Мы используем уникальное оборудование высочайшего качества!
    +pageSubsection
      p GALILEOS устанавливает новые стандарты в рентгенографии, предлагая превосходное качество рентгеновских изображений при наименьшей дозе облучения. Именно наша клиника использует данное новейшее оборудование, аналогов которому нет. Интуитивное управление и оптимизированный рабочий процесс повышают эффективность стоматологического лечения и трехмерной диагностики.
      p GALILEOS — это будущее стоматологии! GALILEOS Comfort PLUS с полем обзора 15,4×15,4×15,4 см позволяет захватить всю зубочелюстную систему, включая носовые пазухи. Функция 3D позволяет повысить диагностическую точность с минимальной дозой облучения. А недавно разработанная программа MARS, гасящая металлические артефакты, обеспечивает четкость и достоверность изображения.
    +pageSubsection
      +blockMarked({ arrow: true })
        +textMarked({ tag: 'p', big: true, bold: true }) Превосходное качество рентгеновских изображений при наименьшей дозе облучения. 
        p Именно наша клиника использует данное новейшее оборудование, аналогов которому нет.
    +pageSubsection: img(src='/images/banner-implant-adin.jpg' alt='Имплант Adin всего за 12000 рублей' title='Имплант Adin всего за 12000 рублей')
    +pageSubsection
      h2 Основные преимущества GALILEOS при томографии зубов и пазух носа
      ul.list-marked
        li лучше качество благодаря режиму HD mode;
        li большое поле обзора;
        li наиболее низкая доза облучения;
        li оптимальный рабочий процесс.
      +textMarked({ tag: 'p', bold: true }) Оцените детализированные снимки потрясающего качества, сделанные при помощи GALILEOS
      +grid({ padding: 'y', 'par-like': true })
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): a(href='/resources/medialibrary/5cc6f084eb251ebdc0d53f15a761554a/3d9438be9171cb591ef94daa1a926318.png' data-glightbox data-gallery='examples'): img(src='/resources/medialibrary/5cc6f084eb251ebdc0d53f15a761554a/3d9438be9171cb591ef94daa1a926318.png' alt='' title='')
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): a(href='/resources/medialibrary/547dda58658106fc165031928914e17f/f5dcf2b8a953637dbc2cd8b4ea84fe70.png' data-glightbox data-gallery='examples'): img(src='/resources/medialibrary/547dda58658106fc165031928914e17f/f5dcf2b8a953637dbc2cd8b4ea84fe70.png' alt='' title='')
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): a(href='/resources/medialibrary/338d5c5fdf54eeef3ccb110a91ccb6f8/dd5a12ecb7d360674efb5851ca7c7d50.png' data-glightbox data-gallery='examples'): img(src='/resources/medialibrary/338d5c5fdf54eeef3ccb110a91ccb6f8/dd5a12ecb7d360674efb5851ca7c7d50.png' alt='' title='')
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): a(href='/resources/medialibrary/99d80f38d6e21b45fc5f865b265a47c0/e6978ae55d9bc699c84c7fc3a83cee75.png' data-glightbox data-gallery='examples'): img(src='/resources/medialibrary/99d80f38d6e21b45fc5f865b265a47c0/e6978ae55d9bc699c84c7fc3a83cee75.png' alt='' title='')
    +pageSubsection
      h2 Причины сделать компьютерную томографию зубов и пазух носа
      +blockMarked({ arrow: true })
        +textMarked({ tag: 'p', big: true, bold: true }) Используя 3D исследование можно ответить на вопросы со всех областей стоматологии. 
        p Несомненные плюсы 3D-томографии: время, безопасность, убедительность.
      p Насколько серьезна резорбция костной ткани? Почему зуб не смещается? Используя 3D исследование можно намного проще и быстрее ответить на огромное количество вопросов, связанных со всеми областями стоматологии.
      p Несомненные плюсы 3D томографии
      ul.list-marked.list-marked--w-prev-par
        li время — экономия временных затрат;
        li безопасность — больше опций для диагностики и лечения;
        li убедительность — высокий уровень диагностики и доверия, благодаря понятным снимкам.
      +textMarked({ tag: 'p' }) Рентгеновские изображения и наглядная визуализация в одном скане (пример реального снимка)
      p: img(src='/upload/medialibrary/19a/19a9d0e65487e934418ce84ae3eff99e.jpg' alt='Томография зубов при помощи GALILEOS' title='Томография зубов при помощи GALILEOS')
    +pageSubsection
      h3 Каким образом трехмерная диагностика помогает в лечении зубов
      +grid({ padding: 'y', 'par-like': true })
        +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
          h3 Имплантология
          p Оценка рисков и ограничений перед проведением хирургического вмешательства, 
            a(href='/implantatsiya/vstavit-implanty/') установка имплантов
            |  с минимальной инвазивностью, одновременная оценка ортопедических и имплантологических аспектов.
        +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
          h3 Эндодонтия
          p Оценка мелких структур при переломах корней и травмах зубочелюстной системы, отображение внутренней и внешней резорбции корневых каналов, дооперационная диагностика в случае прикорневых повреждений, дооперационное эндодонтическое планирование (перед апикоэктомией).
        +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
          h3 Челюстно-лицевая хирургия
          p Смещенные зубы, диагностика переломов, диагностика синусов, кист, сохранившиеся корни, ортодонтические хирургические вмешательства.
        +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
          h3 Ортодонтия
          p Смещенные, ретинированные зубы, ортодонтический анализ, резорбция корней, расщепление губ, челюсти и неба.
        +cell({ xs: 12 }): +blockMarked
          h3 Общая стоматология
          p Исключены противоречивые и неоднозначные результаты панорамных исследований; на новом уровне проводятся эндодонтические вмешательства, имплантология, хирургические вмешательства в полости рта.
    +pageSubsection
      +textMarked({ tag: 'p', big: true, bold: true }) Galileos обеспечивает наименьшую эффективную дозу облучения среди всех установок. 
      p Благодаря применению технологий усиления изображения достгается сокращение дозы облучения.
    +pageSubsection
      h3 Доза облучения минимальна
      +blockMarkedImage({ src: '/upload/medialibrary/2ae/2ae97a13bbe49fa61ac8b26a9f460db7.jpg' }, { 'image-to-right': true })
        p Пациенты все чаще задают вопросы о дозе облучения. По этой причине рентгеновская система GALILEOS была оптимизирована с целью достижения максимально возможного качества изображений при минимальной лучевой нагрузке — также возможно в режиме HD. Все этапы работы томографа, начиная с позиционирования и заканчивая получением изображения, тщательно синхронизируются с целью оптимального взаимодействия элементов рентгеновского аппарата. GALILEOS обеспечивает наименьшую эффективную дозу облучения* среди всех крупногабаритных рентгеновских установок. Благодаря применению технологий усиления изображения, достигается сокращение дозы облучения, необходимой для получения одного 
          a(href='/galileos-comfort/3d-snimok-zubov/') снимка
          | . Дополнительное снижение дозы облучения обеспечивается за счет сокращения области съемки.
          br
          small * Эффективная доза согласно ICRP 2007 (Ладлоу).
    +pageSubsection
      +textMarked({ tag: 'p', big: true, bold: true }) Galileos Implant сократит время ожидания результатов и удобство восприятия.
      p Вы можете получать наглядные результаты исследования всего за несколько минут.
    +pageSubsection
      h3 Превосходное программное обеспечение GALILEOS
      +blockMarkedImage({ src: '/upload/medialibrary/c44/c4470d3d1269f52479f4d3c43d4fef5f.jpg' }, { 'image-to-right': true })
        p GALILEOS Implant — вероятно, лучшее программное обеспечение, которое благодаря своей простоте, точности и наглядности сократит время ожидания результатов и удобство восприятия. На руки Вы можете получить понятный и наглядный трехмерный снимок. С трехмерными технологиями процесс имплантации становится простым и понятным, что прямым образом влияет на конечный результат.
        p С помощью ПО GALILEOS Implant Вы сможет получить наглядные результаты исследования всего за несколько минут. При установке имплантата полностью учитываются анатомические особенности пациента за счет цветовой индикации нижнечелюстного канала и возможности оценки состояния костной ткани в любом направлении, что гарантирует высокую степень безопасности пациента за счет точного планирования и проведения оперативного вмешательства. Увеличивается не только количество установленных имплантатов но и степень неинвазимости.
    +pageSubsection
      h3 Максимально безопасная имплантология
      +blockMarkedImage({ src: '/upload/medialibrary/dfc/dfc831ddd8d6039c5c36a4c2d5e29cf9.jpg' }, { 'image-to-right': true })
        p Одновременное планирование хирургического и ортопедического вмешательства гарантирует максимальную безопасность и дает пациентам возможность лучше и быстрее понять ход лечения.
        p Также, с помощью сканера FaceScanner, встроенного в рентгеновскую систему GALILEOS, представляется возможным воспроизвести лицо: во время отображения рентгеновского изображения сканер воссоздает виртуальное «зеркальное изображение» пациента. Полученное рентгеновское изображение и трехмерный снимок лица накладываются друг на друга, что происходит полностью автоматически и с высокой точностью.
    +pageSubsection
      +blockMarked({ arrow: true })
        +textMarked({ tag: 'p', big: true, bold: true }) 3d компьютерная томография зубов: ведется предварительная запись, обращаться по телефону +7 (812) 612-97-92.
