@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'
@import '../../node_modules/@splidejs/splide/dist/css/splide.min.css'

html
  --margin-top-mobile 0
  font-family 'Mulish', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-size 16px
  @media (max-width point-l - 1)
    margin-top var(--margin-top-mobile)
.container
  display flex
  justify-content center
  padding-left calc(100vw - 100%)
.content
  width 100%
  max-width 1200px
  padding-x (basePadding)
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
h2
  font-family 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-size 2.5rem
  line-height 2.5rem
.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore

@import '../blocks/advantage-block/advantage-block.core'
@import '../blocks/button/button.core'
@import '../blocks/discount-banner/discount-banner.core'
@import '../blocks/form-input/form-input.core'
@import '../blocks/grid/grid'
@import '../blocks/header-navigation-mobile/header-navigation-mobile.core'
@import '../blocks/header-navigation/header-navigation.desktop.core'
@import '../blocks/header-search/header-search.core'
@import '../blocks/header/header.core'
@import '../blocks/home-advantages'
@import '../blocks/img'
@import '../blocks/menu-services/menu-services.desktop.core'
@import '../blocks/page-section'
@import '../blocks/page-subsection'
@import '../blocks/splide/splide.core'
