@import 'includes/mixins'
@import 'includes/variables'
@import '../../node_modules/glightbox/dist/css/glightbox.css'

html
  color #6b6b6b
.page
  background-color #FAFAFA
p
  font-size 1.125rem
  line-height 2rem
  parMargin()
h1
  margin-top 1rem
  font-family 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-size 3rem
  font-weight 500
  line-height 1.25
  color #343A40
  for item in parLike
    {item} + &
      margin-top 4rem
  @media (max-width point-m - 1)
    font-size 2.5rem
h2
  color #343A40
  for item in parLike
    {item} + &
      margin-top 2.5rem
  &.home-subheader
  .home-subheader &
    @media (min-width point-l)
      font-size 3rem
      line-height 3.75rem
  &.small
    font-size 1.5rem
    line-height 2rem
    for item in parLike
      {item} + &
        margin-top 2rem
  & + h3
    margin-top 0.625rem
  @media (max-width point-m - 1)
    font-size 2rem
    line-height 2rem
h3
  font-size 1.5rem
  font-weight 500
  line-height 2rem
  color #343A40
  strong
    font-size 2rem
    font-weight inherit
    color #5896FD
  for item in parLike
    {item} + &
      margin-top 2rem
  & + h4
    margin-top 0.25rem
h4
  font-size 1.25rem
  font-weight 500
  line-height 1.75rem
  color #343A40
  for item in parLike
    {item} + &
      margin-top 1.75rem

@import '../blocks/a'
@import '../blocks/advantage-block/advantage-block.rest'
@import '../blocks/block-marked'
@import '../blocks/button/button.rest'
@import '../blocks/discount-banner/discount-banner.rest'
@import '../blocks/discount-form'
@import '../blocks/doctor-item/doctor-item'
@import '../blocks/figure'
@import '../blocks/footer'
@import '../blocks/footer-menu'
@import '../blocks/form-input/form-input.rest'
@import '../blocks/gallery-item'
@import '../blocks/header-navigation-mobile/header-navigation-mobile.rest'
@import '../blocks/header-navigation/header-navigation.desktop.rest'
@import '../blocks/header-navigation/header-navigation.mobile'
@import '../blocks/header-search/header-search.rest'
@import '../blocks/header/header.rest'
@import '../blocks/home-form'
@import '../blocks/like-button'
@import '../blocks/menu-services/menu-services.desktop.rest'
@import '../blocks/menu-services/menu-services.mobile'
@import '../blocks/review-item'
@import '../blocks/splide/splide.rest'
@import '../blocks/work-item/work-item'
