.consultation-categories
  &.block-marked
    height auto
  &__item
    display flex
    justify-content space-between
    font-size 1.125rem
    & + &
      margin-top 1.25rem
    &--active
      & ^[-2]__link
      & ^[-2]__count // @stylint ignore
        font-weight 500
        text-decoration none
        color #343A40
  &__link
    text-decoration none
    color #646464
    &:hover
      color var(--color-link)
  &__count
    color #646464
  &__count
    min-width 2rem
    text-align right
