mixin figure(item)

  figure.figure&attributes(attributes)
    if item.detail
      a(href= item.detail data-glightbox= item.gallery || '').figure__detail: img(src= item.src alt= item.alt || '' title= item.alt || '').figure__image
    if item.formats 
      picture
        -
          const original = item.formats.filter((item) => item.orig === true)[0]
          item.formats.push(item.formats.splice(item.formats.indexOf(original), 1)[0])
        each i in item.formats
          - const srcsets = [] // массив, в котором будут храниться пути
          -
            srcsets.push({
              srcset: `${item.path}${item.name}.${i.ext}`,
              mime: i !== original ? i.mime : undefined,
            })
          each set in srcsets
            source(srcset=set.srcset type=set.mime media=set.media)
        img(src=`${item.path}${item.name}.${original.ext}` loading='lazy' decoding='async' alt=`${item.caption}` title=`${item.caption}`)&attributes(attributes)

    else
      img(src= item.src alt= item.alt || '' title= item.alt || '').figure__image
    figcaption.figure__caption !{item.caption}
