.splide
  &__arrow
    background-color transparent
    background-repeat no-repeat
    background-size 6rem
    border-radius 0
    transform unset
    &--prev
      background-image var(--arrow-left)
      background-position left
    &--next
      background-image var(--arrow-right)
      background-position right
  &__pagination__page
    background-color #AECDFF
    transition background-color .4s, transform .4s
    will-change background-color, transform
    &.is-active
      background-color #0A125B
      transform scale(2)
      transition background-color .1s, transform .1s
