mixin splide(settings)
  - splide = true
  div(class = classes('splide', settings))&attributes(attributes)
    .splide__track
      ul.splide__list
        block
    .splide__arrows
      button.splide__arrow.splide__arrow--prev(type='button' aria-controls='splide01-track' aria-label='Go to last slide')
      button.splide__arrow.splide__arrow--next(type='button' aria-controls='splide01-track' aria-label='Next slide')
mixin slide
  if splide
    li.splide__slide: block
