.splide
  padding-bottom 3.5rem
  &__arrow
    top unset
    bottom 0
    display flex
    width 6rem
    height 1rem
    @media (max-width point-m - 1)
      width 3rem
  &__pagination
    bottom 0
    margin-x -(basePadding)
    @media (max-width point-m - 1)
      margin-x (-(basePadding / 4))
  &__pagination__page
    width .5rem
    height .5rem
    margin-x basePadding
    @media (max-width point-m - 1)
      margin-x (basePadding / 4)
