.doctor-item
  position relative
  display flex
  & p
  .list-marked
    font-size 1rem
    line-height 1.5
  .list-marked > li
    background-position left .375rem
  @media (min-width point-s)
    height 100%
  &::before
    content ''
    position absolute
    top 3rem
    right 0
    bottom 0
    left 4.25rem
    z-index -1
    background-color #fff
    border-radius .5rem
    will-change transform
    @media (max-width point-s - 1)
      content none
      transform none
      will-change auto
  &__photo
    overflow hidden
    border-radius 1rem
    box-shadow 0 2rem 1rem -1.375rem #E0E0E0
    will-change transform
    @media (max-width point-s - 1)
      margin-bottom 0
      transform none
      will-change auto
  &__photo img
    display block
  &__info
    display flex
    flex-direction column
    align-items flex-start
    height 100%
    padding-top 5rem
    padding-right 1rem
    padding-bottom 2rem
    transform translateY(var(--info-translate))
    will-change transform
    @media (max-width point-s - 1)
      display grid
      grid-template-areas 'photo name' 'block block' 'button button'
      grid-template-columns 1fr 3fr
      grid-gap basePadding // @stylint ignore
      padding-top 0
      transform none
      will-change auto
  &__name
    margin-bottom 1rem
    font-family 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
    font-size 1.125rem
    font-weight 500
    line-height 1.5rem
    @media (max-width point-s - 1)
      align-self end
      grid-area name
  &__name strong
    display block
    margin-bottom .5rem
    font-size 1.5rem
    font-weight 500
  &__block
    margin-bottom 1.5rem
    @media (max-width point-s - 1)
      grid-area block
      margin-bottom 0
  &__button
    display block
    margin-top auto
    @media (max-width point-s - 1)
      grid-area button
      justify-self start
      margin-top 0
  &__occupation
    font-size 1.125rem
    line-height 1.5rem
  &__properties
    margin-top 1.375rem
