include /blocks/properties/properties

mixin doctorItem(item)
  .doctor-item: +grid({ padding: 'y' })
    +cell({ s: 6, xs: 'hidden' })
      .doctor-item__photo: img(src= item.image alt=`${item.name} ${item.nameSecondary}` title=`${item.name} ${item.nameSecondary}`)
    +cell({ s: 6, xs: 12 })
      .doctor-item__info
        .doctor-item__photo.hidden-hd.hidden-xl.hidden-l.hidden-m.hidden-s: img(src= item.image alt=`${item.name} ${item.nameSecondary}` title=`${item.name} ${item.nameSecondary}`)
        .doctor-item__name
          strong !{item.name}
          |  !{item.nameSecondary}
        .doctor-item__block
          .doctor-item__occupation !{item.occupation}
          if item.properties
            +properties(item.properties).doctor-item__properties
        a(href='').doctor-item__button Подробнее
