.footer
  margin-top 6.25rem
  padding-top 6rem
  padding-bottom 2rem
  background-color #f6f6f6
  &__logo
    padding-top 75%
    background-image url(../images/logo-2.svg)
    background-repeat no-repeat
    background-position center
    background-size contain
  &__contacts-title
    font-size 1.25rem
  &__phone
    margin-y .5rem
    font-size 2.25rem
    line-height 1.25
    @media (max-width point-m - 1)
      font-size 1.75rem
  &__phone a
    text-decoration none
    color #343A40
    &:hover
      color #646464
  &__socials
    display flex
    align-items center
    margin-top 1rem
    margin-bottom .5rem
  &__socials span
    margin-right basePadding
  &__button
    margin-top 2rem
    .button
      display inline-block
  &__agreement
    margin-top 3rem
    font-size .875rem
    line-height 1.5rem
  &__developer
  &__license
    font-size .875rem
    line-height 1.5rem
  &__developer
    padding .5rem 0 .5rem 3rem
    background-image url(../images/medreclama.svg)
    background-repeat no-repeat
    background-position left center
    background-size 2rem
