include /blocks/footer-menu/footer-menu
include /blocks/link-icons/link-icons

footer.footer: .container: .content
  +grid({ padding: 'y' })
    -
      const footerMenu = {
        about: [
          { name: 'О клинике', href: '/', sublist: [
              { name: 'Скидки', href: '/' },
              { name: 'Лицензии', href: '/' },
              { name: 'Наши работы', href: '/' },
              { name: 'Интерьеры', href: '/' },
              { name: 'Оборудование', href: '/' },
              { name: 'Обращение директора', href: '/' },
              { name: 'Вакансии', href: '/' },
            ] }
        ],
        forCustomers: [
          { name: 'Пациентам', href: '/', sublist: [
              { name: 'Гарантии', href: '/' },
              { name: 'Кредит', href: '/' },
              { name: 'Варианты оплаты', href: '/' },
              { name: 'Правовая информация', href: '/' },
              { name: 'Налоговый вычет', href: '/' },
              { name: 'Статьи', href: '/' },
            ] }
        ],
      }
    +cell({ l: 3, m: 6, xs: 6 }): .footer__menu: +footerMenu(footerMenu.about)
    +cell({ l: 3, m: 6, xs: 6 }): .footer__menu: +footerMenu(footerMenu.forCustomers)
    +cell({ l: 2, m: 4, xs: 4 }): .footer__logo
    +cell({ l: 4, m: 8, xs: 12 }): .footer__contacts
      p.footer__contacts-title Клиника Вайтдент
      .footer__phone: a(href='tel:+7 (812) 612-97-92') +7 (812) 612-97-92
      .footer__socials
        span Присоединяйтесь к нам
        +linkIcons([ 'vk', 'instagram' ])
      p: a(href='mailto:send@whitedent.spb.ru') send@whitedent.spb.ru
      .footer__button: +button({ tag: 'a' })(href='/') Задать вопрос в консультацию
      .footer__agreement
        a(href='/') Соглашения на обработку персональных данных
        br
        a(href='/') Правила использования сайта
    +cell({ m: 6, xs: 12 }): .footer__developer
      a(href='https://medreclama.ru') Разработка сайта и продвижение клиники:
      |  «Medreclama»
    +cell({ m: 6, xs: 12 }): .footer__license
      a(href='') Лицензия
      |  на осуществление медицинской деятельности № 78-01-005523 выдана 09.02 2015 комитетом по здравоохранению г. Санкт-Петербурга
