.list-numbered
  parMargin()
  font-size 1.125rem
  line-height 2rem
  padding-left 1.5rem
  &.grid
    padding-left 2.5rem
  &--w-prev-par // для списка, связанного с предыдущим абзацем
    p + &
      margin-top (.875rem / 3)
  > li
    padding-left 1rem
