.validation-message
  position absolute
  bottom 0
  z-index 2
  display none
  padding .5rem 1rem
  color #fff
  background-color #da3835
  border-radius .25rem
  opacity 0
  transform translateY(calc(100% + 2rem))
  transition transform .2s, opacity .2s
  &::before
    content ''
    position absolute
    top -2rem
    left calc(37.5% - 2rem)
    border 1rem solid transparent
    border-bottom 1rem solid #da3835
  &--active
    display block
    opacity 1
    transform translateY(calc(100% + 1rem))
