extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/page-navigation/page-navigation

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection.container: .content
    h1 Ошибка 404 — страница не найдена
    +pageSubsection
      p Страница не существует или была удалена.
      +textMarked({ tag: 'p', big: true }) Страницу не вернуть, но мы можем вернуть вам здоровые зубы и красивую улыбку.
    +pageSubsection
      p Найдите через поиск по сайту:
      +grid({ 'par-like': true, padding: 'y' }): +cell({ l: 6, m: 8, xs: 12 })
        +grid({ tag: 'form', padding: 'y' })
          +cell({ s: 7, xs: 12 }): +formInput({ type: 'text' })
          +cell({ s: 5, xs: 12 }): +button({ wide: true })(type='submit') Найти
    +pageSubsection
      p Возможно, вас заинтресуют наши услуги или узнать больше о стоматологии:
      +pageNavigation([
        { name: 'Консультация', href: '/' },
        { name: 'Рентгенодиагностика', href: '/' },
        { name: 'Лечение зубов', href: '/' },
        { name: 'Имплантация зубов', href: '/' },
        { name: 'Протезирование зубов', href: '/' },
        { name: 'Хирургия', href: '/' },
        { name: 'Исправление прикуса', href: '/' },
        { name: 'Гигиена полости рта', href: '/' },
        { name: 'Анестезия', href: '/' },
      ])
