extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/block-marked/block-marked
include /blocks/rating-block/rating-block

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная' ], current: 'Акции' })
  +pageSection.container: .content
    h1 О клинике
    -
      const nav = [
        { name: 'Преимущества', href: '#' },
        { name: 'Цифры', href: '#' },
        { name: 'Подход к работе', href: '#' },
        { name: 'Обслуживание по ДМС', href: '#' },
        { name: 'Услуги', href: '#' },
        { name: 'Благодарности', href: '#' },
        { name: 'Лицензия', href: '#' },
        { name: 'Сертификаты', href: '#' },
      ]
    +pageSubsection: +pageNavigation(nav)
    +pageSubsection: +blockMarked: p Стоматологическая клиника «ВайтДент» является перспективным лечебным учреждением, которое занимает достойное место среди ведущих клиник данного направления в Санкт-Петербурге.
  +pageSection.container: .content
    h2 Преимущества клиники Вайтдент
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked({ background: [ true, 'expert' ] })
        h3 Высокая оценка экспертов
        p Входим в топ 10 клиник по имплантации по версии 
          a(href='') «Комсомольской Правды»
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked({ background: [ true, 'microscope' ] })
        h3 Собственная зуботехническая лаборатория
        p Сокращаем время производства протезов и их стоимость, контролируем качество на всех этапах.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked({ background: [ true, 'guarantees' ] })
        h3 Гарантии на все виды стоматологических услуг
        p Все установленные врачом и согласованные с пациентом прогнозируемые 
          a(href='') гарантии
          |  на каждую выполненную работу фиксируются в медицинской карте за подписью пациента и врача
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked({ background: [ true, 'specialists' ] })
        h3 Специалисты во всех сферах
        p Благодаря наличию врачей всех специальностей: терапия, имплантология, хирургия, протезирование, ортодонтия, пародонтология оказываем полный цикл услуг
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked({ background: [ true, 'xray' ] })
        h3 Современная диагностика
        p Диагностика для постановки диагноза проходят с использованием современной техники: компьютерный томограф GALILEOS фирма SIRONA (Германия)
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked({ background: [ true, 'function' ] })
        h3 Работаем с 2004 года
        p За 17 лет мы помогли более 10000 пациентов
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked({ background: [ true, 'credit-card' ] })
        h3 Лечение в кредит и рассрочка
        p Выгодные условия кредитования от Альфа банк. Рассрочка платежа (для постоянных клиентов при длительном лечении)
  +pageSection.container: .content
    h2 Цифры
    +pageSubsection: +grid({ padding: 'y', justify: 'center' })
      +cell({ l: 4, m: 4, s: 6, xs: 12 }): +blockMarked({ shadow: true }).text-align--center
        h3
          strong 10000
          br
          | счастливых пациентов
        p За время работы клиники мы помогли тысячам пациентов
      +cell({ l: 4, m: 4, s: 6, xs: 12 }): +blockMarked({ shadow: true }).text-align--center
        h3
          strong 17
          br
          | лет опыта
        p Наша клиника начала свою работу с 2004 года
      +cell({ l: 4, m: 4, s: 6, xs: 12 }): +blockMarked({ shadow: true }).text-align--center
        h3
          strong 11
          br
          | специалистов
        p Профессиональная команда, состоящая из главного врача и 10 стоматологов
    +pageSubsection: +grid({ padding: 'y', justify: 'center' })
      +cell({ l: 3, m: 4, s: 6, xs: 12 }): +ratingBlock({
        image: '/images/about/docdoc.png',
        name: 'docdoc',
        rating: 7.9,
        starsCount: 10, 
        count: 36,
      })
      +cell({ l: 3, m: 4, s: 6, xs: 12 }): +ratingBlock({
        image: '/images/about/prodoctorov.svg',
        name: 'prodoctorov',
        rating: 3.6,
        count: 36,
      })
      +cell({ l: 3, m: 4, s: 6, xs: 12 }): +ratingBlock({
        image: '/images/about/napopravcu.svg',
        name: 'napopravcu',
        rating: 5,
        count: 36,
      })
  +pageSection.container: .content
    h2 Подход к работе
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        p: img(src='/images/about/01.jpg' alt='Работа «в четыре руки»' title='Работа «в четыре руки»').block-rounded
        p Работа с пациентами в клинике построена по принципу 
          strong «в четыре руки»
          | . Врач работает в паре с ассистентом, что позволяет проводить 
          strong комфортное
          |  и максимально 
          strong эффективное
          |  лечение.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        p: img(src='/images/about/02.jpg' alt='Программах антиГЕПАТИТ и антиСПИД' title='Программах антиГЕПАТИТ и антиСПИД').block-rounded
        p Клиника участвует в программах антиГЕПАТИТ и антиСПИД. Специальные программы обработки инструментов и стерилизации, 
          strong проверка качества стерилизации
          |  после каждого цикла.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        p: img(src='/images/about/03.jpg' alt='Современная аппаратура' title='Современная аппаратура').block-rounded
        p Оказание стоматологической помощи в центре осуществляется с помощью 
          strong современной аппаратуры
          |  (стоматологические установки SDS-2000 (США), физиодиспенсеры фирмы W&H (Австрия) и NSK (Япония), автоклавы MOSOM (ИТАЛИЯ), вакуумная система TURBO-SMART ФИРМЫ CATTANI (Италия)
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        p: img(src='/images/about/04.jpg' alt='Высокое качество обработки зубов' title='Высокое качество обработки зубов').block-rounded
        p Высокое 
          strong качество обработки зубов
          |  врачами центра достигается благодаря использованию инструментов ведущих мировых производителей (стоматологические наконечники W&H (Австрия) и NSK (Япония), стоматологические боры и фрезы производство Германия)
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        ul.list-marked
          li При необходимости обезболивания при оказании стоматологической помощи, нами используются современные и безопасные анестетики производства Франции и Германии (Септанест, Артикаин, Эпинефрин, Убистезин), сертифицированные в России и прошедшие клинические исследования в Европе
          li Каждый сложный случай рассматривается на общем врачебном собрании. Либо организуем консультации пациентов у ведущих специалистов Санкт-Петербурга (ЛОР врачи, ортопеды, дерматологи, онкологи)
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        p: img(src='/images/about/05.jpg' alt='Многолетний опыт специалиста нашей зуботехнической лаборатории' title='Многолетний опыт специалиста нашей зуботехнической лаборатории').block-rounded
        p Специалист нашей собственной зуботехнической лаборатории имеет многолетний опыт работы по созданию любых протезов: пластмассовых, диоксида циркония, металлокерамических, керамических.
  +pageSection.container: .content
    h2 Обслуживание по ДМС
    +pageSubsection: +blockMarked
      p Мы принимаем пациентов застрахованных в следующих компаниях:
      +grid({ padding: 'y', align: 'center', 'par-like': true })
        +cell({ xs: 'auto' }): img(src='/images/about/rosgosstrah.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/rms.png' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/reso.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/allianz.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/vtb.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/medexpress.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/pomosch.png' alt='' width='132')
  +pageSection.container: .content
    h2 Широкий спектр стоматологических услуг
    +pageSubsection: +blockMarked
      p Мы оказываем всестороннюю консультационную и лечебную помощь нашим пациентам.
      +grid({ padding: 'y', 'par-like': true })
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): ul.list-marked.list-marked--check
          li: a(href='') Протезирование зубов
          li: a(href='') Имплантация зубов
          li: a(href='') Лечение зубов
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): ul.list-marked.list-marked--check
          li: a(href='') Лечение десен
          li: a(href='') Хирургическая стоматология
          li: a(href='') Исправление прикуса
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): ul.list-marked.list-marked--check
          li: a(href='') Гигиена полости рта
          li: a(href='') Диагностика зубов
          li: a(href='') Анестезия
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): ul.list-marked.list-marked--check
          li: a(href='') Консультация
  +pageSection.container: .content
    h2 Благодарности
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 3, m: 4, s: 6, xs: 6 }): a(href='/images/about/thanks-1.jpg' data-glightbox data-gallery='thanks'): img(src= '/images/about/thanks-1-small.jpg' alt='' title='').block-rounded.block-rounded--big
      +cell({ l: 3, m: 4, s: 6, xs: 6 }): a(href='/images/about/thanks-2.jpg' data-glightbox data-gallery='thanks'): img(src= '/images/about/thanks-2-small.jpg' alt='' title='').block-rounded.block-rounded--big
      +cell({ l: 3, m: 4, s: 6, xs: 6 }): a(href='/images/about/thanks-3.jpg' data-glightbox data-gallery='thanks'): img(src= '/images/about/thanks-3-small.jpg' alt='' title='').block-rounded.block-rounded--big
