extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/discount-header/discount-header
include /blocks/work-item/work-item
include /blocks/splide/splide
include /blocks/review-item/review-item
include /blocks/doctor-item/doctor-item
  
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Акции' })
  +pageSection.container: .content
    +pageSubsection: +discountHeader({
      image: '/images/discount-banner.jpg',
      name: '3D компьютерная томография ВСЕГО за 2000 руб.',
      additional: 'консультация врача-имплантолога в подарок!',
      date: 'до 30 сентября 2021',
    }) 
    +pageSubsection
      p Мы предлагаем современный и быстрый метод диагностики, который позволит определить наличие стоматологических заболеваний и наиболее оптимальный метод их лечения.
      p Компьютерная томография по цене ортопантомограммы:
      p Дентальная 3D-томография двух челюстей за 1500 руб. 2500 руб.
      p Подробнее о компьютерной 3D-томографии читайте по ссылке.
  +pageSection.container: .content
    h2 Рекомендуемые врачи, оказывающие услугу
    +pageSubsection: +splide().slider-doctors
      +slide: +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        experience: 'Стаж работы 15 лет',
        additional: 'Специалист в области терапии и ортопедии',
      })
      +slide: +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
        experience: 'Стаж работы 15 лет',
        additional: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры',
      })
      +slide: +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        experience: 'Стаж работы 15 лет',
        additional: 'Специалист в области терапии и ортопедии',
      })
      +slide: +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
        experience: 'Стаж работы 15 лет',
        additional: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры',
      })
  +pageSection.container: .content
    +grid({ padding: 'y', justify: 'space-between' })
      h2(class=cellClasses({ l:3, m: 4, s: 6, xs: 12 })) Отзывы
      +cell({ l: 2, m: 4, s: 6, xs: 12 }): +button({ tag: 'a', link: true })(href='/') Оставить отзыв
    +pageSubsection: +splide() 
      +slide: +reviewItem({
        image: { 
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розин Oлег',
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
      +slide: +reviewItem({
        image: { 
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розина Oльга',
        woman: true,
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
  +pageSection.container: .content
    h2 Результаты работы
    +pageSubsection
      +grid({ padding: 'y' })
        -
          const works = [
            {
              id: 'sinus-lifting-i-implantatsiya',
              name: 'Синус-лифтинг и имплантация',
              elements: [
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                },
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Никитин Михаил Александрович' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'синус лифтинг', 'имплантация' ],
                },
              ],
            },
            {
              id: 'metallokeramika-na-implantah',
              name: 'Металлокерамика на имплантах',
              elements: [
                {
                  thumb: '/images/metallokeramika-na-implantah-1.jpg',
                  detail: '/images/metallokeramika-na-implantah-1.jpg',
                },
                {
                  thumb: '/images/metallokeramika-na-implantah-2.jpg',
                  detail: '/images/metallokeramika-na-implantah-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Сумин Вадим Сергеевич' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'протезирование на имплантах' ],
                },
              ],
            },
          ]
        each work in works
          +cell({ l: 6, xs: 12 }): +workItem(work)
