extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/discount-banner/discount-banner

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Акции' })
  +pageSection.container: .content
    h1 Акции
    +pageSubsection
      p Акции и скидки в стоматологии — возможность получить качественные услуги по доступной цене. Акции в стоматологических клиниках Вайтдент проводятся постоянно. Рекомендуем периодически посещать эту страницу, чтобы всегда быть в курсе специальных предложений на услуги.
    +pageSubsection
      +discountBanner({
          name: '3D компьютерная томография ВСЕГО за 2000 руб',
          add: 'Консультация врача-имплантолога в подарок!',
          image: '/images/discount-banner.png',
        })
      +discountBanner({
          name: 'Зуб под ключ за 45000',
          date: 'До 30 сентября',
          add: 'Имплант адин + металлокерамическая коронка на прямом абатменте!',
          image: '/images/discount-banner.png',
        })
    +pageSubsection
      h2 Скидки в стоматологии
      p Проводя скидки и акции в стоматологии Петербурга, многие клиники ставят основную цель — привлечь как можно больше клиентов. Конечно, нам тоже приятно ваше внимание, но наши первостепенные цели совершенно иные. В первую очередь мы стремимся сделать стоматологию доступной, привить нашим клиентом важную привычку: заботу о здоровье зубов. Ведь профилактика и лечение на ранних стадиях — реальный шанс спасти зубы от выпадения. Поэтому, выбирая среди списка акционных предложений, знайте, что мы создавали их с заботой о вас.
