extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item-small/article-item-small
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Статьи' ], current: 'Реставрация зубов: показания и противопоказания' })
  +pageSection.container: .content
    h1 Реставрация зубов: показания и противопоказания
    +pageSubsection: +blockMarkedImage({ src: '/images/article.jpg', alt: 'Услуги по лечению зубов' }, { 'image-to-right': true, 'big-image': true })
      h2.small Содержание
      ul.list-marked.list-marked--arrow
        li: a(href='#') Коррекция эстетических параметров зуба
        li: a(href='#') Коррекция размеров и формы зуба
        li: a(href='#') Альтернативные методы коррекции
        li: a(href='#') Коррекция положения зуба в ряду
        li: a(href='#') Проблема изменения цвета
    +pageSubsection: +blockIcon({ title: 'Время прочтения — 7 минут.' }, { 'time': true })
    +pageSubsection
      p Основными показаниями к реставрации зубов на сегодняшний день являются следующие:
      
      p I. Коррекция эстетических параметров зуба.
      p Коррекция эстетических параметров — это улучшение внешнего вида зубов, как правило не связанное с наличием кариеса зубов или иного дефекта твердых тканей зуба.
      
      p а) Коррекция цвета зуба (зубов). Проблему изменения цвета зуба следует рассматривать в зависимости от того, о живом или мертвом зубе идет речь:
      ul.list-marked.list-marked--w-prev-par
        li коррекция цвета живых зубов;
        li коррекция цвета мертвых зубов.
      
      p На вестибулярную поверхность живого зуба можно изготавливать композитный прямой венир, корректирующий цвет.
      
      p Альтернативный метод коррекции цвета зубов в данном случае — изготовление керамических или композитных вениров непрямым способом, изготовление коронок или отбеливание.
      
      p б) Коррекция размеров и формы зуба. Идея коррекции размеров и формы привлекательна тем, что она проводится в одно посещение и пациент сразу получает желанную красивую улыбку. Правда, нам кажется, что иногда маленькая диастема придает улыбке определенную пикантность. Альтернативные методы коррекции — изготовление керамической или композитной вкладки непрямым способом, изготовление коронки.
      p в) Коррекция положения зуба в зубном ряду. Несмотря на немедленный результат, мы глубоко уверены в том, что «перемещать» с помощью композита можно только отдельные зубы.
      +grid({ padding: 'y', justify: 'center', 'par-like': true }): +cell({ l: 6, m: 8, s: 10, xs: 12 })
        +blockMarked: +grid({ padding: 'y' })
          +cell({ s: 6, xs: 12 }): img(src='https://dummyimage.com/600x400' alt='' title='')
          +cell({ s: 6, xs: 12 }): img(src='https://dummyimage.com/600x400' alt='' title='')
      p Заниматься переустройством зубных рядов с помощью композита, по нашему мнению, не следует: композит далеко не так безобиден из-за наличия остаточного мономера. Мы считаем, что корректировать положение зубов в ряду можно только в том случае, когда ортодонтическое лечение невозможно по каким-либо соображениям.
      p Альтернативные методы коррекции — ортодонтическое лечение, изготовление коронок, реставрация непрямыми композитными вкладками.
      p II. Лечение кариеса, его осложнений, некариозных поражений и последствий травм с восстановлением эстетических и функциональных параметров зуба.
      p а) восстановление зубов при частичных отколах коронки вследствие травмы.
      p Эта методика особенно актуальна, так как нередко при травме происходит откол одного зуба, а изготовление одиночной коронки почти всегда делает ее заметной.
      +blockMarked({ arrow: true })
        h3 Запишитесь к стоматологу-терапевту
        +grid({ padding: 'y', justify: 'center', 'par-like': true })
          +cell({ l: 9, m: 9, xs: 12 }): p Стоматолог-терапевт вылечит зубы и поможет сохранить их здоровыми. Врачи клиники ВайтДент успешно решат любую стоматологическую проблему. Запишитесь на консультацию, чтобы ваши зубы были в порядке.
          +cell({ m: 3, s: 6, xs: 12 }): +button({ tag: 'a' })(href='/') Записаться на прием
      p Альтернативные методы восстановления — непрямые композитные вкладки, керамические, вкладки, фарфоровые накладки для зубов коронки.
      p б) пломбирование полостей с восстановлением цветовой гаммы, присущей естественному зубу, природной прозрачности и формы.
      
      p Альтернативные методы — пломбирование полостей I, II классов амальгамой, постериоритами и вкладками; III и V классов стеклоиономерными цементами и компомерами, изготовление металлических и керамических вкладок; изготовление коронок при обширных разрушениях.
      p в) изготовление искусственных зубов на основе фрагментов естественного зуба.
    +pageSubsection
      -
        const author = {
          image: 'https://dummyimage.com/336x336',
          name: 'Никитин Михаил Александрович',
          occupation: 'Врач-стоматолог терапевт / ортопед',
          date: {
            published: '30.07.2018',
            updated: '30.07.2019',
          },
        }
      +articleAuthor(author)
    +pageSubsection: +articleFooter
  +pageSection.container: .content
    +grid({ padding: 'y', justify: 'center' })
      +cell({ m: 4, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/'): +grid({ align: 'center' })(style='height: 100%')
        +cell({ xs: 'auto' }) <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill="currentColor" d="M20,0A20,20,0,1,0,40,20,20,20,0,0,0,20,0Zm0,38.2A18.2,18.2,0,1,1,38.2,20,18.2,18.2,0,0,1,20,38.2Z"/><path fill="currentColor" d="M20.84,16.65H19.06c-.15,0-.23.07-.23.22V27.78a.2.2,0,0,0,.23.22h1.78c.16,0,.24-.08.24-.22V16.87C21.08,16.72,21,16.65,20.84,16.65Z"/><path fill="currentColor" d="M20,12a1.53,1.53,0,0,0-1.08.4,1.47,1.47,0,0,0,0,2.06,1.66,1.66,0,0,0,2.16,0,1.47,1.47,0,0,0,0-2.06A1.53,1.53,0,0,0,20,12Z"/></svg>
        +cell({ xs: 9 }): p Реставрация — информация об услуге
      +cell({ m: 4, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/'): +grid({ align: 'center' })(style='height: 100%')
        +cell({ xs: 'auto' }) <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill="currentColor" d="M20,0A20,20,0,1,0,40,20,20,20,0,0,0,20,0Zm0,38.2A18.2,18.2,0,1,1,38.2,20,18.2,18.2,0,0,1,20,38.2Z"/><path fill="currentColor" d="M25.34,12.57A4.8,4.8,0,0,0,23,12H16.89a.21.21,0,0,0-.17.23v7h0a.07.07,0,0,1-.08.07h-2a.2.2,0,0,0-.17.23v1.41a.2.2,0,0,0,.22.17h1.94a.07.07,0,0,1,.06.09v1.62h0a.07.07,0,0,1-.08.07h-2a.2.2,0,0,0-.17.23v.95a.2.2,0,0,0,.22.17H16.6a.07.07,0,0,1,.06.09v3.48A.22.22,0,0,0,17,28h1.74a.21.21,0,0,0,.17-.23V24.33a.07.07,0,0,1,.09-.07h5a.21.21,0,0,0,.17-.23v-.94a.22.22,0,0,0-.23-.18h-5a.07.07,0,0,1-.07-.09V21.18a.07.07,0,0,1,.09-.07h3.93a5.05,5.05,0,0,0,2.38-.56A4.15,4.15,0,0,0,26.9,19a4.63,4.63,0,0,0,.6-2.38,5,5,0,0,0-.56-2.4A4,4,0,0,0,25.34,12.57Zm-.68,6a2.69,2.69,0,0,1-2,.72H18.93a.07.07,0,0,1-.07-.09V14a.08.08,0,0,1,.09-.07h3.73a2.65,2.65,0,0,1,2,.74,2.69,2.69,0,0,1,.73,2,2.6,2.6,0,0,1-.75,1.91Z"/></svg>
        +cell({ xs: 9 }): p Цены лечения
      +cell({ m: 4, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/'): +grid({ align: 'center' })(style='height: 100%')
        +cell({ xs: 'auto' }) <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"><path fill="currentColor" d="M20,0A20,20,0,1,0,40,20,20,20,0,0,0,20,0Zm0,38.2A18.2,18.2,0,1,1,38.2,20,18.2,18.2,0,0,1,20,38.2Z"/><path fill="currentColor" d="M19.52,25.11a1.54,1.54,0,0,0-1.12.41,1.31,1.31,0,0,0-.44,1,1.34,1.34,0,0,0,.44,1,1.58,1.58,0,0,0,1.12.4,1.62,1.62,0,0,0,1.13-.4,1.38,1.38,0,0,0,.44-1,1.35,1.35,0,0,0-.44-1A1.57,1.57,0,0,0,19.52,25.11Z"/><path fill="currentColor" d="M20.09,12a6.5,6.5,0,0,0-2.65.53,4.18,4.18,0,0,0-1.8,1.5,3.9,3.9,0,0,0-.64,2.2v.5c0,.15.08.22.24.22L17.1,17c.16,0,.25-.07.25-.22v-.59a2,2,0,0,1,.73-1.64A2.92,2.92,0,0,1,20,14a2.9,2.9,0,0,1,1.9.6,2,2,0,0,1,.72,1.61,2.09,2.09,0,0,1-.52,1.45,9.16,9.16,0,0,1-1.5,1.24A8.39,8.39,0,0,0,19,20.3a2.42,2.42,0,0,0-.6,1.7v1.1c0,.15.08.22.24.22h1.89c.16,0,.24-.07.24-.22v-1a1.49,1.49,0,0,1,.4-1,8.09,8.09,0,0,1,1.26-1,12.1,12.1,0,0,0,1.32-1,4.23,4.23,0,0,0,.88-1.18,3.81,3.81,0,0,0,.37-1.8,3.74,3.74,0,0,0-1.34-3A5.41,5.41,0,0,0,20.09,12Z"/></svg>
        +cell({ xs: 9 }): p Задать вопрос
  +pageSection.container: .content
    h2 Похожие статьи
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ m: 6, xs: 12 }): +articleItemSmall({ image: 'https://dummyimage.com/192x192', name: 'Развитие зубов у детей' }, { small: true })
      +cell({ m: 6, xs: 12 }): +articleItemSmall({ image: 'https://dummyimage.com/192x192', name: 'Зубная щетка и нить для детских зубов' }, { small: true })
  +pageSection.container: .content: +formAppointment({ title: 'Записаться на консультацию к стоматологу-терапевту' })
