extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/article-item/article-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная' ], current: 'Статьи' })
  +pageSection.container: .content
    h1 Статьи
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Развитие зубов у детей' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Хирургия большая и малая: удаляем зуб – устанавливаем имплантант?' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Развитие зубов у детей' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Хирургия большая и малая: удаляем зуб – устанавливаем имплантант?' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Развитие зубов у детей' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Хирургия большая и малая: удаляем зуб – устанавливаем имплантант?' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Развитие зубов у детей' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Хирургия большая и малая: удаляем зуб – устанавливаем имплантант?' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Развитие зубов у детей' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Хирургия большая и малая: удаляем зуб – устанавливаем имплантант?' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Развитие зубов у детей' })
      +cell({ l: 4, m: 6, xs: 12 }): +articleItem({ image: '/images/article.jpg', name: 'Хирургия большая и малая: удаляем зуб – устанавливаем имплантант?' })
    +pageSubsection: include /blocks/pagination/pagination
