extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/table-price/table-price
include /blocks/block-icon/block-icon
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная' ], current: 'Цены' })
  +pageSection.container: .content
    h1 Цены
    +pageSubsection
      .block-marked 
        +textMarked({ tag: 'p' }) #[strong Прайс поменялся с 16 января 2023г. Цены на лечение уточняйте у администратора.]
        p #[strong Cкидки не суммируются, на акционные позиции не действуют.]
    +pageSubsection
      -
        const nav = [
          { name: 'Консультация', href: '/' },
          { name: 'Рентгенодиагностика', href: '/' },
          { name: 'Лечение зубов', href: '/' },
          { name: 'Имплантация зубов', href: '/' },
          { name: 'Протезирование зубов', href: '/' },
          { name: 'Хирургия', href: '/' },
          { name: 'Исправление прикуса', href: '/' },
          { name: 'Гигиена полости рта', href: '/' },
          { name: 'Анестезия', href: '/' },
        ]
      +pageNavigation(nav)
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 9, xs: 12 })
        -
          const pricesRange = [
            { name: 'Лечение кариеса', value: '800 – 1 000' },
          ]
        +pageSubsection: +tablePrice(pricesRange, { header: 'Лечение кариеса', 'padding-right': true })
        -
          const pricesConsult = [
            { name: 'Осмотр, консультация', value: '420' },
            { name: 'Консультация врача первой категории', value: '500' },
            { name: 'Консультация врача высшей категории', value: '1 000' },
            { name: 'Консультация д.м.н. и к.м.н.', value: '1 500' },
            { name: 'Повторный осмотр', value: '300' },
            { name: 'Повторный осмотр д.м.н. и к.м.н.', value: '800' },
          ]
        +pageSubsection: +tablePrice(pricesConsult, { header: 'Консультация', 'padding-right': true })
      
        -
          const pricesSurgery = [
            { name: 'Удаление зуба' },
            { name: 'Простое удаление зуба', value: '2 200' },
            { name: 'Сложное удаление зуба', value: '3 400' },
            { name: 'Ретинированного', value: '6 900' },
            { name: 'Кюретаж лунки', value: '850' },
            { name: 'Хирургическая подготовка к ортодонтическому лечению и протезированию' },
            { name: 'Компактостеотомия при ортодонтическом лечении', value: '5 500' },
            { name: 'Открытие коронки ретинированного зуба или альвеолотомия для протезирования', value: '6 100' },
            { name: 'Удаление сверхкомплектного зуба и фолликулярной кисты', value: '9 300' },
            { name: 'Внутриротовой разрез', value: '1 700' },
            { name: 'Костная пластика альвеолярного гребня аутокостью (до 3 см)', value: '49 000' },
          ]
        +pageSubsection: +tablePrice(pricesSurgery, { header: 'Хирургия', 'padding-right': true })
        +pageSubsection: +blockMarked({ arrow: true })
          +grid({ padding: 'y', justify: 'center', 'par-like': true })
            +cell({ l: 9, m: 9, xs: 12 })
              p Здесь представлены лишь некоторые базовые позиции.
              p Более полную информацию о ценах вы можете узнать у администратора клиники.
            +cell({ m: 3, s: 6, xs: 12 }): +button({ tag: 'a' })(href='/') Заказать звонок
        +pageSubsection
          p После обследований и консультаций вам будет представлен полный план лечения, включающий перечень необходимых манипуляций, последовательность, финансовый и календарный план (в случае комплексной работы по нескольким направлениям).
          p Точную стоимость лечения, а также этапы, альтернативные пути и гарантии вы сможете узнать только на консультации у специалиста.
          p: small * Цены на услуги размещены с ознакомительной целью и не являются публичной офертой.
      +cell({ l: 3, xs: 12 }): +grid({ padding: 'y' })
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Скидки' }, { discount: true, translate: true })
          p Мы предоставляем скидки и индивидуальные условия в случаях дорогостоящего лечения.
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Кредит и рассрочка' }, { credit: true, translate: true })
          p Выгодные условия кредитования от Альфа банк. Рассрочка платежа (для постоянных клиентов при длительном лечении).
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Возврат налогового вычета' }, { 'money-back': true, translate: true })
          p Предоставляем документы для возврата налогового вычета в размере 13% только при предъявлении чеков.
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Нет скрытых платежей' }, { 'no-hidden': true, translate: true })
          p Наши цены включают в себя все необходимые процедуры.
  +pageSection.container: .content
    p Ценообразование в наших клиника очень прозрачно и включает в себя практически все дополнительные манипуляции, которые часто оплачиваются отдельно.
    p Поэтому, на первый взгляд, стоимость лечения и может показаться высокой. Но это цена на стоматологические услуги клиники «под ключ», без каких-либо «скрытых платежей», и включает всё необходимое.
    p Если же в рекламе вы встречаете низкие цены на стоматологию в Санкт-Петербурге, то, зачастую, сюда входит только стоимость пломбировочного материала без анестезии, коффердама, лечебных и изолирующих подкладок.
    p Важно понимать, что качественное лечение не может быть дешевым. Здоровье — это самое дорогое, что есть у человека, и его за деньги не купишь, его можно только сохранить.
    p Поэтому мы хотим, чтобы все наши пациенты понимали, что они покупают не пломбу, не коронку, не имплантат, а лечение и уверенность в сохранении своего здоровья.
    p За свою работу мы отвечаем и даем гарантию.
