extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/table-price/table-price
include /blocks/block-icon/block-icon
include /blocks/discount-banner/discount-banner
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная' ], current: 'Цены' })
  +pageSection.container: .content
    h1 Цены
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 9, xs: 12 })
        +pageSubsection: +discountBanner({
          name: 'Скидка на лечение зубов 10% для посетителей сайта',
          date: 'Акция действует до 30 сентября',
          add: 'Консультация врача-имплантолога в подарок!',
        })
        +pageSubsection: +grid(): +cell({ l:6, m: 8, s: 10, xs: 12 }): +formInput({ type: 'search', placeholder: 'Поиск по прайс-листу' })
        -
          const pricesConsult = [
            { name: 'Исследование с помощью аппарата "EXPLOR X 70"' },
            { name: 'Радиовизиография (прицельный снимок)', value: '550' },
            { name: 'Исследование с помощью аппарата "Galileos"' },
            { name: 'Дополнение к описанию (выделение канала)', value: '300' },
            { name: 'Описание и интерпретация компьютерных томограмм (одна зона исследования)', value: '2000' },
            { name: 'Восстановление информации из архива', value: '300' },
            { name: 'Компьютерная томография придаточных пазух носа', value: '2000' },
            { name: 'Компьютерная томография челюстно-лицевой области. (Аппарат "Galileos")', value: '2000', old: '4000' },
            { name: 'Компьютерная томография челюстно-лицевой области (выделение канала)', value: '300' },
          ]
        +pageSubsection: +tablePrice(pricesConsult)
        +pageSubsection: +blockMarked({ arrow: true })
          +grid({ padding: 'y', justify: 'center', 'par-like': true })
            +cell({ l: 9, m: 9, xs: 12 })
              p Здесь представлены лишь некоторые базовые позиции.
              p Более полную информацию о ценах вы можете узнать у администратора клиники.
            +cell({ m: 3, s: 6, xs: 12 }): +button({ tag: 'a' })(href='/') Заказать звонок
        +pageSubsection
          p После обследований и консультаций вам будет представлен полный план лечения, включающий перечень необходимых манипуляций, последовательность, финансовый и календарный план (в случае комплексной работы по нескольким направлениям).
          p Точную стоимость лечения, а также этапы, альтернативные пути и гарантии вы сможете узнать только на консультации у специалиста.
          p: small * Цены на услуги размещены с ознакомительной целью и не являются публичной офертой.
      +cell({ l: 3, xs: 12 }): +grid({ padding: 'y' })
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Скидки' }, { discount: true })
          p Мы предоставляем скидки и индивидуальные условия в случаях дорогостоящего лечения.
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Кредит и рассрочка' }, { credit: true })
          p Выгодные условия кредитования от Альфа банк. Рассрочка платежа (для постоянных клиентов при длительном лечении).
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Возврат налогового вычета' }, { 'money-back': true })
          p Предоставляем документы для возврата налогового вычета в размере 13% только при предъявлении чеков.
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Нет скрытых платежей' }, { 'no-hidden': true })
          p Наши цены включают в себя все необходимые процедуры.
