extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Добровольное медицинское страхование' })
  +pageSection.container: .content
    h1 Добровольное медицинское страхование
    +pageSubsection
      p Каждый работающий человек в нашей стране имеет полис обязательного медицинского страхования, который позволяет получить необходимую медицинскую помощь бесплатно в муниципальных клиниках города. Но, к сожалению, не всякая квалифицированная медицинская помощь может быть предоставлена бесплатно.
      p В этой ситуации можно защитить себя полисом добровольного медицинского страхования. Это личный вид страхования, который позволяет получить дополнительные услуги в лечебно-профилактических учреждениях, а также индивидуальную современную высокоэффективную медицинскую помощь. Программу ДМС можно выбирать, ориентируясь на состояние личного здоровья и финансовые возможности.
    +pageSubsection
      p Мы принимаем пациентов застрахованных в следующих компаниях:
      +grid({ padding: 'y', align: 'center', 'par-like': true })
        +cell({ xs: 'auto' }): img(src='/images/about/rosgosstrah.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/rms.png' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/reso.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/allianz.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/vtb.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/medexpress.svg' alt='' width='132')
        +cell({ xs: 'auto' }): img(src='/images/about/pomosch.png' alt='' width='132')
    +pageSubsection
      p Мы приглашаем всех, кто имеет полис ДМС, получить высококвалифицированную стоматологическую помощь по полисам добровольного медицинского страхования.
      p Сообщите своей страховой компании о желании обслуживаться в клинике «ВайтДент», и наши сотрудники проведут переговоры с компанией, согласуют условия вашего медицинского обслуживания в клинике.
