extends /blocks/layout/layout

include /blocks/button/button
include /blocks/advantage-block/advantage-block
include /blocks/doctor-item/doctor-item
include /blocks/block-marked/block-marked
include /blocks/splide/splide
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/review-item/review-item
include /blocks/work-item/work-item
include /blocks/menu-services/menu-services
include /blocks/discount-banner/discount-banner
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    homePage = true
block content
  +pageSection.container: .content
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 3, m: 'hidden', s:'hidden', xs: 'hidden' }).js-header-services
      +cell({ l: 9, xs: 12 })
        +grid({ padding: 'y', justify: 'center' }).home-advantages
          +cell({ l:4, m: 6, s: 6,  xs: 12 }): +advantageBlock({ 'top-10': true }) Топ 10 клиник по имплантации
            a(href='') по версии КП
          +cell({ l:4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'lab': true }) Собственная зуботехническая лаборатория
          +cell({ l:4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'tomography': true }) Компьютерная томография зубов и пазух носа
          +cell({ l:4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'since-2004': true }) Работаем с 2004 года
            br
            | Мы помогли > 10 000 пациентов
          +cell({ l:4, m: 6, s: 6, xs: 12 }): +advantageBlock({ 'guarantee': true })
            a(href='') Гарантия
            |  на все виды услуг
    +pageSubsection: +splide().slider-discounts
      +slide: +discountBanner({
        name: '3D компьютерная томография ВСЕГО за 2000 руб',
        date: 'До 30 сентября',
        add: 'Консультация врача-имплантолога в подарок!<br>Консультация врача-имплантолога в подарок!',
        image: '/images/discount-banner.png',
      })
      +slide: +discountBanner({
        name: '3D компьютерная томография ВСЕГО за 2000 руб',
        date: 'До 30 сентября',
        add: 'Консультация врача-имплантолога в подарок!',
        image: '/images/discount-banner.png',
      })
      +slide: +discountBanner({
        name: '3D компьютерная томография ВСЕГО за 2000 руб',
        date: 'До 30 сентября',
        add: 'Консультация врача-имплантолога в подарок!',
        image: '/images/discount-banner.png',
      })
      +slide: +discountBanner({
        name: '3D компьютерная томография ВСЕГО за 2000 руб',
        date: 'До 30 сентября',
        add: 'Консультация врача-имплантолога в подарок!',
        image: '/images/discount-banner.png',
      })
  +pageSection.container: .content
    h2.home-subheader Наши специалисты
    +pageSubsection: +splide().slider-doctors
      +slide: +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        properties: [
            { name: 'Стаж работы 15 лет', type: 'experience' },
            { name: 'Специалист в области терапии и ортопедии', type: 'additional' },
        ],
      })
      +slide: +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры', type: 'additional' },
        ],
      })
      +slide: +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Специалист в области терапии и ортопедии', type: 'additional' },
        ],
      })
      +slide: +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры', type: 'additional' },
        ],
      })
    +pageSubsection
      +blockMarked({ arrow: true, shadow: true })
        p Каждый из врачей –
          strong дипломированный специалист
          |  с обширным опытом работы.
        p Регулярно проходят
          strong повышение квалификации в России и за рубежом
          | , перенимая опыт коллег, участвуют в конференциях и профильных мероприятиях. Только постоянное развитие позволяет применять при лечении пациентов
          strong передовые методики
          | , делающие лечение более качественным и безболезненным.
  +pageSection.container: .content
    h2.home-subheader Наши работы
    +pageSubsection
      +grid({ padding: 'y' })
        -
          const works = [
            {
              id: 'sinus-lifting-i-implantatsiya',
              name: 'Синус-лифтинг и имплантация',
              elements: [
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                },
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Никитин Михаил Александрович' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'синус лифтинг', 'имплантация' ],
                },
              ],
            },
            {
              id: 'metallokeramika-na-implantah',
              name: 'Металлокерамика на имплантах',
              elements: [
                {
                  thumb: '/images/metallokeramika-na-implantah-1.jpg',
                  detail: '/images/metallokeramika-na-implantah-1.jpg',
                },
                {
                  thumb: '/images/metallokeramika-na-implantah-2.jpg',
                  detail: '/images/metallokeramika-na-implantah-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Сумин Вадим Сергеевич' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'протезирование на имплантах' ],
                },
              ],
            },
          ]
        each work in works
          +cell({ l: 6, xs: 12 }): +workItem(work)
  +pageSection.container: .content
    +grid({ padding: 'y', justify: 'space-between' }).home-subheader
      h2(class=cellClasses({ l:3, m: 4, s: 6, xs: 12 })) Отзывы
      +cell({ l: 2, m: 4, s: 6, xs: 12 }): +button({ tag: 'a' })(href='/') Оставить отзыв
    +pageSubsection: +splide()
      +slide: +reviewItem({
        image: {
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розин Oлег',
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
      +slide: +reviewItem({
        image: {
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розин Oлег',
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
    +pageSubsection: +blockMarked({ arrow: true, shadow: true }): p Все отзывы оставлены
      strong реальными пациентами
      | , написаны по собственному желанию и выложены на сайте с согласия их авторов.
  +pageSection.container: .content
    h2.home-subheader Наша клиника
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 3, m: 3, xs: 6, order: { s: 1, xs: 1 } }): .gallery-item: +img({
        name: 'home-our-clinic-1',
        formats: [
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { name: 'xs', values: [1, 2] },
          { name: 'l', values: [1, 2] },
        ],
        path: '/images/',
      })
      +cell({ l: 6, m: 6, xs: 12, order: { s: 3, xs: 3 } }): .gallery-item: +img({
        name: 'home-our-clinic-2',
        formats: [
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { name: 'xs', values: [1, 2] },
          { name: 'l', values: [1, 2] },
        ],
        path: '/images/',
      })
      +cell({ l: 3, m: 3, xs: 6, order: { s: 2, xs: 2 } }): .gallery-item: +img({
        name: 'home-our-clinic-3',
        formats: [
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { name: 'xs', values: [1, 2] },
          { name: 'l', values: [1, 2] },
        ],
        path: '/images/',
      })
      +cell({ l: 3, m: 3, xs: 6, order: { s: 4, xs: 4 } }): .gallery-item: +img({
        name: 'home-our-clinic-4',
        formats: [
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { name: 'xs', values: [1, 2] },
          { name: 'l', values: [1, 2] },
        ],
        path: '/images/',
      })
      +cell({ l: 3, m: 3, xs: 6, order: { s: 5, xs: 5 } }): .gallery-item: +img({
        name: 'home-our-clinic-5',
        formats: [
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { name: 'xs', values: [1, 2] },
          { name: 'l', values: [1, 2] },
        ],
        path: '/images/',
      })
      +cell({ l: 6, m: 6, xs: 12, order: { s: 6, xs: 6 } }): .gallery-item: +img({
        name: 'home-our-clinic-6',
        formats: [
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [
          { name: 'xs', values: [1, 2] },
          { name: 'l', values: [1, 2] },
        ],
        path: '/images/',
      })
  include /blocks/home-form/home-form
