extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/page-navigation/page-navigation
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection.container: .content
    h1 Интерьеры клиники
  +pageSection.container: .content
    -
      const photos = [
        
      ]
    +grid({ padding: 'y' })
      - let i = 1
      while i <= 20
        +cell({ l: 2, m: 3, s: 4, xs: 6 }): a(href = `/images/o-klinike/interery/interiors-${i}.jpg` data-glightbox data-gallery='interiors' class='gallery-item')
          +img({
            name: `interiors-${i}_small`,
            formats: [
              { ext: 'jpg', mime: 'image/jpeg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] },
            ],
            path: '/images/o-klinike/interery/',
          })
        - i++
