extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Консультация' ], current: 'Задать вопрос' })
  +pageSection.container: .content
    h1 Задать вопрос
    +pageSubsection
      p Чтобы задать вопрос, введите свое имя, тему и выберите категорию вопроса — так ваш вопрос быстрее попадет к нужному специалисту. Впишите актуальный e-mail, текст вопроса и нажмите кнопку «Отправить».
      p Оповещение об ответе будет выслано вам на электронную почту.
    +pageSubsection
      +blockMarked({ tag: 'form' }): +grid({ padding: 'y' })
        +cell({ xs: 12 }): +formInput({ type: 'textarea', placeholder: 'Ваше вопрос', required: true })
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'text', placeholder: 'Тема вопроса' })
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'select', options: [ 'Выберите категорию' ], required: true })
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'text', placeholder: 'Имя', required: true })
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'email', placeholder: 'E-mail' })
        +cell({ xs: 12 })
          h2.small Прикрепить файл
          p При необходимости вы можете прикрепить файл с фотографией или рентгенографическим снимком к своему вопросу.
          +grid({ padding: 'y', 'par-like': true, align: 'center' })
            +cell({ m: 6, xs: 12 }): +formInput({ type: 'file', placeholder: 'Телефон', required: true })
            +cell({ m: 6, xs: 12 }): p Допустимые форматы: jpg, png, doc.
        +cell({ xs: 12 }): +formInput({ type: 'checkbox', label: 'Нажимая на кнопку, я даю свое согласие на обработку <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">персональных данных</a>.', required: true, checked: true })
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): +button({ wide: true })(type='submit') Отправить
