extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/consultation-list/consultation-list
include /blocks/consultation-categories/consultation-categories
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = '' 
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Консультация'})
  +pageSection: .container: .content
    h1 Консультация
    +grid({'par-like':true,'padding-y': true})
      +cell({ l: 8, m: 6, xs: 12 })
        +pageSubsection
          include /blocks/consultation-ask-panel/consultation-ask-panel
        +pageSubsection: +blockMarked
          p В разделе консультаций вы можете задать любой интересующий вас вопрос стоматологу. Вы можете проконсультироваться по поводу:
          ul.list-marked.list-marked--w-prev-par
            li боли
            li внешнего вида зубов
            li процесса лечения
            li определенной процедуры
          p Врач даст полный ответ в самый короткий срок.
        +pageSubsection
          -
            var consItems = [
              {
                title: 'Перелом нижней челюсти со смещением',
                question: { tag: 'p', content: 'Доктор,здравствуйте. Месяц назад сломала н.челюсть беззубую. Начался остеомиелит. Пластину вживлять отказались и дренирование ввиду риска отторжения и инфекции. Ждем появление ложного сустава через 1.5 месяца назначили операцию. Это правильная тактика врачей?' },
                author: 'Ольга',
                date: '08.10.2019',
              },
              {
                title: 'Онемение нижней губы',
                question: { tag: 'p', content: 'Здравствуйте, мне промывали каналы в больном зубе без анестезии и после этого у меня онемела нижняя губа и подбородок. Подскажите это пройдет?' },
                author: 'Анастасия',
                date: '10.05.2020',
              },
              {
                title: 'Перелом нижней челюсти со смещением',
                question: { tag: 'p', content: 'Доктор,здравствуйте. Месяц назад сломала н.челюсть беззубую. Начался остеомиелит. Пластину вживлять отказались и дренирование ввиду риска отторжения и инфекции. Ждем появление ложного сустава через 1.5 месяца назначили операцию. Это правильная тактика врачей?' },
                author: 'Ольга',
                date: '08.10.2019',
              },
              {
                title: 'Онемение нижней губы',
                question: { tag: 'p', content: 'Здравствуйте, мне промывали каналы в больном зубе без анестезии и после этого у меня онемела нижняя губа и подбородок. Подскажите это пройдет?' },
                author: 'Анастасия',
                date: '10.05.2020',
              },
              {
                title: 'Перелом нижней челюсти со смещением',
                question: { tag: 'p', content: 'Доктор,здравствуйте. Месяц назад сломала н.челюсть беззубую. Начался остеомиелит. Пластину вживлять отказались и дренирование ввиду риска отторжения и инфекции. Ждем появление ложного сустава через 1.5 месяца назначили операцию. Это правильная тактика врачей?' },
                author: 'Ольга',
                date: '08.10.2019',
              },
              {
                title: 'Онемение нижней губы',
                question: { tag: 'p', content: 'Здравствуйте, мне промывали каналы в больном зубе без анестезии и после этого у меня онемела нижняя губа и подбородок. Подскажите это пройдет?' },
                author: 'Анастасия',
                date: '10.05.2020',
              },
              {
                title: 'Перелом нижней челюсти со смещением',
                question: { tag: 'p', content: 'Доктор,здравствуйте. Месяц назад сломала н.челюсть беззубую. Начался остеомиелит. Пластину вживлять отказались и дренирование ввиду риска отторжения и инфекции. Ждем появление ложного сустава через 1.5 месяца назначили операцию. Это правильная тактика врачей?' },
                author: 'Ольга',
                date: '08.10.2019',
              },
              {
                title: 'Онемение нижней губы',
                question: { tag: 'p', content: 'Здравствуйте, мне промывали каналы в больном зубе без анестезии и после этого у меня онемела нижняя губа и подбородок. Подскажите это пройдет?' },
                author: 'Анастасия',
                date: '10.05.2020',
              },
              {
                title: 'Перелом нижней челюсти со смещением',
                question: { tag: 'p', content: 'Доктор,здравствуйте. Месяц назад сломала н.челюсть беззубую. Начался остеомиелит. Пластину вживлять отказались и дренирование ввиду риска отторжения и инфекции. Ждем появление ложного сустава через 1.5 месяца назначили операцию. Это правильная тактика врачей?' },
                author: 'Ольга',
                date: '08.10.2019',
              },
              {
                title: 'Онемение нижней губы',
                question: { tag: 'p', content: 'Здравствуйте, мне промывали каналы в больном зубе без анестезии и после этого у меня онемела нижняя губа и подбородок. Подскажите это пройдет?' },
                author: 'Анастасия',
                date: '10.05.2020',
              },
            ]
          +consultationList(consItems)
        +pageSubsection
          include /blocks/pagination/pagination
      +cell({ l:4, m: 6, xs: 12 })
        include /data/consultation-categories
        +consultationCategories(consCategories)
