extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/consultation-question/consultation-question
include /blocks/consultation-answer/consultation-answer
include /blocks/consultation-categories/consultation-categories

block head
  -
    var pageTitle = 'Система замещения волос - форум и консультация'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({parents:['Главная'],current:'Консультация'})
  +pageSection: .container: .content
    +grid({ 'par-like': true, 'padding-y': true })
      +cell({ l: 8, xs: 12 })
        h1 Съемный протез
        +pageSubsection
          -
            const consultationQuestion1 = {
              body: { tag: 'p', content: 'Меня интересует возможно ли у вас в клинике на заказ сделать съёмный протез верхней челюсти без присутствия пациента, по образцу старой? Заранее спасибо' },
              author: 'Анастасия',
              date: '08.10.2019', 
              image: 'w',
            }
          +consultationQuestion(consultationQuestion1)
          -
            const consultationQuestion2 = {
              body: { tag: 'p', content: 'Меня интересует возможно ли у вас в клинике на заказ сделать съёмный протез верхней челюсти без присутствия пациента, по образцу старой? Заранее спасибо' },
              author: 'Анастасия',
              date: '08.10.2019', 
              image: 'm',
            }
          +consultationQuestion(consultationQuestion2)
          -
            const consultationQuestion3 = {
              body: { tag: 'p', content: 'Меня интересует возможно ли у вас в клинике на заказ сделать съёмный протез верхней челюсти без присутствия пациента, по образцу старой? Заранее спасибо' },
              author: 'Анастасия',
              date: '08.10.2019', 
            }
          +consultationQuestion(consultationQuestion3)
          -
            const consultationQuestion4 = {
              author: 'Анастасия',
              date: '08.10.2019',
              image: 'w',
            }
          +consultationQuestion(consultationQuestion4)
          -
            const consultationQuestion5 = {
              author: 'Анастасия',
              date: '08.10.2019',
            }
          +consultationQuestion(consultationQuestion5)
          -
            const consultationAnswer = {
              body: { tag: 'p', content: 'Aнастасия, в любом случае, после изготовления нужна будет примерка на реальном пациенте. Запишитесь у администратора по т. 612-97-92 и приходите на консультацию. Возможно сможем восстановить ваш протез, если он ремонтопригоден.' },
              author: {
                name: 'Сумин Вадим Сергеевич',
                occupation: 'Врач-стоматолог терапевт / ортопед',
                experience: '15 лет',
              },
              image: 'https://dummyimage.com/320x320',
              service: 'Съемные протезы',
            }
          +consultationAnswer(consultationAnswer)
        +pageSubsection
          h2 Похожие вопросы
        +pageSubsection: +blockMarked: ul.list-marked
          li: a(href='konsultatsiya-answer.html') Произошло снятие протеза, как восстановить?
          li: a(href='konsultatsiya-answer.html') Выбор оптимальных вакуумных новых протезов присосок
          li: a(href='konsultatsiya-answer.html') Воспаление верхней губы и жжение десны
          li: a(href='konsultatsiya-answer.html') Сендвич протез на нижнюю челюсть
        +pageSubsection
          include /blocks/consultation-ask-panel/consultation-ask-panel
      +cell({ l: 4, m: 6, xs: 12 })
        include /data/consultation-categories
        +consultationCategories(consCategories)
