extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/properties/properties
include /blocks/form-input/form-input
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная' ], current: 'Контакты' })
  +pageSection.container: .content
    h1 Контакты
    +pageSubsection: +grid({ 'par-like': true, padding: 'y' })
      +cell({ l: 5, m: 6, xs: 12 }): +blockMarked()
        +properties([
          { name: 'Адрес', value: 'г. Санкт-Петербург<br>ул. Нахимова, д. 7, корп. 2', type: [ 'contact', 'address' ] },
          { name: 'Станция метро', value: 'м. Приморская (15 минут пешком)', type: [ 'contact', 'metro' ] },
          { name: 'Время работы', value: 'пн.-пт. с 11 до 21, сб. с 11 до 18', type: [ 'contact', 'schedule' ] },
        ])
      +cell({ l: 7, m: 6, xs: 12 }): +blockMarked()
        +properties([
          { name: 'Телефон', value: '<span class="text-marked">+7 (812) 612-97-92, +7 (812) 355-41-09</span>', type: [ 'contact', 'tel' ] },
          { name: 'E-mail', value: '<a href="mailto:send@whitedent.spb.ru">send@whitedent.spb.ru</a><br>Сюда вы можете направить вопросы и пожелания о работе клиники', type: [ 'contact', 'email' ] },
          { name: 'Соц. сети', value: '<strong>10% скидка</strong> участникам нашей группы <a href="https://vk.com/spbdent" target="_blank">Вконтакте</a>', type: [ 'contact', 'vk' ] },
        ])
      +cell({ xs: 12 }): +blockMarked({ icon: [ true, 'teeth-help', 'on-top' ] }): +textMarked({ tag: 'p' }) Гарантировано получение помощи при острой боли в момент обращения!
    +pageSubsection
      h2 Карта проезда от метро Приморская
      +grid({ 'par-like': true, padding: 'y' })
        +cell({ m: 6, xs: 12 }): script(src='//api-maps.yandex.ru/services/constructor/1.0/js/?sid=1oZKRkLd7d1HAaTeaYinE17kiMFEouvM&height=450')
        +cell({ m: 6, xs: 12 })
          h3 Как добраться пешком
          p Путь займет 15 минут.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed
          h3 Как добраться на автомобиле
          p Путь займет 6 минут.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget od
    +pageSubsection
      +grid({ 'par-like': true, padding: 'y' })
        +cell({ l: 7, xs: 12 })
          h2 Наша клиника
          p Клиника располагается в собственном 5-ти этажном здании с двумя операционными и новыйшим оборудованием.
          +grid({ padding: 'y', 'par-like': true })
            +cell({ xs: 12 }): img(src='/images/kontakty/office-1.jpg' alt='')
            +cell({ xs: 6 }): img(src='/images/kontakty/office-2.jpg' alt='')
            +cell({ xs: 6 }): img(src='/images/kontakty/office-3.jpg' alt='')
        +cell({ l: 5, xs: 12 })
          h2 Карта метро
          .contacts-map
            +img({
              path: '/images/kontakty/',
              name: 'metro-map',
              formats: [
                { ext: 'webp', mime: 'image/webp' },
                { ext: 'jpg', mime: 'image/jpeg', orig: true },
              ],
              density: [ { values: [1, 2] } ]
            })
    +pageSubsection: +grid()
      +cell({ l: 6, m: 8, xs: 12 }): +blockMarked({ shadow: true })
        h2 Написать нам
        p Вы можете написать нам, используя эту форму, или позвонить по телефонам.
        form.form
          +formInput({ type: 'text', placeholder: 'Имя', required: true })
          +formInput({ type: 'email', placeholder: 'E-mail', required: true })
          +formInput({ type: 'textarea', placeholder: 'Ваше сообщение', required: true })
          +formInput({ type: 'checkbox', label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных', required: true, checked: true })
          +button()(type='submit') Отправить
      +cell({ l: 6, m: 8, xs: 12 })
        h2 Реквизиты
        p
          | Полное название организации: ООО «Вайт Дент»
          br
          | Юридический адрес: 197350, Санкт-Петербург, ул.Шаврова, д.17, лит.А, пом.1-Н
          br
          | ОГРН: 1047823008562
          br
          | Почтовый индекс: 199226
          br
          | Почтовый адрес: ул. Нахимова, д.7, корп.2, литер А, г. Санкт-Петербург
          br
          | БИК: 044030706
          br
          | Расчетный счет: 40702810322110000242
          br
          | Название банка: ФИЛИАЛ ПАО «БАНК УРАЛСИБ» В Г.САНКТ-ПЕТЕРБУРГ
          br
          | Город банка: Г.САНКТ-ПЕТЕРБУРГ
