extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Кредит' })
  +pageSection.container: .content
    h1 Лечение зубов в кредит в Санкт-Петербурге
    p: strong Уважаемые пациенты!
    p С радостью сообщаем вам, что лечение в нашей клинике стало еще доступнее. Совместно с нашим партнером АО «АЛЬФА-БАНК», предлагаем выгодную программу «Стоматологические услуги в кредит».
    p «Стоматологические услуги в кредит» — возможность неотложно вернуть здоровье зубов, а также подарить заботу своим близким! Оформить кредит можно прямо в клинике эстетической стоматологии «Вайт Дент».
    p: strong Чтобы получить кредит или консультацию — сделайте всего несколько шагов:
    ul.list-marked.list-marked--w-prev-par
      li Пройдите осмотр у наших специалистов.
      li Получите расчет стоимости лечения.
      li Сообщите о желании пройти лечение по программе «Стоматологические услуги в кредит».
    p: strong Условия по кредитованию в АО «АЛЬФА-БАНКЕ»*:
    +grid({ 'par-like': true, 'padding':'y' }): +cell({ l: 2, m: 3, s: 4, xs: 6 }): +img(src='/images/about/alfa-bank.svg' alt='Логотип Альфа Банка' title='Логотип Альфа Банка')
    ul.list-marked
      li сумма кредита — от 10 000 до 300 000 рублей;
      li первоначальный взнос — от 0%;
      li срок кредитования — 6-24 месяцев;
      li необходимые документы — паспорт гражданина РФ.
    p: small * Кредит предоставляет АО «АЛЬФА-БАНК», генеральная лицензия Банка России № 1326 от 16 января 2015 г.
