extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/block-marked/block-marked
include /blocks/discount-banner/discount-banner
include /blocks/block-marked-image/block-marked-image
include /blocks/table-price/table-price
include /blocks/block-icon/block-icon
include /blocks/stages-list/stages-list
include /blocks/work-item/work-item
include /blocks/splide/splide
include /blocks/review-item/review-item
include /blocks/doctor-item/doctor-item
include /blocks/advantage-block/advantage-block
include /blocks/text-marked/text-marked
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-item-small/article-item-small

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Услуги' ], current: 'Лечение зубов' })
  +pageSection.container: .content
    h1 Лечение зубов
    +pageSubsection: +blockMarkedImage({ src: 'https://dummyimage.com/536x536', alt: 'Услуги по лечению зубов' }, { 'image-to-right': true })
      +grid({ tag: 'ul', padding: [ 'y', 'small' ] }).list-marked.list-marked--arrow
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Лечение кариеса
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Лечение зубов без боли
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Лечение под седацией
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Лечение зуба мудрости
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Лечение флюса
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Лечение пульпита
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Лечение кисты зуба
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Лечение других заболеваний
        +cell({ tag: 'li', l: 4, m: 6, xs: 12 }): a(href='/') Эстетическая реставрация
    +pageSubsection: +discountBanner({
      name: 'Скидка на лечение зубов 10% для посетителей сайта',
      date: 'Акция действует до 30 сентября',
      add: 'Консультация врача-имплантолога в подарок!',
    })
    +pageSubsection
      -
        const pageNav = [
          { name: 'Преимущества', href: '#' },
          { name: 'Цифры', href: '#' },
          { name: 'Подход к работе', href: '#' },
          { name: 'Обслуживание по ДМС', href: '#' },
          { name: 'Услуги', href: '#' },
          { name: 'Благодарности', href: '#' },
          { name: 'Лицензия', href: '#' },
          { name: 'Сертификаты', href: '#' },
        ]
      +pageNavigation(pageNav)
    +pageSubsection
      p ВайтДент – это профессиональное лечение зубов качественно и недорого. Мы используем современное оборудование и материалы, что позволяет сохранить здоровье наших пациентов на многие годы. С нами ваша улыбка всегда будет красивой и здоровой.
      p В нашей частной клинике лечение зубов – это абсолютно безопасная процедура, так как мы:
      ul.list-marked.list-marked--w-prev-par
        li соблюдаем все действующие санитарные нормы и правила без исключений;
        li используем одноразовые расходные материалы (колпаки, наконечники, перчатки, маски и др.);
        li применяем современное стоматологическое оборудование и инструментарий, которые регулярно стерилизуются.
      p В платном лечении зубов важен не только результат, но и безболезненность процедуры. Средства анестезии последнего образца отлично справляются с такой задачей, не вызывая аллергических реакций.
  +pageSection.container: .content
    h2 Наши преимущества
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Безопасность
        p На начальном этапе проводится обследование с использованием стоматологического микроскопа Leica M320 на разном увеличении с обязательным фотографированием. Данное обследование позволяет выявить кариес на начальной стадии и скрытые полости, недоступные для обзора невооруженным глазом.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Индивидуальный подбор обезболивающего
        p Для обезболивания при лечении зубов применяются современные препараты: Ультракаин, Убистезин, Альфакаин, Септанест, Скандонест, Мепивастезин. Индивидуальный подбор обезболивающего, обязательные аллергопробы.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Комфорт
        p Большинство пациентов стоматологических клиник жалуются на чересчур яркий, слепящий свет осветительных ламп. В «Медицинском Центре Города» используются специальные бестеневые светильники, не причиняющие неудобств пациентам.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Естественность и эстетичность
        p Для реставрации зубов в «Медицинском Центре Города» применяются композитные материалы шестнадцати разных оттенков, что позволяет идеально подобрать оттенок пломбы для высокоэстетичного эффекта.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Возможность сделать операцию под общим наркозом
        p При желании лечение зубов проводится под общим наркозом.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Гарантия
        p Гарантия на пломбы — 12 месяцев. Гарантийное лечение — бесплатно
  +pageSection.container: .content
    h2 Наши преимущества
    +pageSubsection: +grid({ padding: 'y' })
      -
        const prices = [
          { name: 'Пломбирование поражения одной поверхности или поверхностного кариеса', value: '2 200' },
          { name: 'Пломбирование поражения двух поверхностей или среднего кариеса', value: '3 400' },
          { name: 'Пломбирование кариозного поражения трех поверхностей или глубокого кариеса', value: '6 300' },
          { name: 'Пломбирование поражения одной поверхности или поверхностного кариеса', value: '2 200' },
          { name: 'Пломбирование поражения двух поверхностей или среднего кариеса ', value: '3 400' },
          { name: 'Пломбирование кариозного поражения трех поверхностей или глубокого кариеса', value: '6 300' },
        ]
      +cell({ l: 9, xs: 12 }): +tablePrice(prices, { 'padding-right': true, footer: true })
      +cell({ l: 3, xs: 12 }): +grid({ padding: 'y' })
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Скидки' }, { discount: true, translate: true })
          p Мы предоставляем скидки и индивидуальные условия в случаях дорогостоящего лечения.
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Кредит и рассрочка' }, { credit: true, translate: true })
          p Выгодные условия кредитования от Альфа банк. Рассрочка платежа (для постоянных клиентов при длительном лечении).
  +pageSection.container: .content
    h2 Виды услуг по лечению зубов
    +pageSubsection: +blockMarkedImage({ src: 'https://dummyimage.com/536x536', alt: 'Услуги по лечению зубов' })
      h3 Лечение кариеса 
      p Лечение кариеса — это комплекс терапевтических мероприятий, направленных на устранение пораженных кариозным процессом участков и восстановление зубов с помощью пломбировочных материалов.
      p А также при появлении ноющей или острой боли, реакции на соленые, сладкие и кислые продукты.
    +pageSubsection: +blockMarkedImage({ src: 'https://dummyimage.com/536x536', alt: 'Услуги по лечению зубов' }, { 'image-to-right': true })
      h3 Лечение зуба мудрости 
      p Лечение зуба мудрости — комплекс стандартных терапевтических методик, направленных на восстановление жизнеспособности, а в некоторых случаях целостности «восьмерки».
      p Терапия может быть направлена на устранение последствий кариеса, пульпита, болезней пародонта и других стоматологических болезней.
    +pageSubsection: +blockMarked
      p Кариес — это локальный патологический процесс, обычно начинающийся под зубным налетом в результате ферментации (брожения) микроорганизмами углеводистых остатков пищи
      p В результате жизнедеятельности бактерий выделяются органические кислоты, «разъедающая» зубную эмаль с вымыванием из нее минералов, что в свою очередь приводит к образованию пор. Это очаговая деминерализация эмали (кариес в стадии пятна) — первая стадия разрушения.
      p Если своевременно не провести лечение начальных форм кариеса, формируются дефекты тканей зуба: поверхностные, средние и глубокие кариозные полости.
  +pageSection.container: .content: +blockMarked({ arrow: true })
    h3 Запишитесь к стоматологу-терапевту
    +grid({ padding: 'y', justify: 'center', 'par-like': true })
      +cell({ l: 9, m: 9, xs: 12 }): p Стоматолог-терапевт вылечит зубы и поможет сохранить их здоровыми. Врачи клиники ВайтДент успешно решат любую стоматологическую проблему. Запишитесь на консультацию, чтобы ваши зубы были в порядке.
      +cell({ m: 3, s: 6, xs: 12 }): +button({ tag: 'a' })(href='/') Записаться на прием
  +pageSection.container: .content
    h2 Особенности
    p В платном лечении зубов важен не только результат, но и безболезненность процедуры. Средства анестезии последнего образца отлично справляются с такой задачей, не вызывая аллергических реакций.
    p Грамотная стоматологическая терапия невозможна без правильного диагноза. Наша клиника обладает всем необходимым диагностическим оборудованием, поэтому мы способны решить любую проблему:
    ul.list-marked.list-marked--w-prev-par
      li кариес и другие поражения дентина;
      li острый и хронический периодонтит;
      li острый и хронический пульпит;
      li разрушенные зубы и т.п.
    p Мы гарантируем индивидуальный подход к каждому пациенту, внимательно изучая историю его болезней, выполняя комплексную диагностику. Это помогает использовать медикаменты и анестетики без рисков для здоровья пациента. Своевременная стоматологическая терапия в нашей клинике избавит вас от многих проблем.
    h2 Информация
    p Информация, предоставленная в прейскуранте на лечение зубов, несет ознакомительную цель. Более точную информацию узнавайте по телефону или при помощи формы обратной связи на сайте.
    p За что нас ценят наши пациенты?
    ul.list-marked.list-marked--w-prev-par
      li бесплатная консультация;
      li лечение зубов в рассрочку;
      li опытные стоматологи с 10 летним стажем;
      li надежная репутация, подтверждённая реальными отзывами клиентов;
      li официальная гарантия на все виды работ;
      li индивидуальные скидки и недорогие цены на лечение зубов в Санкт-Петербурге.
    p Главной ценностью нашей компании является доверие наших пациентов, поэтому мы ежедневно работаем над улучшением качества предоставляемых стоматологических услуг.
  +pageSection.container: .content
    h2 Часто задаваемые вопросы
    +pageSubsection: +blockMarked({ background: [ true, 'question' ] })
      h3 Назовите противопоказания
      p Аллергия на анестетики, вирусные и воспалительные процессы в организме, период обострения заболеваний сердечно-сосудистой системы.
      h3 Почему после лечения зуб может болеть?
      p На первых порах он может реагировать на механическое воздействие. Обычно это случается, когда пломба давит на пульпу, но со временем дискомфорт проходит. Также боль может сохраняться первые дни как реакция на терапевтическое вмешательство.
      +grid({ padding: 'y', 'par-like': true, align: 'center' })
        +cell({ l: 6, m: 6, xs: 12 }): h3 Остались вопросы? Получите консультацию.
        +cell({ m: 3, m: 3, xs: 12 }): +button({ tag: 'a' })(href='/') Задать вопрос
  +pageSection.container: .content
    -
      const author = {
        image: 'https://dummyimage.com/336x336',
        name: 'Никитин Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        date: {
          published: '30.07.2018',
          updated: '30.07.2019',
        },
      }
    +articleAuthor(author)
  +pageSection.container: .content
    h2 Статьи по теме
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ m: 6, xs: 12 }): +articleItemSmall({ image: 'https://dummyimage.com/192x192', name: 'Развитие зубов у детей' }, { small: true })
      +cell({ m: 6, xs: 12 }): +articleItemSmall({ image: 'https://dummyimage.com/192x192', name: 'Зубная щетка и нить для детских зубов' }, { small: true })
  +pageSection.container: .content
    h2 Результаты работы
    +pageSubsection
      +grid({ padding: 'y' })
        -
          const works = [
            {
              id: 'sinus-lifting-i-implantatsiya',
              name: 'Синус-лифтинг и имплантация',
              elements: [
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                },
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Никитин Михаил Александрович' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'синус лифтинг', 'имплантация' ],
                },
              ],
            },
            {
              id: 'metallokeramika-na-implantah',
              name: 'Металлокерамика на имплантах',
              elements: [
                {
                  thumb: '/images/metallokeramika-na-implantah-1.jpg',
                  detail: '/images/metallokeramika-na-implantah-1.jpg',
                },
                {
                  thumb: '/images/metallokeramika-na-implantah-2.jpg',
                  detail: '/images/metallokeramika-na-implantah-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Сумин Вадим Сергеевич' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'протезирование на имплантах' ],
                },
              ],
            },
          ]
        each work in works
          +cell({ l: 6, xs: 12 }): +workItem(work)
  +pageSection.container: .content
    +grid({ padding: 'y', justify: 'space-between' })
      h2(class=cellClasses({ l:3, m: 4, s: 6, xs: 12 })) Отзывы
      +cell({ l: 2, m: 4, s: 6, xs: 12 }): +button({ tag: 'a', link: true })(href='/') Оставить отзыв
    +pageSubsection: +splide() 
      +slide: +reviewItem({
        image: { 
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розин Oлег',
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
      +slide: +reviewItem({
        image: { 
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розина Oльга',
        woman: true,
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
  +pageSection.container: .content
    h2 Рекомендуемые врачи, оказывающие услугу
    +pageSubsection: +splide().slider-doctors
      +slide: +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Специалист в области терапии и ортопедии', type: 'additional' },
        ],
      })
      +slide: +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры', type: 'additional' },
        ],
      })
      +slide: +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
      })
      +slide: +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
      })
  +pageSection.container: .content
    h2 Почему мы?
    +pageSubsection: +grid({ justify: 'center' }): +cell({ m: 10, xs: 12 }): +grid({ padding: 'y', justify: 'center', justify: 'center' })
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +advantageBlock({ 'top-10': true }) Топ 10 клиник по имплантации 
        a(href='') по версии КП
      +cell({ l: 4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'lab': true }) Собственная зуботехническая лаборатория
      +cell({ l: 4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'tomography': true }) Компьютерная томография зубов и пазух носа
      +cell({ l: 4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'since-2004': true }) Работаем с 2004 года
        br
        | Мы помогли > 10 000 пациентов
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +advantageBlock({ 'guarantee': true })
        a(href='') Гарантия
        |  на все виды услуг
  +pageSection.container: .content: +formAppointment({ title: 'Записаться на консультацию к стоматологу-терапевту' })
  +pageSection.container: .content
    h2 Похожие процедуры
    +pageSubsection: +grid({ padding: 'y', justify: 'center', justify: 'center' })
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/').text-marked: +grid({ align: 'center', height: '100', padding: 'small' })
        +cell({ xs: 4 }): img(src='/images/uslugi/pulpit.svg' alt='Лечение пульпита' title='Лечение пульпита')
        +cell({ xs: 8 }) Лечение пульпита 
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/').text-marked: +grid({ align: 'center', height: '100', padding: 'small' })
        +cell({ xs: 4 }): img(src='/images/uslugi/parodontitis.svg' alt='Лечение пародонтита' title='Лечение пародонтита')
        +cell({ xs: 8 }) Лечение пародонтита 
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/').text-marked: +grid({ align: 'center', height: '100', padding: 'small' })
        +cell({ xs: 4 }): img(src='/images/uslugi/cervical-caries.svg' alt='Лечение пришеечного кариеса' title='Лечение пришеечного кариеса')
        +cell({ xs: 8 }) Лечение пришеечного кариеса 
