extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/block-marked/block-marked
include /blocks/discount-banner/discount-banner
include /blocks/table-price/table-price
include /blocks/block-icon/block-icon
include /blocks/stages-list/stages-list
include /blocks/work-item/work-item
include /blocks/splide/splide
include /blocks/review-item/review-item
include /blocks/doctor-item/doctor-item
include /blocks/advantage-block/advantage-block
include /blocks/text-marked/text-marked
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-footer/article-footer

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Услуги' ], current: 'Лечение кариеса' })
  +pageSection.container: .content
    h1 Лечение кариеса
    +pageSubsection: +discountBanner({
      name: 'Скидка на лечение зубов 10% для посетителей сайта',
      date: 'Акция действует до 30 сентября',
      add: 'Консультация врача-имплантолога в подарок!',
    })
    +pageSubsection
      -
        const pageNav = [
          { name: 'Преимущества', href: '#' },
          { name: 'Цифры', href: '#' },
          { name: 'Подход к работе', href: '#' },
          { name: 'Обслуживание по ДМС', href: '#' },
          { name: 'Услуги', href: '#' },
          { name: 'Благодарности', href: '#' },
          { name: 'Лицензия', href: '#' },
          { name: 'Сертификаты', href: '#' },
        ]
      +pageNavigation(pageNav)
    +pageSubsection: +blockMarked
      p Кариес — это локальный патологический процесс, обычно начинающийся под зубным налетом в результате ферментации (брожения) микроорганизмами углеводистых остатков пищи
      p В результате жизнедеятельности бактерий выделяются органические кислоты, «разъедающая» зубную эмаль с вымыванием из нее минералов, что в свою очередь приводит к образованию пор. Это очаговая деминерализация эмали (кариес в стадии пятна) — первая стадия разрушения.
      p Если своевременно не провести лечение начальных форм кариеса, формируются дефекты тканей зуба: поверхностные, средние и глубокие кариозные полости.
  +pageSection.container: .content
    h2 Наши преимущества
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Безопасность
        p На начальном этапе проводится обследование с использованием стоматологического микроскопа Leica M320 на разном увеличении с обязательным фотографированием. Данное обследование позволяет выявить кариес на начальной стадии и скрытые полости, недоступные для обзора невооруженным глазом.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Индивидуальный подбор обезболивающего
        p Для обезболивания при лечении зубов применяются современные препараты: Ультракаин, Убистезин, Альфакаин, Септанест, Скандонест, Мепивастезин. Индивидуальный подбор обезболивающего, обязательные аллергопробы.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Комфорт
        p Большинство пациентов стоматологических клиник жалуются на чересчур яркий, слепящий свет осветительных ламп. В «Медицинском Центре Города» используются специальные бестеневые светильники, не причиняющие неудобств пациентам.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Естественность и эстетичность
        p Для реставрации зубов в «Медицинском Центре Города» применяются композитные материалы шестнадцати разных оттенков, что позволяет идеально подобрать оттенок пломбы для высокоэстетичного эффекта.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Возможность сделать операцию под общим наркозом
        p При желании лечение зубов проводится под общим наркозом.
      +cell({ l: 6, m: 6, xs: 12 }): +blockMarked
        h3 Гарантия
        p Гарантия на пломбы — 12 месяцев. Гарантийное лечение — бесплатно
  +pageSection.container: .content
    h2 Наши преимущества
    +pageSubsection: +grid({ padding: 'y' })
      -
        const prices = [
          { name: 'Пломбирование поражения одной поверхности или поверхностного кариеса', value: '2 200' },
          { name: 'Пломбирование поражения двух поверхностей или среднего кариеса', value: '3 400' },
          { name: 'Пломбирование кариозного поражения трех поверхностей или глубокого кариеса', value: '6 300' },
          { name: 'Пломбирование поражения одной поверхности или поверхностного кариеса', value: '2 200' },
          { name: 'Пломбирование поражения двух поверхностей или среднего кариеса ', value: '3 400' },
          { name: 'Пломбирование кариозного поражения трех поверхностей или глубокого кариеса', value: '6 300' },
        ]
      +cell({ l: 9, xs: 12 }): +tablePrice(prices, { 'padding-right': true, footer: true })
      +cell({ l: 3, xs: 12 }): +grid({ padding: 'y' })
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Скидки' }, { discount: true, translate: true })
          p Мы предоставляем скидки и индивидуальные условия в случаях дорогостоящего лечения.
        +cell({ l: 12, m: 4, s: 6, xs: 12 }): +blockIcon({ title: 'Кредит и рассрочка' }, { credit: true, translate: true })
          p Выгодные условия кредитования от Альфа банк. Рассрочка платежа (для постоянных клиентов при длительном лечении).
  +pageSection.container: .content
    h2 Виды лечения зубов
    +pageSubsection: +blockMarked
      h3 Классическое
      -
        const stages = [
          { name: 'Препарирование полости', image: '/images/uslugi/01.jpg' },
          { name: 'Протравка', image: '/images/uslugi/02.jpg' },
          { name: 'Смывание и высушивание', image: '/images/uslugi/03.jpg' },
          { name: 'Нанесение герметика', image: '/images/uslugi/04.jpg' },
          { name: 'Полимеризация', image: '/images/uslugi/05.jpg' },
          { name: 'Готово', image: '/images/uslugi/06.jpg' },
        ]
      +stagesList(stages)
  +pageSection.container: .content
    h2 Основные этапы
    +pageSubsection: +blockMarked({ icon: [ true, 'consult' ] })
      h3 Консультация
      p Собираем анамнез (выявляем все предшествующие болезни факторы), проводим осмотр беспокоящих зубов и соседних, составляем план лечения, разъясняя суть, последовательность и необходимость каждого этапа.
    +pageSubsection: +blockMarked({ icon: [ true, 'preparing' ] })
      h3 Подготовка
      p Проводим профессиональную чистку зубов, в ходе которой снимаем зубной налет и камень, чтобы исключить развитие осложнений в дальнейшем.
  +pageSection.container: .content: +blockMarked({ arrow: true })
    h3 Запишитесь к стоматологу-терапевту
    +grid({ padding: 'y', justify: 'center', 'par-like': true })
      +cell({ l: 9, m: 9, xs: 12 }): p Стоматолог-терапевт вылечит зубы и поможет сохранить их здоровыми. Врачи клиники ВайтДент успешно решат любую стоматологическую проблему. Запишитесь на консультацию, чтобы ваши зубы были в порядке.
      +cell({ m: 3, s: 6, xs: 12 }): +button({ tag: 'a' })(href='/') Записаться на прием
  +pageSection.container: .content
    h2 Часто задаваемые вопросы
    +pageSubsection: +blockMarked({ background: [ true, 'question' ] })
      h3 Назовите противопоказания
      p Аллергия на анестетики, вирусные и воспалительные процессы в организме, период обострения заболеваний сердечно-сосудистой системы.
      h3 Почему после лечения зуб может болеть?
      p На первых порах он может реагировать на механическое воздействие. Обычно это случается, когда пломба давит на пульпу, но со временем дискомфорт проходит. Также боль может сохраняться первые дни как реакция на терапевтическое вмешательство.
      +grid({ padding: 'y', 'par-like': true, align: 'center' })
        +cell({ l: 6, m: 6, xs: 12 }): h3 Остались вопросы? Получите консультацию.
        +cell({ m: 3, m: 3, xs: 12 }): +button({ tag: 'a' })(href='/') Задать вопрос
  +pageSection.container: .content
    -
      const author = {
        image: 'https://dummyimage.com/336x336',
        name: 'Никитин Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        date: {
          published: '30.07.2018',
          updated: '30.07.2019',
        },
      }
    +pageSubsection: +articleAuthor(author)
    +pageSubsection: +articleFooter
  +pageSection.container: .content
    h2 Наши работы
    +pageSubsection
      +grid({ padding: 'y' })
        -
          const works = [
            {
              id: 'sinus-lifting-i-implantatsiya',
              name: 'Синус-лифтинг и имплантация',
              elements: [
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                },
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Никитин Михаил Александрович' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'синус лифтинг', 'имплантация' ],
                },
              ],
            },
            {
              id: 'metallokeramika-na-implantah',
              name: 'Металлокерамика на имплантах',
              elements: [
                {
                  thumb: '/images/metallokeramika-na-implantah-1.jpg',
                  detail: '/images/metallokeramika-na-implantah-1.jpg',
                },
                {
                  thumb: '/images/metallokeramika-na-implantah-2.jpg',
                  detail: '/images/metallokeramika-na-implantah-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Сумин Вадим Сергеевич' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'протезирование на имплантах' ],
                },
              ],
            },
          ]
        each work in works
          +cell({ l: 6, xs: 12 }): +workItem(work)
  +pageSection.container: .content
    +grid({ padding: 'y', justify: 'space-between' })
      h2(class=cellClasses({ l:3, m: 4, s: 6, xs: 12 })) Отзывы
      +cell({ l: 2, m: 4, s: 6, xs: 12 }): +button({ tag: 'a', link: true })(href='/') Оставить отзыв
    +pageSubsection: +splide() 
      +slide: +reviewItem({
        image: { 
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розин Oлег',
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
      +slide: +reviewItem({
        image: { 
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розин Oлег',
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
  +pageSection.container: .content
    h2 Рекомендуемые врачи, оказывающие услугу
    +pageSubsection: +splide().slider-doctors
      +slide: +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Специалист в области терапии и ортопедии', type: 'additional' },
        ],
      })
      +slide: +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры', type: 'additional' },
        ],
      })
      +slide: +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
      })
      +slide: +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
      })
  +pageSection.container: .content
    h2 Почему мы?
    +pageSubsection: +grid({ justify: 'center' }): +cell({ m: 10, xs: 12 }): +grid({ padding: 'y', justify: 'center', justify: 'center' })
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +advantageBlock({ 'top-10': true }) Топ 10 клиник по имплантации 
        a(href='') по версии КП
      +cell({ l: 4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'lab': true }) Собственная зуботехническая лаборатория
      +cell({ l: 4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'tomography': true }) Компьютерная томография зубов и пазух носа
      +cell({ l: 4, m: 6,  s: 6, xs: 12 }): +advantageBlock({ 'since-2004': true }) Работаем с 2004 года
        br
        | Мы помогли > 10 000 пациентов
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +advantageBlock({ 'guarantee': true })
        a(href='') Гарантия
        |  на все виды услуг
  +pageSection.container: .content: +formAppointment({ title: 'Записаться на консультацию к стоматологу-терапевту' })
  +pageSection.container: .content
    h2 Похожие процедуры
    +pageSubsection: +grid({ padding: 'y', justify: 'center', justify: 'center' })
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/').text-marked: +grid({ align: 'center', height: '100', padding: 'small' })
        +cell({ xs: 4 }): img(src='/images/uslugi/pulpit.svg' alt='Лечение пульпита' title='Лечение пульпита')
        +cell({ xs: 8 }) Лечение пульпита 
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/').text-marked: +grid({ align: 'center', height: '100', padding: 'small' })
        +cell({ xs: 4 }): img(src='/images/uslugi/parodontitis.svg' alt='Лечение пародонтита' title='Лечение пародонтита')
        +cell({ xs: 8 }) Лечение пародонтита 
      +cell({ l: 4, m: 6, s: 6, xs: 12 }): +blockMarked({ tag: 'a' })(href='/').text-marked: +grid({ align: 'center', height: '100', padding: 'small' })
        +cell({ xs: 4 }): img(src='/images/uslugi/cervical-caries.svg' alt='Лечение пришеечного кариеса' title='Лечение пришеечного кариеса')
        +cell({ xs: 8 }) Лечение пришеечного кариеса 
