extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Лицензии' })
  +pageSection.container: .content
    h1 Лицензии
    +pageSubsection: +blockMarked: p Мы работаем в соответствии с требованиями местного законодательства и имеет все необходимые разрешения и лицензию 78-01-005523.
    +pageSubsection
      h2 Лицензия на осуществление медицинской деятельности
      +grid({ 'par-like': true, padding: 'y' })
        +cell({ l: 2, m: 3, s: 4, xs: 6 }): a(href='/images/about/licenzii/license-1.jpg' data-glightbox data-gallery='licenses'): img(src='/images/about/licenzii/license-1-small.jpg' alt='' title='')
        +cell({ l: 2, m: 3, s: 4, xs: 6 }): a(href='/images/about/licenzii/license-2.jpg' data-glightbox data-gallery='licenses'): img(src='/images/about/licenzii/license-2-small.jpg' alt='' title='')
        +cell({ l: 2, m: 3, s: 4, xs: 6 }): a(href='/images/about/licenzii/license-3.jpg' data-glightbox data-gallery='licenses'): img(src='/images/about/licenzii/license-3-small.jpg' alt='' title='')
      h2 Лицензия на осуществление медицинской деятельности
      +grid({ 'par-like': true, padding: 'y' })
        +cell({ l: 2, m: 3, s: 4, xs: 6 }): a(href='/images/about/licenzii/sertificate-1.jpg' data-glightbox data-gallery='sertificates'): img(src='/images/about/licenzii/sertificate-1-small.jpg' alt='' title='')
        +cell({ l: 2, m: 3, s: 4, xs: 6 }): a(href='/images/about/licenzii/sertificate-2.jpg' data-glightbox data-gallery='sertificates'): img(src='/images/about/licenzii/sertificate-2-small.jpg' alt='' title='')
