extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Налоговый вычет' })
  +pageSection.container: .content
    h1 Налоговый вычет
    +pageSubsection: +blockMarked({ arrow: true }): +textMarked({ tag: 'p', big: true }) Вы прошли лечение в нашей клинике? Верните 13% от стоимости услуг
    +pageSubsection
      +textMarked({ tag: 'p' }) Документы, которые необходимы для получения налогового вычета
      p: strong Для получения справки от Вайтдент:
      ul.list-marked.list-marked--w-prev-par
        li Заявление о предоставлении справки в налоговую инспекцию (образец заявления получите у администратора или скачайте здесь)
        li Копия паспорта (1-ая страница и прописка)
        li Копия договора об оказании услуг (восстановим утерянный экземпляр)
        li Копии чеков
        li Копия ИНН
    +pageSubsection
      p: strong Для предоставления в налоговую инспекцию:
      ul.list-marked.list-marked--w-prev-par
        li Справка от Вайтдент
        li Заполненная декларация 3-НДФЛ
        li Справка с места работы по форме 2-НДФЛ
        li Копия договора об оказании услуг
        li Копия паспорта (1-ая страница и прописка)
        li Копии чеков
        li Копии СНИЛС и ИНН
        li Реквизиты счета (не кредитный)
