extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-navigation/page-navigation
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/work-item/work-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Наши работы' })
  +pageSection.container: .content
    h1 Наши работы
    +pageSubsection: +blockMarked: p Врачи клиники выполняют самые 
      strong сложные стоматологические операции
      | , устанавливают протезы, импланты. На все виды работ распространяется 
      a(href='/') гарантия
      | .
    +pageSubsection
      -
        const nav = [
          { name: 'Лечение зубов', href: '/' },
          { name: 'Имплантация зубов', href: '/' },
          { name: 'Протезирование зубов', href: '/' },
          { name: 'Хирургия', href: '/' },
          { name: 'Исправление прикуса', href: '/' },
          { name: 'Гигиена полости рта', href: '/' },
        ]
      +pageNavigation(nav)
    +pageSubsection
      +grid({ padding: 'y' })
        -
          const works = [
            {
              id: 'sinus-lifting-i-implantatsiya',
              name: 'Синус-лифтинг и имплантация',
              elements: [
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                },
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Никитин Михаил Александрович' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'синус лифтинг', 'имплантация' ],
                },
              ],
            },
            {
              id: 'metallokeramika-na-implantah',
              name: 'Металлокерамика на имплантах',
              elements: [
                {
                  thumb: '/images/metallokeramika-na-implantah-1.jpg',
                  detail: '/images/metallokeramika-na-implantah-1.jpg',
                },
                {
                  thumb: '/images/metallokeramika-na-implantah-2.jpg',
                  detail: '/images/metallokeramika-na-implantah-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Сумин Вадим Сергеевич' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'протезирование на имплантах' ],
                },
              ],
            },
            {
              id: 'sinus-lifting-i-implantatsiya',
              name: 'Синус-лифтинг и имплантация',
              elements: [
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-1.jpg',
                },
                {
                  thumb: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                  detail: '/images/sinus-lifting-i-implantatsiya-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Никитин Михаил Александрович' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'синус лифтинг', 'имплантация' ],
                },
              ],
            },
            {
              id: 'metallokeramika-na-implantah',
              name: 'Металлокерамика на имплантах',
              elements: [
                {
                  thumb: '/images/metallokeramika-na-implantah-1.jpg',
                  detail: '/images/metallokeramika-na-implantah-1.jpg',
                },
                {
                  thumb: '/images/metallokeramika-na-implantah-2.jpg',
                  detail: '/images/metallokeramika-na-implantah-2.jpg',
                },
              ],
              features: [
                {
                  name: 'Врач',
                  value: [ 'Сумин Вадим Сергеевич' ],
                },
                {
                  name: 'Услуги',
                  value: [ 'протезирование на имплантах' ],
                },
              ],
            },
          ]
        each work in works
          +cell({ l: 6, xs: 12 }): +workItem(work)
    +pageSubsection: include /blocks/pagination/pagination
    +pageSubsection
      p Ознакомившись с фотографиями до и после протезирования и имплантации, вы сможете оценить качество работы врачей клиники и сравнить его с работами специалистов других клиник. Все работы проводятся с использованием самого современного оборудования и сертифицированных препаратов, разрешенных к использованию на территории Российской Федерации.
      p Все фотографии размещены с согласия пациентов.
