extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/properties/properties

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Оборудование' })
  +pageSection.container: .content
    h1 Оборудование
    +pageSubsection: +blockMarked: +grid({ padding: 'y' })
      +cell({ l: 8, m: 6, xs: 12 })
        h2.small Компьютерный томограф GALILEOS
        +grid({ 'par-like': true }): +cell({ l: 3, m: 4, xs: 12 }): +properties([
          { name: 'Компания:', value: 'SIRONA' },
          { name: 'Производитель:', value: 'Германия' },
        ], { 'row-gap': 'small' })
        p GALILEOS устанавливает новые стандарты в рентгенографии, предлагая превосходное качество рентгеновских изображений при наименьшей дозе облучения. Именно наша клиника использует данное новейшее оборудование, аналогов которому нет. Интуитивное управление и оптимизированный рабочий процесс повышают эффективность стоматологического лечения и трехмерной диагностики.
        p GALILEOS — это будущее стоматологии! GALILEOS Comfort PLUS с полем обзора 15,4×15,4×15,4 см позволяет захватить всю зубочелюстную систему, включая носовые пазухи. Функция 3D позволяет повысить диагностическую точность с минимальной дозой облучения. А недавно разработанная программа MARS, гасящая металлические артефакты, обеспечивает четкость и достоверность изображения.
      +cell({ l: 4, m: 6, xs: 12 }): img(src='/images/about/oborudovanie/galileos-1.jpg' alt='Компьютерный томограф GALILEOS' title='Компьютерный томограф GALILEOS')
    +pageSubsection: +blockMarked
      h2.small Компьютерный томограф GALILEOS
      +grid({ 'par-like': true }): +cell({ l: 3, m: 4, xs: 12 }): +properties([
        { name: 'Компания:', value: 'SIRONA' },
        { name: 'Производитель:', value: 'Германия' },
      ], { 'row-gap': 'small' })
      p GALILEOS устанавливает новые стандарты в рентгенографии, предлагая превосходное качество рентгеновских изображений при наименьшей дозе облучения. Именно наша клиника использует данное новейшее оборудование, аналогов которому нет. Интуитивное управление и оптимизированный рабочий процесс повышают эффективность стоматологического лечения и трехмерной диагностики.
      p GALILEOS — это будущее стоматологии! GALILEOS Comfort PLUS с полем обзора 15,4×15,4×15,4 см позволяет захватить всю зубочелюстную систему, включая носовые пазухи. Функция 3D позволяет повысить диагностическую точность с минимальной дозой облучения. А недавно разработанная программа MARS, гасящая металлические артефакты, обеспечивает четкость и достоверность изображения.
