extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/cite/cite

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Обращение генерального директора' })
  +pageSection.container: .content
    h1 Обращение генерального директора
    +pageSubsection: +blockMarked({ arrow: true }): +textMarked({ tag: 'p', big: true })  Дорогие друзья, рад приветствовать Вас на сайте клиники «Вайт Дент»!
    +pageSubsection: +grid({ padding: 'y', align: 'flex-start' })
      +cell({ l: 9, m: 8, xs: 12, order: { s: 2, xs: 2 } })
        p Наша клиника успешно работает на рынке стоматологических услуг уже более 10 лет и справедливо занимает достойное место в рейтинге многопрофильных стоматологических клиник Санкт-Петербурга.
        p Особое внимание мы уделяем формированию коллектива, его росту и развитию. За это время в клинике сложился замечательный коллектив профессионалов, знающих свое дело. Сотрудники клиники сегодня — это высококвалифицированные терапевты, хирурги, имплантологи, ортопеды, ортодонты.
        p Главным преимуществом клиники «Вайт Дент» является наличие врачей практически всех специальностей, наличие собственной зуботехнической лаборатории, современного сертифицированного оборудования и материалов, что существенно экономит время и деньги пациента на обследование и лечение, а также позволяет предоставить гарантии на оказанные услуги.
        p В клинике работает рентгенологический кабинет, в котором можно делать не только прицельные снимки, но и проводить 3-D компьютерную томографию на современном компьютерном томографе GALILEOS от компании Sirona, что позволяет сделать более полную и детальную консультацию нашим пациентам.
        p В первое посещение пациент можете получить профессиональную консультацию с привлечением врачей смежных специальностей и несколько вариантов решения проблемы по состоянию полости рта с учетом имеющихся заболеваний.
        p Ценовая политика «Вайт Дент» — оптимальное сочетание цены и качества.
        p Приглашаем на консультацию в клинику «Вайт Дент» в удобное для Вас время!
      +cell({ l: 3, m: 4, s: 8, xs: 8, order: { s: 1, xs: 1 } }): +blockMarked(): img(src='https://whitedent.spb.ru/upload/medialibrary/068/06883ccc912848cd6c412ac2aec512a6.jpg' alt='Генеральный директор клиники «Вайт-Дент» Моисейчиков Андрей Евгеньевич' title='Генеральный директор клиники «Вайт-Дент» Моисейчиков Андрей Евгеньевич')
    +pageSubsection: +cite
      | С уважением,
      br
      | Генеральный директор
      br
      | клиники «Вайт-Дент»
      br
      | Моисейчиков Андрей Евгеньевич.
