extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/review-item/review-item
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная' ], current: 'Отзывы' })
  +pageSection.container: .content
    h1 Отзывы
    +pageSubsection: +blockMarked({ arrow: true })
      +grid({ padding: 'y', justify: 'center', 'par-like': true })
        +cell({ l: 9, m: 9, xs: 12 })
          p Ваше мнение о работе влиники Вайтдент очень важно для нас! Любые отзывы, как положительные, так и критические, помогают совершенствовать наши услуги, обеспечивать удовлетворенность пациентов и поддерживать качество нашей работы на самом высоком уровне.
        +cell({ m: 3, s: 6, xs: 12 }): +button({ tag: 'a', wide: true })(href='/') Оставить отзыв
    +pageSubsection: +blockMarked({ shadow: true }): +grid({ tag: 'form', padding: 'y' })
      +cell({ l: 3, m: 4, s: 6, xs: 12 }): +formInput({ type: 'select', name: 'doctor', options: [ 'Выберите врача' ] })
      +cell({ l: 3, m: 4, s: 6, xs: 12 }): +formInput({ type: 'select', name: 'doctor', options: [ 'Выберите услугу' ] })
    +pageSubsection: +blockMarked()
      p Все отзывы — 
        strong реальные
        | , написаны пациентами 
        strong от руки
        | на бланках клиники, и публикуются с их разрешения.
      p Авторская орфография и пунктуация сохранена. Каждый отзыв мы снабжаем именем и фамилией пациента, обязательно указываем, у какого врача он лечился и предоставляем краткое текстовое резюме отзыва. 
  +pageSection.container: .content
    +pageSubsection: +reviewItem({
      image: { 
        preview: '/images/review-1.jpg',
        original: '/images/review-1.jpg'
      },
      name: 'Эту клинику советую всем своим знакомым',
      author: 'Розина Oльга',
      gender: 'w',
      date: '24.06.2020',
      doctor: 'Розина Виолетта Олеговна',
      rating: 1,
    })
      p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
    +pageSubsection: +reviewItem({
      image: { 
        preview: '/images/review-1.jpg',
        original: '/images/review-1.jpg'
      },
      name: 'Эту клинику советую всем своим знакомым',
      author: 'Розин Oлег',
      gender: 'm',
      date: '24.06.2020',
      doctor: 'Розина Виолетта Олеговна',
      rating: 2,
    })
      p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
    +pageSubsection: +reviewItem({
      image: { 
        preview: '/images/review-1.jpg',
        original: '/images/review-1.jpg'
      },
      name: 'Эту клинику советую всем своим знакомым',
      author: 'Розина Oльга',
      gender: 'w',
      date: '24.06.2020',
      doctor: 'Розина Виолетта Олеговна',
      rating: 3,
    })
      p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
    +pageSubsection: +reviewItem({
      image: { 
        preview: '/images/review-1.jpg',
        original: '/images/review-1.jpg'
      },
      name: 'Эту клинику советую всем своим знакомым',
      author: 'Розин Oлег',
      gender: 'm',
      date: '24.06.2020',
      doctor: 'Розина Виолетта Олеговна',
      rating: 4, 
    })
      p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
    +pageSubsection: +reviewItem({
      image: { 
        preview: '/images/review-1.jpg',
        original: '/images/review-1.jpg'
      },
      name: 'Эту клинику советую всем своим знакомым',
      date: '24.06.2020',
      doctor: 'Розина Виолетта Олеговна',
      rating: 3,
    })
      p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
    +pageSubsection: +reviewItem({
      image: { 
        preview: '/images/review-1.jpg',
        original: '/images/review-1.jpg'
      },
      name: 'Эту клинику советую всем своим знакомым',
      author: 'Розин Oлег', 
      date: '24.06.2020',
      doctor: 'Розина Виолетта Олеговна',
      rating: 4, 
    })
      p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
    +pageSubsection: include /blocks/pagination/pagination
