extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Отзывы' ], current: 'Спасибо за отзыв' })
  +pageSection.container: .content
    +grid({ justify: 'center' })
      +cell({ l: 6, m: 8, xs: 12 }).text-align--center
        h1 Спасибо за отзыв
        +pageSubsection
          p Отзыв появится на сайте в течение двух рабочих дней.
        +pageSubsection
          p: strong Посмотрите чем живет клиника, заходите в нашу группу
          +grid({ justify: 'center', 'par-like': true, padding: 'y' }): +cell({ l: 8, m: 10, xs: 12 })
            <!-- Put this script tag to the <head> of your page -->
            script(src='https://vk.com/js/api/openapi.js?168')
            <!-- Put this div tag to the place, where the Group block will be -->
            <div id="vk_groups"></div>
            <script type="text/javascript">VK.Widgets.Group("vk_groups", {mode: 4, height: 400, width: "auto"}, 64206144);</script>
