extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/form-input/form-input

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Отзывы' ], current: 'Оставить отзыв' })
  +pageSection.container: .content
    h1 Оставить отзыв
    +pageSubsection
      p Раздел «Отзывы» является частью корпоративной системы контроля качества. Убедительно просим соблюдать следующие правила:
      ul.list-marked.list-marked--w-prev-par
        li Не оставлять вымышленных отзывов. В случае, если вы не хотите сообщать информацию о себе на сайт, просьба отправлять ваши Ф.И.О. на почтовый адрес send@whitedent.spb.ru;
        li Не оставлять отзывы, написанные в некорректной форме, содержащие оскорбления в адрес компании, отдельных клиник и сотрудников, а также клиник-конкурентов;
        li Не оставлять отзывы, содержащие рекламную информацию, в том числе ссылки на другие сайты.
    +pageSubsection
      p: strong Ваши персональные данные не будут использованы для спамовой рассылки и не попадут в открытый доступ и не будут переданы третьим лицам.
    +pageSubsection
      +blockMarked({ tag: 'form' }): +grid({ padding: 'y' })
        +cell({ xs: 12 }): +formInput({ type: 'textarea', placeholder: 'Текст отзыва', required: true })
        +cell({ xs: 12 }): include /blocks/review-form-rating/review-form-rating
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'select', options: [ 'Выбрать услугу' ], label: 'Укажите услугу, которую вы получили' })
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'select', options: [ 'Выбрать врача' ], label: 'Укажите врача, к которому вы обращались' })
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'text', placeholder: 'ФИО', required: true })
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'email', placeholder: 'E-mail', label: 'Адрес используется для связи с Вами при обработке отзыва.' })
        +cell({ m: 6, xs: 12 }): +formInput({ type: 'tel', placeholder: 'Телефон', label: 'Телефон используется для связи с Вами при обработке отзыва.', required: true })
        +cell({ xs: 12 }): +formInput({ type: 'checkbox', label: 'Нажимая на кнопку, я даю свое согласие на обработку <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">персональных данных</a>.', required: true, checked: true })
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): +button({ wide: true })(type='submit') Отправить
