extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/page-navigation/page-navigation
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection.container: .content
    h1 Пациентам
    +pageSubsection: +blockMarked: +grid({ padding: 'y' })
      -
        const services = [
          { name: 'Гарантии', href: '/patsientam/garantii/'},
          { name: 'Кредит', href: '/patsientam/kredit/'},
          { name: 'Варианты оплаты', href: '/patsientam/varianty-oplaty/'},
          { name: 'Правовая информация', href: '/patsientam/pravovaya-informatsiya/'},
          { name: 'Налоговый вычет', href: '/patsientam/nalogoviy-vychet/'},
          { name: 'ДМС', href: '/patsientam/dms/'},
          { name: 'Статьи', href: '/patsientam/stati/'},
          { name: 'Заочная консультация', href: '/patsientam/cons/'},
        ]
      each service in services
        +cell({ l: 3, m: 4, s: 6, xs: 12 }): a(href= service.href) !{service.name}
