extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/form-input/form-input
include /blocks/page-navigation/page-navigation
include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +pageSection.container: .content
    h1 Тест функции изображений
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 3, m: 4, xs: 6 })
        +img({
          name: 'test',
          formats: [
            { ext: 'png', mime: 'image/png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [1, 2, 3] },
            { name: 'l', values: [1, 2] },
          ],
          path: '/images/picture-test/',
        })(width=300)
        p размеры: xs, l
      +cell({ l: 3, m: 4, xs: 6 })
        +img({
          name: 'test',
          formats: [
            { ext: 'png', mime: 'image/png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 's', values: [1, 2, 3] },
            { name: 'l', values: [1, 2] },
          ],
          path: '/images/picture-test/',
        })(width=300)
        p размеры: s, l
      +cell({ l: 3, m: 4, xs: 6 })
        +img({
          name: 'test',
          formats: [
            { ext: 'png', mime: 'image/png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'xs', values: [1, 2] },
            { name: 's', values: [1, 2] },
            { name: 'm', values: [1, 2] },
          ],
          path: '/images/picture-test/',
        })(width=300)
        p размеры: xs, s, m
      +cell({ l: 3, m: 4, xs: 6 })
        +img({
          name: 'test',
          formats: [
            { ext: 'png', mime: 'image/png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 's', values: [1, 2] },
            { name: 'm', values: [1, 2] },
            { name: 'l', values: [1, 2] },
          ],
          path: '/images/picture-test/',
        })(width=300)
        p размеры: s, m, l
      +cell({ l: 3, m: 4, xs: 6 })
        +img({
          name: 'test',
          formats: [
            { ext: 'png', mime: 'image/png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 'l', values: [1, 2] },
          ],
          path: '/images/picture-test/',
        })(width=300)
        p размеры: l
      +cell({ l: 3, m: 4, xs: 6 })
        +img({
          name: 'test',
          formats: [
            { ext: 'png', mime: 'image/png', orig: true },
            { ext: 'webp', mime: 'image/webp' },
          ],
          density: [
            { name: 's', values: [1, 2] },
          ],
          path: '/images/picture-test/',
        })(width=300)
        p размеры: s
