extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked
include /blocks/cite/cite

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Правовая информация' })
  +pageSection.container: .content
    h1 Правовая информация
    p Уважаемые клиенты сети стоматологических клиник «Вероника»!
    p В соответствии со статьей 10 Закона РФ  
      strong «О защите прав потребителей № 2300-1 от 07.02.1992г.; п. 5, 7, 17 «Правила предоставления медицинскими организациями платных услуг»
      |  Утв. ПП РФ от 04.10.2012 г. предоставляем Вам следующую информацию:
    h2.small Сведения об организации
    p Полное название организации: ООО «Вайт Дент»
      br
      | Юридический адрес: 197350, Санкт-Петербург, ул.Шаврова, д.17, лит.А, пом.1-Н
      br
      | ОГРН: 1047823008562
      br
      | Почтовый индекс: 199226
      br
      | Почтовый адрес: ул. Нахимова, д.7, корп.2, литер А, г. Санкт-Петербург
    p Лицензия на осуществление медицинской деятельности: №ЛО-78-01-005523 от 09 февраля 2015 года
    ul.list-marked
      li: a(href='/') Структура и органы управления клиникой
    h2.small Информации об условиях, порядке, формы предоставления медицинских услуг и порядок их оплаты:
    ul.list-marked
      li: a(href='/') Правила предоставления платных медицинских услуг
      li: a(href='/') Правила нахождения пациентов в клинике
      li: a(href='/') Федеральный Закон об основах охраны здоровья граждан в Российской Федерации
    h3 О страховых медицинских организациях, с которыми заключены договоры на оказание и оплату медицинской помощи по обязательному медицинскому страхованию
    p В клинике не оказывается медицинская помощь без взимания платы в рамках Программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи.
    h3 Лекарственные препараты
    ul.list-marked
      li: a(href='/') Перечень жизненно необходимых лекарственных препаратов
      li: a(href='/') Перечень лекарственных препаратов предоставляемых со скидками
    h2.small Адреса и телефоны органов исполнительной власти и надзора
    p
      strong Министерство здравоохранения Российской Федерации
      br
      | Адрес: 127994, ГСП-4, г. Москва, Рахмановский пер, д. 3
      br
      | Телефон справочной службы: (495) 628-44-53, (495) 627-29-44
    p
      strong Федеральная служба по надзору в сфере здравоохранения (Росздравнадзор)
      br
      | Адрес: 109074, Москва, Славянская площадь, д.4, строение 1
      br
      | Телефон: (495) 698-45-38; (499) 578-02-30
    p
      strong Территориальный орган Федеральной службы по надзору в сфере здравоохранения по Санкт-Петербургу и Ленинградской области (Росздравнадзор)
      br
      | Адрес: 190068, г. СПб, наб. кан. Грибоедова, 88-90
      br
      | Телефон: (812) 314-67-89
    p
      strong Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека (Роспотребнадзор)
      br
      | Адрес: 127994, г. Москва, Вадковский переулок, дом 18, строение 5 и 7
      br
      | Телефон: 8-800 - 100 - 00 - 04
    p
      strong Управление Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по Санкт-Петербургу (Управление Роспотребнадзора по Санкт-Петербургу)
      br
      | Адрес: 191025, г. Санкт-Петербург, ул. Стремянная, д. 19
      br
      | Горячая линия: (812) 712-29-81
    h2.small График приема граждан руководителем медицинской организации:
    p
      | Главный врач сети стоматологических клиник «Вероника» — Селюнина Ольга Вячеславовна.
      br
      | Прием у главного врача осуществляется по четвергам с 16:00 до 17:00, по предварительной записи у администраторов Клиники.
      br
      | По адресу: г. Санкт-Петербург, ул. Савушкина, д.8, кор. 2.
      br
      | Телефон: +7 (812) 777 77 09
      br
      | E-mail: admstomsav@veronica.ru
