extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/menu/menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная' ], current: 'Услуги' })
  +pageSection.container: .content 
    h1 Услуги
    //- include /data/services
    //- .block-marked.page-subsection
    //-   +menu(services).menu-service 

    <div class="page-subsection"> 
      <div class="block-marked">
        <nav class="menu-service">
          <ul class="menu-service__list block-marked__list">
            <li class="menu-service__item menu-service__item--active menu-service__item--parent"><a href="http://wd/uslugi/rentgenodiagnostika/" class="">Рентгенодиагностика0</a>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/galileos-comfort/" class="">Компьютерная 3D томография1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/3d-snimok-zubov/" class="">3D-снимок2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/dlya-implantacii/" class="">Компьютерная томография для имплантации2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/chelyusti/" class="">Компьютерная томография челюсти2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/3d-snimok-chelyusti/" class="">3D-снимок челюсти2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/polosti-rta/" class="">Компьютерная томография полости рта2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/dentalnaya-tomografiya/" class="">Дентальная томография2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/kt-pazuh-nosa/" class="">КТ пазух носа1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/lor-organov/" class="">Компьютерная томография ЛОР-органов2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/gaymorovyh-pazuh/" class="">Компьютерная томография гайморовых пазух2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/lobnoy-pazuhi/" class="">Компьютерная томография лобной пазухи2</a></li>
                </ul>
              </ul>
            </li>
            <li class="menu-service__item menu-service__item--active menu-service__item--parent"><a href="http://wd/uslugi/terapiya/" class="">Лечение зубов0</a>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/bez-boli/" class="">Лечение без боли1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/drugie/" class="">Лечение других заболеваний1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/emali-zubov/" class="">Лечение эмали2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/podvizhnosti-zubov/" class="">Лечение подвижности2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/lechenie-periodontita/" class="">Лечение периодонтита2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/mudrosti/" class="">Лечение зуба мудрости1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/kisty-zuba/" class="">Лечение кисты1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/granulemy/" class="">Лечение гранулемы2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/bez-udaleniya/" class="">Лечение кисты без удаления2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/terapevticheskoe/" class="">Терапевтическое лечение кисты2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/flyusa/" class="">Лечение флюса1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/lechenie-kariesa/" class="">Лечение кариеса1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/glubokogo/" class="">Лечение глубокого кариеса2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/prikornevogo/" class="">Лечение прикорневого кариеса2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/prisheechnogo/" class="">Лечение пришеечного кариеса2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/postavit-plombu/" class="">Постановка пломбы2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/shlifovka-plomby/" class="">Шлифовка пломбы2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/lechenie-pulpita/" class="">Лечение пульпита1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/depulpirovanie/" class="">Депульпирование2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/kanalov-zuba/" class="">Лечение каналов2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/chistka-zubnykh-kanalov/" class="">Чистка каналов2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/perelechivanie/" class="">Перелечивание каналов2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/plombirovka-i-rasplombirovka-kanala/" class="">Пломбировка и распломбировка канала2</a></li>
                </ul>
              </ul>
            </li>
            <li class="menu-service__item menu-service__item--active menu-service__item--parent"><a href="http://wd/uslugi/esteticheskaya/" class="">Эстетическая стоматология0</a>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/viniry/" class="">Виниры1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/na-refraktore/" class="">Виниры на рефракторе2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/keramicheskie/" class="">Керамические виниры2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/keramicheskie-emax/" class="">Керамические виниры Е-Мах2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/kompozitnie/" class="">Композитные виниры2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/ultraniry/" class="">Ультраниры2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/cirkonievye/" class="">Циркониевые виниры2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/klinovidnogo-defekta/" class="">Лечение клиновидного дефекта1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/narashchivaniye-zubov/" class="">Наращивание зубов1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/otbelivanie-zubov/" class="">Отбеливание зубов1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/vnutrikanalnoe/" class="">Внутриканальное отбеливание2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <ul class="menu-service__sublist menu-service__sublist--2">
                  <li class="menu-service__item menu-service__item--sub menu-service__item--sub-2"><a href="http://wd/uslugi/opalescence/" class="">Отбеливание системой Opalescence2</a></li>
                </ul>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/pokrytie-zubov-emalyu/" class="">Покрытие белой эмалью1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/pustaya-statya/" class="">Пустая статья1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/rezhushchego-kraya/" class="">Реставрация скола и режущего края1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/svetovaja-plomba/" class="">Установка световых пломб1</a></li>
              </ul>
              <ul class="menu-service__sublist menu-service__sublist--1">
                <li class="menu-service__item menu-service__item--sub menu-service__item--sub-1"><a href="http://wd/uslugi/hudozhestvennaya-restavraciya-zubov/" class="">Художественная реставрация1</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div> 

    +pageSubsection 
      p Стоматология Медалл — стоматология "полного цикла" в Санкт-Петербурге. Мы поможем вылечить, исправить и приукрасить зубы.
      p У нас работают ведущие врачи, опинион лидеры, лекторы международного уровня ведущих производителей оборудования.
      p Используем современные томографы, микроскопы, сканеры для цифрового планирования улыбки, фотопротоколов и поддержки современных стандартов диагностики и лечения.
      p В сложном лечении используем комплексный план для оценки сроков и стоимости:
      ul.list-marked.list-marked--w-prev-par
        li в первый визит вас осмотрит врач, сделает томографию и 3D нимок челюсти
        li без вашего участия, врачи разных направлений обсудят план лечений
        li во второй визит расскажем о этапах лечения, выберем удобное время, назовем стоимость.
          
