extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/block-marked-image/block-marked-image
include /blocks/block-icon/block-icon
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Вакансии' })
  +pageSection.container: .content
    h1 Вакансии
    +pageSubsection: +blockMarked({ arrow: true })
      p Стоматологическая клиника «ВайтДент» является 
        strong перспективным лечебным учреждением
        | , которое занимает достойное место 
        strong среди ведущих клиник
        | данного направления в Санкт-Петербурге.
      p Наш клиника работает на рынке медицинских услуг c 1989 года. Входим в топ 10 клиник по имплантации по версии 
        a(href='/') «Комсомольской Правды»
        | .
    +pageSubsection: +blockMarkedImage({ src: '/images/about/vakansii/vakansii.jpg', alt: '' }, { 'big-image': true })
      ul.list-marked.list-marked--arrow
        li Современное оборудование
        li Конкурентная заработная плата
        li Комфортные условия труда
        li «Белая» заработная плата и оформление по ТК
        li Профессиональное обучение
        li Возможности карьерного роста
    +pageSubsection
      p Главная составляющая успеха любой компании — это ее сотрудники. В настоящее время в компании работает 11 человек. Дружный коллектив единомышленников, профессионалов высокого класса — залог плодотворной деятельности компании.
      p Приглашаем на работу 
        strong талантливых и опытных
        |  стоматологов всех профилей, которые умеют и любят работать!
      p У нас отличные условия, хороший коллектив и мы умеем договариваться.
    +pageSubsection
      h2 Актуальные вакансии
      ul.list-marked
        li: strong Врач-стоматолог-терапевт с клиентской базой. Заработная плата по договоренности.
        li: strong Ассистент стоматолога. Заработная плата по договоренности. Рабочий день с 11 до 21 часа.
      p Если вакансий, соответствующих вашей квалификации, в настоящее время нет, мы поместим ваше резюме в кадровый резерв клиники, и при открытии вакансии, на которую вы претендуете, мы с вами свяжемся.
      h2 Контакты для соискателей
      p Если sы ищете работу в современной стабильной стоматологической клинике — 
        strong свяжитесь с нами
        | .
      p Записаться на собеседование можно по номеру, указанному ниже.
      p Также вы можете прислать информацию о себе в свободной форме или резюме на наш e-mail.
    +pageSubsection: +grid(): +cell({ l: 5, m: 8, xs: 12 }): +blockMarked().text-align--center
      +textMarked({ tag: 'p' }) тел. +7 (812) 612-97-92
      p Электропочта: 
        a(href='mailto:send@whitedent.spb.ru') send@whitedent.spb.ru
