extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/text-marked/text-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'О клинике' ], current: 'Варианты оплаты' })
  +pageSection.container: .content
    h1 Варианты оплаты
    p В стоматологической клинике «Вайтдент» кроме традиционной оплаты наличными принимаются следующие виды оплаты:
    +grid({ padding: 'y', 'par-like': true })
      +cell({ l: 6, xs: 12 }): +blockMarked()
        h2.small Банковские карты
        p Мы принимаем к оплате банковские карты Visa, Mastercard, Maestro, Сберкард, МИР. При этом никакая дополнительная комиссия НЕ взимается.
      +cell({ l: 6, xs: 12 }): +blockMarked()
        h2.small Безналичный расчет
        p Оплата наших услуг возможна по договору, с банковского счета юридического или физического лица.
      +cell({ l: 6, xs: 12 }): +blockMarked()
        h2.small Оплата в кредит
        p Выгодные условия кредитования от Альфа банк.
      +cell({ l: 6, xs: 12 }): +blockMarked()
        h2.small Другие способы оплаты
        p По договорённости с администрацией возможны и другие способы оплаты. Подробности можно узнать по телефону или заказав обратный звонок.
      +cell({ xs: 12 }): +blockMarked()
        h2.small Полисы ДМС
        p Если у вас есть полис ДМС от одной из страховых компаний, с которыми мы сотрудничаем, вы можете получить услуги нашей клиники по данным полисам ДМС. Перечень компаний-партнеров, выписывающих страховой полис ДМС на лечение зубов:
        +grid({ padding: 'y', align: 'center', 'par-like': true })
          +cell({ xs: 'auto' }): img(src='/images/about/rosgosstrah.svg' alt='' width='132')
          +cell({ xs: 'auto' }): img(src='/images/about/rms.png' alt='' width='132')
          +cell({ xs: 'auto' }): img(src='/images/about/reso.svg' alt='' width='132')
          +cell({ xs: 'auto' }): img(src='/images/about/allianz.svg' alt='' width='132')
          +cell({ xs: 'auto' }): img(src='/images/about/vtb.svg' alt='' width='132')
          +cell({ xs: 'auto' }): img(src='/images/about/medexpress.svg' alt='' width='132')
          +cell({ xs: 'auto' }): img(src='/images/about/pomosch.png' alt='' width='132')
