extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/doctor-item/doctor-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная' ], current: 'Врачи' })
  +pageSection.container: .content
    h1 Врачи стоматологии ВайтДент
    +pageSubsection: p Наша команда — специалисты 
      strong во всех сферах стоматологии
      | : терапия, имплантология, хирургия, ортодонтия, пародонтология. Благодаря этому, мы оказываем услуги 
      strong полного цикла
      | . Каждый врач — это проверенные многолетней работой 
      strong профессионал
      | , который не раз доказывал свою компетенцию.
    +pageSubsection
      h2.small Специализации
      -
        const pageNav = [
          { name: 'Терапевты', href: '/', active: true },
          { name: 'Хирурги', href: '/' },
          { name: 'Имплантологи', href: '/' },
          { name: 'Ортопеды', href: '/' },
          { name: 'Ортодонты', href: '/' },
        ]
      +pageNavigation(pageNav)
    +pageSubsection: +grid({ padding: 'y' })
      +cell({ l: 6, xs: 12 }): +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Специалист в области терапии и ортопедии', type: 'additional' },
        ],
      })
      +cell({ l: 6, xs: 12 }): +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры', type: 'additional' },
        ],
      })
      +cell({ l: 6, xs: 12 }): +doctorItem({
        image: '/images/nikitin.jpg',
        name: 'Никитин',
        nameSecondary: 'Михаил Александрович',
        occupation: 'Врач-стоматолог терапевт / ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Специалист в области терапии и ортопедии', type: 'additional' },
        ],
      })
      +cell({ l: 6, xs: 12 }): +doctorItem({
        image: '/images/sumin.jpg',
        name: 'Сумин',
        nameSecondary: 'Вадим Сергеевич',
        occupation: 'Врач-стоматолог ортопед',
        properties: [
          { name: 'Стаж работы 15 лет', type: 'experience' },
          { name: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры', type: 'additional' },
        ],
      })
