extends /blocks/layout/layout

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/block-marked-image/block-marked-image
include /blocks/properties/properties
include /blocks/figure/figure
include /blocks/review-item/review-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content: +breadcrumbs({ parents:[ 'Главная', 'Врачи' ], current: 'Никитин Михаил Александрович' })
  +pageSection.container: .content
    h1 Никитин Михаил Александрович
    +pageSubsection: +blockMarkedImage({ src: '/images/nikitin.jpg', alt: 'Никитин Михаил Александрович' })
      +pageSubsection: h3 Врач-стоматолог терапевт / ортопед
      +pageSubsection
        +properties([
          {
            name: 'Стаж работы 15 лет',
            type: 'experience'
          },
          {
            name: 'Конструкции любой степени сложности, протезирование на имплантатах, виниры',
            type: 'additional'
          },
        ])
      +pageSubsection: +grid({ padding: 'y' })
        +cell({ l: 4, m: 6, xs: 12 }): +button({ tag: 'a', wide: true })(href='#discount-form' data-from='Никитин Михаил Александрович' data-type='doctor').discount-form-open Записаться на прием
        +cell({ l: 4, m: 6, xs: 12 }): +button({ tag: 'a', secondary: true , wide: true})(href='') Задать вопрос
    +pageSubsection: +grid(): +cell({ l: 9, m: 10, xs: 12 })
      -
        const pageNav = [
          { name: 'Образование', href: '#' },
          { name: 'Повышение квалификации', href: '#' },
          { name: 'Опыт работы', href: '#' },
          { name: 'О себе', href: '#' },
          { name: 'Дипломы', href: '#' },
          { name: 'Отзывы', href: '#' },
        ]
      +pageNavigation(pageNav)
    +pageSubsection
      h2 Образование
      p Окончил «Санкт-Петербургский государственный медицинский университет имени академика И.П. Павлова» в 2006 году с присуждением квалификации - Врач по специальности «Стоматология». Имеет действующий сертификат специалиста по специальности стоматология ортопедическая сроком до 25 марта 2024 года.
    +pageSubsection
      h2 Повышение квалификации
      ul.list-marked
        li 2006-2007 гг.: Проходил клиническую интернатуру в ГОУВПО «Санкт - петербургский государственный медицинский университет имени академика И.П.Павлова ФА по ЗиСР»  присвоена квалификация врача стоматолога
        li 2007г.: Получен сертификат специалиста,  присвоена  специальность «Стоматология»
        li 2007г.: Проходил курс повышения квалификации в ГОУ ДПО «Санкт-Петербургская медицинская академия последипломного образования. Федерального агентства по здравоохранению и социальному развитию»,  по специальности  «Стоматология терапевтическая». Присвоено право на ведение профессиональной деятельности в сфере  стоматологии терапевтической.
        li 2007г.: Получен сертификат специалиста,  присвоена  специальность «Стоматология терапевтическая»
        li 2013г.: Проходил курс повышения квалификации в «Омской государственной медицинской академии» по «Стоматологии терапевтической», продлен сертификат специалиста, на основании которого  присвоена  специальность «Стоматология терапевтическая»
        li 2014г.: Проходил курс повышения квалификации ГБУ ВПО «Омская государственная медицинская академия» по программе «Стоматология ортопедическая»
        li 2014г.: Получен сертификат специалиста, на основании которого допущен к осуществлению медицинской деятельности по специальности  «Стоматология ортопедическая»
        li 2020г.: Получен сертификат специалиста, на основании которого допущен к осуществлению медицинской деятельности по специальности  «Стоматология ортопедическая»
    +pageSubsection
      h2 Опыт работы
      p Работал в стоматологическом отделении Медицинской академии последипломного образования врачом пародонтологом, хирургом-стоматологом, с 2005 года в клинике Восстания 11 Стоматологического центра города, с 2008 года являюсь заведующим стоматологическим отделением Медицинского центра города.
    +pageSubsection
      h2 Дополнительная информация
      p Интересуюсь антропологией, и как частным случаем, гнатологией – наукой, изучающей зубной прикус, размеры и взаимоотношения челюстей и влияние этих факторов на функцию височно-нижнечелюстного сустава, зубо-челюстную систему и эстетику, стараюсь использовать приобретаемые знания для комплексного подхода при планировании лечения пациентов.
      p При общении с пациентами предпочитаю партнерские отношения, во время консультаций стараюсь максимально доступно и объективно рассказать о всех возможных вариантах лечения и совместно с пациентом найти и реализовать наиболее для него подходящий.
    +pageSubsection
      h2 Дипломы и сертификаты
      +grid({ 'par-like': true, padding: 'y' })
        +figure({ src: 'https://dummyimage.com/600x400', detail: 'https://dummyimage.com/1200x800', caption: 'Лучевая диагностика в стоматологии' })(class= cellClasses({ l: 3, m: 4, xs: 6 }))
        +figure({ src: 'https://dummyimage.com/600x400', detail: 'https://dummyimage.com/1200x800', caption: 'Использование операционного микроскопа в эндодонтии' })(class= cellClasses({ l: 3, m: 4, xs: 6 }))
        +figure({ src: 'https://dummyimage.com/600x400', detail: 'https://dummyimage.com/1200x800', caption: 'Сертифицированный пользователь имплантов Ankylos' })(class= cellClasses({ l: 3, m: 4, xs: 6 }))
        +figure({ src: 'https://dummyimage.com/600x400', detail: 'https://dummyimage.com/1200x800', caption: 'Пластическая микрохирургия в имплантологии и парадонтологии' })(class= cellClasses({ l: 3, m: 4, xs: 6 }))
    +pageSubsection: +grid({ padding: 'y', justify: 'space-between' })
      h2(class=cellClasses({ l:3, m: 4, s: 6, xs: 12 })) Отзывы
      +cell({ l: 2, m: 4, s: 6, xs: 12 }): +button({ tag: 'a' })(href='/') Оставить отзыв
      +reviewItem({
        image: { 
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розин Oлег',
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
      +reviewItem({
        image: { 
          preview: '/images/review-1.jpg',
          original: '/images/review-1.jpg'
        },
        name: 'Эту клинику советую всем своим знакомым',
        author: 'Розин Oлег',
        date: '24.06.2020',
        doctor: 'Розина Виолетта Олеговна',
      })
        p Хочу выразить огромную благодарность стоматологической клинике «Вайт-Дент». Отдельная благодарность администратору Карповой Кристине за доброжелательность, внимание и помощь, Розиной Виолетте за лечение зубов, Абдулу за качественную помощь врачу и всему остальному персоналу, который всегда рад меня видеть. Эту клинику советую всем своим знакомым.
