a
  color var(--color-link)
  transition color .4s
  &:hover
    color var(--color-link-hover)
    transition color .1s
  &:active
    color var(--color-link-active)
  &[href^='#']
    text-decoration-style dashed
  &.arrow
    position relative
    padding-right .5rem
    &::after
      content ''
      display inline-block
      width 1.25rem
      height .675rem
      margin-left .5rem
      background-color var(--color-link)
      transition background-color .4s, transform .4s
      will-change transform
      mask url('../images/arrow-right-small.svg') no-repeat center // @stylint ignore
    &:hover::after
      background-color var(--color-link-hover)
      transition background-color .1s, transform .1s
      transform translateX(.5rem)
