include /blocks/grid/grid
include /blocks/create-element/create-element
include /blocks/scripts/scripts
include /blocks/stage/stage
include /blocks/block-icon/block-icon
include /blocks/figure/figure
include /blocks/iframe-responsive/iframe-responsive

block head
block content
