extends /blocks/layout-services/layout-services

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/figure/figure

block content
  +pageSection.container: .content
    +pageSubsection: +figure({ src: 'https://whitedent.spb.ru/images/kt/3d_snimok_zubov.jpg', alt: 'КТ зубочелюстной системы', caption: 'КТ зубочелюстной системы' })
    +pageSubsection
      p КТ зубочелюстной системы — это метод диагностики, заключающийся в сканировании ротовой полости рентгеновскими лучами и компьютерном построении ее трехмерной модели.
      p 3D-обследование позволяет:
      ul.list-marked.list-marked--w-prev-par
        li Получить полную картину состояния зубочелюстной системы, чтобы провести качественное и эффективное лечение.
        li Спланировать лечение, протезирование, имплантацию, исправление прикуса, чтобы исключить ошибки стоматологической помощи.
        li Проверить качество лечения.
        li Обнаружить скрытые патологии, травмы, воспаление, переломы, аномалии развития зубочелюстной системы.
  | {{TSENY}}
  +pageSection.container: .content
    +pageSubsection: img(src='/images/banner-implant-adin.jpg' alt='Имплант Adin всего за 12000 рублей' title='Имплант Adin всего за 12000 рублей')
  +pageSection.container: .content
    h2 Почему дентальную КТ лучше делать в клинике «Вайт Дент»?
    ul.list-marked
      li
        strong Врачи, которым можно доверять.
        |  Диагностику проводят квалифицированные специалисты, которые успешно окончили обучение работе на компьютерном томографе.
      li
        strong Точность.
        |  Аппарат позволяет получить изображение без искажений — залог точного и безошибочного диагноза.
      li
        strong Минимально возможная доза облучения.
        |  Проводим обследование на томографе Galileos Comfort Plus с минимальной лучевой нагрузкой по сравнению с другими аналогичными диагностическими методами. Такое преимущество обусловлено технологией усиления изображения в сочетании с уменьшением области съемки.
      li
        strong Полная визуализация.
        |  На качественном, хорошо детализированном снимке представлена полная картина происходящего в зубочелюстной системе.
      li
        strong Экономия времени.
        |  Томограф работает в высокоскоростном режиме, поэтому снимок будет готов за 10-12 минут.
  +pageSection.container: .content
    h2 Как проходит обследование?
    p Суть томографии зубов заключается в сканировании зубочелюстной системы рентгеновскими лучами, сборе информации специальным детектором, и построении трехмерной компьютерной модели полученных данных.
    h3 Основные этапы
    ol.list-numbered
      li Нужно подойти вплотную к томографу, закусить прикусную пластину, защищенную одноразовым индивидуальным пластиковым чехлом и не двигаться, голова пациента фиксируется в районе ушных раковин специальным фиксатором, руками пациент держится за специальные ручки.
      li Врач задает параметры обследования: устанавливает определенные параметры аппарата, которые зависят от толщины костей пациента — и, выйдя из кабинета, дистанционно запускает сканирование.
      li Рамка томографа начнет вращаться по кругу и издавать звуковой сигнал: лучи сканируют определенную часть лицевого черепа, принимающий датчик фиксирует информацию. На весь процесс уходит не больше 20 секунд.
      li Компьютер создаст единое трехмерное изображение, построив модель на основе снимков, сделанных во всех слоях и в трех осях. Результат будет храниться на жестком диске в клинике, а также записывается на СД и выдается на руки пациенту спустя 10-12 минут.
      li Если пациенту требуется детальная расшифровка снимка, то такая услуга выполняется рентгенологом клиники, при наличии у пациента направления на исследование с указанием областей, необходимых к описанию (в течение 1-2 дней). Заключение можно переслать по электронной почте непосредственно пациенту. Стоимость заключения — 1000 рублей.
  +pageSection.container: .content
    +pageSubsection
      h2 Зачем проводить компьютерную томографию?
      p КТ ротовой полости нужна, чтобы:
      ul.list-marked.list-marked--w-prev-par
        li Обнаружить новообразования, кисты зубов, ЛОР-заболевания (при исследовании хорошо видны гайморовы пазухи, отчасти лобные пазухи, полость носа), изменения челюстных суставов.
        li Безошибочно определить наличие либо отсутствие зачатков зубов.
        li Найти непрорезавшиеся зубы и спрогнозировать вероятность осложнений, составить план эффективной стоматологической помощи.
        li Проверить качество установки коронок, имплантатов, пломб.
        li Провести комплексное обследование перед серьезными стоматологическими операциями.
        li Узнать о состоянии костной ткани перед имплантацией.
    +pageSubsection: +figure({ src: 'https://whitedent.spb.ru/images/kt/v_processe_kt_rotovoj_polosti.jpg', alt: 'В процессе КТ ротовой полости', caption: 'В процессе КТ ротовой полости' })
  +pageSection.container: .content
    h2 Преимущества томографии
    p Другие методы рентгенодиагностики позволяют получить снимок в одной плоскости, а при компьютерной томографии он создается в трехмерном пространстве.
    p 3D-снимок челюсти можно рассмотреть под разными углами, с любой стороны и во всех плоскостях, в любом увеличении, а другие методы диагностики позволяют получить только статичный снимок.
    p В ходе компьютерной томографии объект сканируется один к одному, тем самым исключается вероятность искажения. В процессе обследования другими методами объект неизбежно искажается по величине или конфигурации.
    p Программа позволяет, на основе компьютерной томограммы, спрогнозировать постановку имплантатов, определить их размеры и длину, построить хирургический макет и заказать последний в ортопедической лаборатории.
