grid-items(count)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      &--xs-{i}
        flex-grow 0
        flex-shrink 0
        width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-s)
        &--s-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-m)
        &--m-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-l)
        &--l-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-xl)
        &--xl-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)
    for i in (1..count)
      flexBasis = 'calc(100% / '+count+' * '+i+')'
      @media screen and (min-width point-hd)
        &--hd-{i}
          flex-grow 0
          flex-shrink 0
          width unquote(flexBasis)

.grid
  display flex
  flex-wrap wrap
  margin-x -(basePadding)

  aligns = 'center', 'flex-end', 'flex-start', 'stretch', 'baseline'
  justifies = 'flex-start', 'flex-end', 'center', 'space-between', 'space-around', 'space-evenly'
  for i in aligns
    &--align-{i}
      align-items unquote(i)
  for i in justifies
    &--justify-{i}
      justify-content unquote(i)
  &--nopadding
    margin-x 0
  &--padding-y
    margin-y -(basePadding)
  &--par-like
    parMargin(-(basePadding - 1rem))
  &--big-padding
    margin-x -(basePadding * 2)
    &^[-1]--padding-y
      margin-y -(basePadding * 2)
  &--padding-small
    margin-x -(basePadding / 2)
    &^[-1]--padding-y
      margin-y -(basePadding / 2)
  &--height-100
    height 100%

  &__cell
    padding-x basePadding

    grid-items(12)

    ^[-1]--cols-10 > &
      grid-items(10)
    ^[-1]--nopadding > &
      padding-x 0
    ^[-1]--padding-y > &
      padding-y basePadding
    ^[-1]--big-padding > &
      padding-x (basePadding * 2)
    ^[-1]--big-padding^[-1]--padding-y > &
      padding-y (basePadding * 2)
    ^[-1]--padding-small > &
      padding-x (basePadding / 2)
    ^[-1]--padding-small^[-1]--padding-y > &
      padding-y (basePadding / 2)
    ^[-1]--big-padding^[-1]--padding-y > &
      padding-y (basePadding * 2)
    sizes = { 'hd': point-hd, 'xl': point-xl, 'l': point-l, 'm': point-m, 's': point-s, 'xs': '' }
    for val, size in sizes
      &--{val}-hidden
        @extend .hidden-{val}
    for i in (1..12)
      @media (max-width point-s - 1)
        &--order-xs-{i}
          order i
      @media (max-width point-m - 1) and (min-width point-s)
        &--order-s-{i}
          order i
      @media (max-width point-l - 1) and (min-width point-m)
        &--order-m-{i}
          order i
      @media (max-width point-xl - 1) and (min-width point-l)
        &--order-l-{i}
          order i
      @media (max-width point-hd - 1) and (min-width point-xl)
        &--order-xl-{i}
          order i
      @media (min-width point-hd)
        &--order-hd-{i}
          order i
