extends /blocks/layout-services/layout-services

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/page-navigation/page-navigation
include /blocks/block-marked/block-marked
include /blocks/discount-banner/discount-banner
include /blocks/block-marked-image/block-marked-image
include /blocks/table-price/table-price
include /blocks/block-icon/block-icon
include /blocks/stages-list/stages-list
include /blocks/work-item/work-item
include /blocks/splide/splide
include /blocks/review-item/review-item
include /blocks/doctor-item/doctor-item
include /blocks/advantage-block/advantage-block
include /blocks/text-marked/text-marked
include /blocks/article-author/article-author
include /blocks/form-appointment/form-appointment
include /blocks/article-item-small/article-item-small
include /blocks/button/button
include /blocks/figure/figure

block content
  +pageSection.container: .content
    p Имплантация — сложный и ответственный процесс, предполагающий длительную и тщательную подготовку, которую невозможно провести без специального оборудования. Поэтому томография для имплантации зубов играет решающую роль. Самое важное для имплантолога — узнать состояние костной ткани: точно определить ее толщину, объем и плотность.
    p Точно так же сложно представить качественное протезирование без томографии. Ведь с помощью этого метода можно наиболее точно и достоверно определить состояние мягких тканей, а также общее состояние десен и зубов.
  | {{TSENY}}
  +pageSection.container: .content
    +pageSubsection: img(src='/images/banner-implant-adin.jpg' alt='Имплант Adin всего за 12000 рублей' title='Имплант Adin всего за 12000 рублей')
    +pageSubsection
      h2 Почему КТ для имплантации лучше проводить в клинике «Вайт Дент»?
      ul.list-marked
        li
          strong Безопасность.
          |  Для обследования используем компьютерный томограф Galileos Comfort Plus — аппарат с минимально возможной лучевой нагрузкой. Преимущество обусловлено технологией усиления изображения при уменьшении области съемки.
        li
          strong Экономия времени.
          |  Высокоскоростной режим работы томографа позволит получить готовый снимок уже спустя несколько минут, чтобы тут же приступить к планированию имплантации.
        li
          strong Высокая точность:
          |  устройство создает изображение без искажений — залог безошибочного и точного диагноза.
        li
          strong Полный обзор
          |  всех структур на высококачественном хорошо детализованном снимке.
        li
          strong Выгодное соотношение:
          |  КТ челюсти для имплантации и цена (всего 1600 рублей).
        li
          strong Профессиональные диагносты.
          |  Компьютерную 3D-томограмму создают и расшифровывают врачи, которые успешно окончили обучение работе на компьютерном томографе, а также постоянно повышают свой квалификационный уровень во время профессионального усовершенствования.
    +pageSubsection: +figure({ src: 'https://whitedent.spb.ru/images/kt/neobhodimost_kt_pri_implantatsii.jpg', alt: 'Необходимость КТ при имплантации', caption: 'Необходимость КТ при имплантации' })
    +pageSubsection
      h2 В какой период понадобится КТ для имплантации?
      p Компьютерная томография большей частью нужна до начала имплантации и протезирования, но без нее не обойтись и во время ее проведения, а также после.
      p До начала имплантации КТ помогает имплантологу и протезисту выбрать наиболее подходящую тактику установки искусственных корней под дальнейшее протезирование. Особенно важно рассчитать угол наклона имплантов в кости. Ведь от правильности расчета будет зависеть простота протезирования, срок службы импланта и ортопедических конструкций, а также эстетический результат.
      p Компьютерная томография понадобится также на этапе планирования имплантации и протезирования. Позволит составить модель будущего восстановления зубов: смоделировать вариант установки винта в кости, рассчитать наиболее точное направление и местоположение в челюсти. В результате удастся подобрать наиболее подходящие импланты, а также протезы. Ведь главная гарантия качественной установки коронки — КТ.
      p Во время и после имплантации томограмма позволит оценить качество установки винта, рассчитать срок его приживления, вовремя устранить сложности, невидимые невооруженным глазом. Рекомендуем КТ и осмотр после имплантации хотя бы раз в год (для контроля за установленным имплантатом).
      h2 Что показывает КТ при имплантации?
      p На томограмме можно будет четко увидеть ширину, толщину, качество костной ткани, оценить ее объем и структуру. Также снимок позволит обнаружить скрытые заболевания тканей, наличие инородных тел, новообразований (с оценкой их природы: доброкачественной или злокачественной), точно знать расположение гайморовой и других носовых пазух, чтобы не нарушить их целостность в момент имплантации. Очень важна толщина нижней стенки гайморовой пазухи, особенно при имплантировании верхних пятерок и шестерок. При недостаточной толщине кости в этом месте, врач принимает решение делать синус-лифт и наращивает костную ткань в данном месте.
      h2 В чем суть методики?
      p Суть компьютерной томографии при имплантации заключается в сканировании выбранной области обследования рентгеновскими лучами и последующим построением ее трехмерной компьютерной модели на основании снимков, сделанных во всех плоскостях и под разными углами.
    +pageSubsection: +figure({ src: 'https://whitedent.spb.ru/images/kt/etap_kompyuternoy_tomografii.jpg', alt: 'Этап компьютерной томографии', caption: 'Этап компьютерной томографии' })
    +pageSubsection
      h2 Этапы диагностики
      ol.list-numbered
        li Пациенту необходимо вплотную подойти к аппарату, закусить прикусочную пластину, зафиксировать голову в специальном устройстве, прекратить двигаться, пока устройство не завершит работу.
        li Диагност сделает необходимые настройки: выберет область обследования, задаст необходимую мощность устройству. Как только все будет настроено, запустит сканирование.
        li Рамка томографа начнет вращение по кругу: рентгеновские лучи, сгенерированные в ее части, просканируют область обследования, передадут собранную информацию на фиксирующий датчик, который передаст их на компьютер. На этот этап будет затрачено до 20 секунд.
        li Компьютерная программа выполнит обработку снимков, сделанных в заданных плоскостях и под разными углами, после чего построит трехмерную модель обследуемого объекта. На всю диагностику обычно уходит не более 15 минут.
      h2 Противопоказания
      p Беременность и возраст до 6 лет.
