.review-item
  position relative
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items flex-start
  margin -basePadding
  & + &
    margin-top 3rem
  &:before
    content ''
    position absolute
    top 3.75rem
    right 0
    bottom 0
    left 4.25rem
    z-index -1
    background-color #fff
    @media (max-width point-m - 1)
      content none
  &__image
    overflow hidden
    width 17.123287671232877%
    margin basePadding
    background-color #fff
    border-radius .5rem
    box-shadow 1rem 1rem 1rem -.675rem #E0E0E0
    @media (max-width point-l - 1)
      width calc((100% / 12 * 4) - 2rem)
    @media (max-width point-s - 1)
      width calc(100% / 12 * 6)
    & a
      position relative
      &::after
        content ''
        position absolute
        right 1rem
        bottom 1rem
        width 2rem
        height 2rem
        background-image url(../images/zoom-2.svg)
        background-repeat no-repeat
        background-position center
        background-size contain
  &__author
    display grid
    grid-template-areas 'image name' 'image date' 'image .'
    grid-template-columns min-content auto
    grid-template-rows min-content min-content 2fr
    grid-gap .25rem .5rem // @stylint ignore
    padding .875rem .75rem
  &__author-image
    grid-area image
    width 2.125rem
  &__author-name
    grid-area name
    font-size 1.125rem
    color #343A40
  &__date
    grid-area date
  &__info
    position relative
    width 74.315068493150685%
    margin-left 4.25px
    padding (4.875rem + basePadding) (1rem + basePadding) (2rem + basePadding) basePadding
    @media (max-width point-l - 1)
      width calc((100% / 12 * 8) - 2rem)
      padding 0
    @media (max-width point-s - 1)
      width 100%
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 9.216589861751152%
      height 5.175rem
      background-image url('../images/quotes.svg')
      background-repeat no-repeat
      background-position center
      background-size contain
      transform translateX(calc(-100% + 1rem))
      @media (max-width point-m - 1)
        content none
  &__footer
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    margin-x -1rem
    margin-top 1rem
    padding-right 3rem
  &__doctor
    margin-x 1rem
  &__like
    display flex
    align-items center
    margin-left auto
    padding-x 1rem
  &__like-title
    margin-right 1.875rem
  &__like-button
    a
      display flex
      align-items center
      text-decoration none
      &:hover ^[-2]__like-counter
        color #999999
        transition inherit
    svg
      margin-top -.25rem
  &__like-counter
    margin-left .5rem
    color #6b6b6b
    transition inherit
  &__name
    font-family 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
    font-size 1.5rem
    line-height 2.5rem
  &__body
    margin-top 1rem
  &__stars
    display flex
    margin-x -.25rem
    margin-top .25rem
  &__star
    --gradient-stop 0 // @stylint ignore

    width 1rem
    height 1rem
    margin-x .25rem
    background-image linear-gradient(to right, #F15223 var(--gradient-stop), #F9C2B1 var(--gradient-stop))
    mask url(../images/star.svg#star) // @stylint ignore
    mask-type alpha // @stylint ignore
