include /blocks/like-button/like-button

mixin reviewItem(item = {})
  -
    item.settings = item.settings || {}
    const tag = item.settings.tag || 'div'
  #{tag}(class != classes('review-item', item.settings) data-rating= item.rating || 5)
    .review-item__image
      a(href=item.image.original data-glightbox=''): img(src != item.image.preview alt != item.name title != item.name)
      .review-item__author
        if item.gender
          .review-item__author-image
            - const src = item.gender ? `/images/consultation/portrait_${item.gender}.svg` : `/images/consultation/portrait_${item.gender}.svg`
            img(src!= src alt='')
        if item.name
          .review-item__author-name !{item.author}
        .review-item__date !{item.date}
    .review-item__info
      .review-item__name !{item.name}
      .review-item__stars
        - let i = 0
        while i < 5
          .review-item__star
          - i += 1
      .review-item__body
        block
      .review-item__footer
        .review-item__doctor Отзыв о враче: 
          a(href='/') !{item.doctor}
        +likeButton('Полезный отзыв?').review-item__like
