.consultation-list
  &__item
    & + &
      margin-top (basePadding*2)
  &__title
    margin-bottom .625rem
    font-size 1.375rem
    line-height 2rem
  &__info
    margin-top 1rem
    line-height 1.5
    &:only-child
      display flex
