.stages-item
  display grid
  grid-template-columns 1fr
  grid-template-rows min-content 1fr minmax(31px, 64px)
  list-style none
  counter-increment stagesItemCounter
  @media(max-width point-m - 1)
    grid-template-rows min-content 1fr min-content
  &__name
    margin-bottom 1rem
    &::before
      content counter(stagesItemCounter)'. '
  &__image
    margin-top auto
    // @media(min-width point-m)
    //   width 83%
  &__description
    margin-top 0.75rem
    font-size 1rem
    line-height 1.5
  &--not-numbered
    & ^[-1]__name
      &::before
        content none
