mixin stagesItem(item, path)
  .stages-item&attributes(attributes)
    .stages-item__name !{item.name} 
    if item.img
      .stages-item__image.block-marked-image
        .block-marked-image__image
          +img({
            name: item.img,
            path: path,
            formats: [
              { ext: 'jpg', mime: 'image/jpeg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [ { values: [1, 2] }, ],
          })(alt= item.alt title= item.alt)
      p.stages-item__description !{item.alt}
