include /blocks/block-marked/block-marked

mixin consultationQuestion(item)
  -
    let image
    if (item.image) {
      if (item.image === 'm') image = '/images/consultation/portrait_m.svg';
      if (item.image === 'w') image = '/images/consultation/portrait_w.svg';
    }
  +blockMarked({'color': 'grey'}).consultation-question
    if item.body && image
      h2.consultation-question__title Вопрос
      .consultation-question__body: +grid({ padding: 'y', align: 'flex-start' })
        +cell({ l: 3, m: 4, s: 6, xs: 8 }): img(src!= image alt=item.name title=item.name).consultation-question__image
        +cell({ l: 9, m: 8, xs: 12 })
          - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
          +createElement(item.body)
      .consultation-question__info
        if item.author
          .consultation-question__author !{item.author}
        if item.date
          .consultation-question__date !{item.date}
    else if !item.body && image
      .consultation-question__body: +grid({ padding: 'y', align: 'flex-start' })
        +cell({ l: 3, m: 4, s: 6, xs: 8 }): img(src!= image alt=item.name title=item.name).consultation-question__image
        +cell({ l: 9, m: 8, xs: 12 })
          .consultation-question__info
            if item.author
              .consultation-question__author !{item.author}
            if item.date
              .consultation-question__date !{item.date}
    else if item.body && !image
      h2.consultation-question__title Вопрос
      .consultation-question__body: +grid({ padding: 'y' })
        +cell({ xs: 12 })
          - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
          +createElement(item.body)
      .consultation-question__info
        if item.author
          .consultation-question__author !{item.author}
        if item.date
          .consultation-question__date !{item.date}
    else
      .consultation-question__info
        if item.author
          .consultation-question__author  !{item.author}
        if item.date
          .consultation-question__date !{item.date}
