.consultation-question
  z-index 1
  &__image
    display block
    border-radius 1rem
  &__title
    font-size 1.5rem
    line-height 1
  &__body
    font-size 1.125rem
    line-height 2rem
  &__body
  &__info
    &:not(:first-child)
      margin-top 1.25rem
  &__info
    line-height 1.5
  &__author
    font-size 1.125rem
    color #343A40
