include /blocks/page-section/page-section
include /blocks/form-input/form-input

+pageSection.home-form.container: .content
  +grid({ 'justify': 'center' })
    +cell({ l: 6, m: 'hidden', s: 'hidden', xs: 'hidden' }).home-form__image
      +img({
        name: 'home-form',
        formats: [
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
        density: [ { values: [1, 2] }, ],
        path: '/images/',
      })(alt='Записаться на консультацию' title='Записаться на консультацию')
    +cell({ l: 6, m: 8, s: 10,  xs: 12 }).home-form__body
      h2.home-form__header Записаться на консультацию
      p Вы можете написать нам, используя эту форму, или позвонить по телефонам.
      form.home-form__form
        +formInput({ type: 'text', name: 'name', placeholder: 'Ваше имя' })
        +formInput({ type: 'tel', name: 'tel', placeholder: 'Ваше телефон' })
        +formInput({ type: 'textarea', name: 'message', placeholder: 'Дата визита или другая информация' })
        +formInput({ type: 'checkbox', name: 'agreement', label: 'Отправляя эту форму Вы соглашаетесь с условиями Обработки персональных данных', checked: true })#home-form-agreement
        +button()(type='submit').home-form__submit Отправить
