.home-form
  margin-bottom -6.25rem
  background-color #E7F0FF
  &__image
    position relative
    & img
      position absolute
      top 0
      right 1rem
      max-width unset
      height 100%
      object-fit cover // @stylint ignore
      object-position center // @stylint ignore
  &__body
    padding-y 3.25rem
  &__form
    margin-top 2rem
  &__submit
    margin-top 2.5rem
