extends /blocks/layout-services/layout-services

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/figure/figure

block content
  +pageSection.container: .content
    +pageSubsection: +figure({ src: 'https://whitedent.spb.ru/images/kt/kompyuternaya_tomogramma_chelyusti.jpg', alt: 'Компьютерная томограмма челюсти', caption: 'Компьютерная томограмма челюсти' })
    +pageSubsection
      p Компьютерная томография челюсти — это современный метод трехмерной диагностики с помощью минимальных доз рентгеновского излучения.
      p 3D-томография нужна, чтобы:
      ul.list-marked.list-marked--w-prev-par
        li Обнаружить аномалии развития зубочелюстной системы.
        li Выявить заболевания и новообразования верхнечелюстных пазух.
        li Диагностировать травмы, скрытые патологии зубов и челюстных костей.
        li Смоделировать результаты протезирования, имплантации, исправления прикуса.
        li Спланировать лечение и провести контроль его качества.
      h2 Цены на компьютерную томографию зубов
  | {{TSENY}}
  +pageSection.container: .content
    +pageSubsection: img(src='/images/banner-implant-adin.jpg' alt='Имплант Adin всего за 12000 рублей' title='Имплант Adin всего за 12000 рублей')
    +pageSubsection
      h2 Почему томографию зубной челюсти лучше делать в клинике «Вайт Дент»?
      ul.list-marked
        li
          strong Минимум облучения.
          |  Томограф Galileos Comfort Plus, который мы используем, обеспечивает наименьшую дозу облучения, которая только возможна. Такое преимущество обусловлено технологией усиления изображения, а также уменьшением области съемки.
        li
          strong Высокая точность.
          |  Наш аппарат создает изображение без искажений, поэтому вы сможете быть уверены в точности и безошибочности своего диагноза.
        li
          strong Минимум времени.
          |  Даже КТ двух челюстей для ринопластики проводится достаточно быстро: томограф функционирует в высокоскоростном режиме. Поэтому снимок будет готов уже через несколько минут.
        li
          strong Полная визуализация.
          |  Хорошая детализация, высокое качество снимка, на котором представлен полный обзор всех структур зубочелюстной системы.
        li
          strong Врачи высокого уровня квалификации.
          |  Обследование проводят специалисты, которые успешно завершили обучение работе на томографе.
        li
          strong Оптимальное сочетание:
          |  компьютерная томография (кт) челюсти и цена всего в 1600 рублей.
      h2 Компьютерная томография: суть, этапы и результат
      p Принцип создания трехмерного снимка заключается в следующем: рентгеновские лучи сканируют челюстные структуры, информация передается на фиксирующий детектор, а потом преобразуется на компьютере.
      h2 Этапы обследования
      ol.list-numbered
        li Нужно подойти вплотную к томографу, прикусить самый край прикусной пластины.
        li Прежде чем сделать КТ челюсти, врач задаст параметры сканирования: настроит аппарат на обследование нижней, верхней или обеих челюстей, запрограммирует временной интервал. Как только все будет настроено, специалист выходит из кабинета и запустит томограф дистанционно, контролируя процесс по видеомонитору.
        li Рамка аппарата начнет вращаться вокруг головы пациента, издавая звуковой сигнал. Лучи, сгенерированные в лучевых трубках, просканируют зубочелюстную систему, собранная информация сохранится на принимающем датчике. На этот этап уходит не больше 20 секунд.
        li На основе снимков, сделанных в трех осях и во всех слоях, компьютер построит модель в трехмерном пространстве. Результат сохранится на жестком диске, а также создается копия на СД, который выдается на руки пациенту. Вся процедура длится не больше 10-12 минут.
      h2 Зачем проводить компьютерную томографию?
      p КТ нужна, чтобы:
      ul.list-marked.list-marked--w-prev-par
        li обнаружить скрытые процессы, опухоли, воспаление, травмы и переломы, непрорезавшиеся зубы, ЛОР-болезни;
        li диагностировать аномалии строения, развития зубочелюстной системы;
        li узнать состояние костной ткани перед имплантацией и другими процедурами;
        li оценить качество пломбировки, установки имплантатов и коронок;
        li обнаружить патологии челюстных суставов;
        li провести полное обследование перед стоматологическими и челюстно-лицевыми операциями.
      +figure({
        src: 'https://whitedent.spb.ru/images/kt/v_processe_kompyuternoj_tomografii.jpg',
        alt: 'В процессе КТ челюсти',
        caption: 'В процессе КТ челюсти'
      })
      h2 Преимущества томографии
      p Обследование на компьютерном томографе существенно превосходит другие методы рентгенодиагностики.
      p С помощью томографа создается трехмерный снимок, а стандартные методы рентгенографии позволяют получить изображение только в одной плоскости.
      p 3D-снимок позволяет рассмотреть зубочелюстную систему с любой стороны, во всех плоскостях и под разными углами, в то время как результатом других методов диагностики является статичный снимок.
      p На снимках, созданных разными методами рентгенодиагностики, объект искажается по величине и по конфигурации, чего не происходит при трехмерном обследовании: объект сканируется «один к одному».
