include /blocks/block-marked/block-marked

+blockMarked().consultation-ask-panel
  +grid({'par-like':true, 'padding-y': true, 'align': 'center'})
    +cell({ m: 8, xs: 12 })
      h2 Есть вопросы?
      p Задайте вопрос на сайте врачам клиники.
      p Если у вас острая боль или срочный вопрос, звоните: +7 (812) 612-97-92
      p Работаем пн-пт с 11:00 до 21:00, сб с 11 до 18
    +cell({ m: 4, xs: 12 }).consultation-ask-panel__right
      a(href='/konsultatsiya/ask.html').button.consultation-ask-panel__button Задать вопрос консультанту
