.table-price
  height auto
  & + &
    margin-top 3rem 
  &--padding-right
    @media (min-width point-l)
      position relative
      border-radius .5rem 0 0 .5rem
      &::after
        content ''
        position absolute
        top 0
        right -6.25rem
        width 6.25rem
        height 100%
        background-color #ffffff
        border-radius 0 .5rem .5rem 0
  &__header
    margin-bottom 1rem
    font-size 1.5rem
    font-weight 500
    line-height 2rem
    color #343A40
  @supports (display grid) and (display contents)
    &__body
      display grid
      grid-template-columns 1fr min-content min-content
      @media (max-width point-m - 1)
        grid-template-columns 1fr
    &__row
      display contents
      @media (max-width point-m - 1)
        display grid
        grid-template-rows auto auto
      &--header ^[-1]__name
        grid-column 1 / 4
      &--discount
        @media (max-width point-m - 1)
          display grid
          grid-template-rows auto auto
          grid-template-columns min-content min-content 1fr
          grid-column-gap 2rem
        & ^[-2]__name
          grid-column 1 / 2
          @media (max-width point-m - 1)
            grid-column 1 / 4
    &__name
      grid-column 1 / 3
  @supports not ((display grid) or (display contents))
    &__row
      display flex
    &__value
      width min-content
  &__row--header
    & ^[-1]__name
      font-weight 500
      color #343a40
  &__row + &__row
    & ^[-1]__name
      border-top 1px solid #E0E0E0
    & ^[-1]__value
      @media (min-width point-m)
        border-top 1px solid #E0E0E0
  &__row--highlighted
    & ^[-1]__name
    & ^[-1]__value
      position relative
      background-color #e7f0ff
    @media (min-width point-m - 1)
      & ^[-1]__name::before
        content ''
        position absolute
        top 0
        left -1rem
        width 1rem
        height calc(100% + 1px)
        background-color #e7f0ff
        border-bottom 1px solid #E0E0E0
      & ^[-1]__value::after
        content ''
        position absolute
        top 0
        right -1rem
        width 1rem
        height calc(100% + 1px)
        background-color #e7f0ff
        border-bottom 1px solid #E0E0E0
      ^[-1]__row + &
        & ^[-2]__name::before
        & ^[-2]__value::after
          top -1px
          height calc(100% + 2px)
          border-top 1px solid #E0E0E0
  &__name
    padding-y 1rem
    font-size 1.125rem
    color #646464
  &__value
    padding-bottom 1rem
    font-size 1.125rem
    font-weight 500
    text-align right
    white-space nowrap
    color #343A40
    @media (min-width point-m)
      padding-y 1rem
      padding-left 2rem
    &--old
      font-weight normal
      text-decoration line-through
      color unset
  &__footer
    display flex
    flex-wrap wrap
    justify-content space-between
    margin .75rem 0 .25rem
    padding-top 1.25rem
    border-top 1px solid #E0E0E0
  &__clarification
  &__more
    margin-y .25rem
  &__clarification
    margin-right 2rem
