include /blocks/block-marked/block-marked

mixin tablePrice(list, settings = {})
  -
    const header = settings.header || false
    const footer = settings.footer || false
    if (header) delete settings.header
    if (footer) delete settings.footer
  +blockMarked()(class!= classes('table-price', settings))&attributes(attributes)
    if header
      .table-price__header !{header}
    .table-price__body
      each item in list
        if item.value
          .table-price__row(class != `${item.old ? 'table-price__row--discount' : ''}`)
            .table-price__name !{item.name}
            if item.old
              .table-price__value.table-price__value--old !{item.old} ₽
            .table-price__value !{item.value} ₽
        else
          .table-price__row.table-price__row--header
            .table-price__name !{item.name}
    if footer
      .table-price__footer
        .table-price__clarification Здесь представлены только некоторые базовые позиции.
        .table-price__more: a(href='/ceny/') Смотреть все цены
