.list-marked
  parMargin()
  font-size 1.125rem
  line-height 2rem
  list-style none
  &--w-prev-par // для списка, связанного с предыдущим абзацем
    p + &
      margin-top (.875rem / 3)
  > li
    padding-left 1.25rem
    background-image url(../images/bullit.svg)
    background-repeat no-repeat
    background-position left .675rem
    background-size .75rem
    & + li
      margin-top .75rem
    &.grid__cell
      padding-left 3rem
      background-position 1rem 1.375rem
      & + li
        margin-top 0
  &.grid--padding-small > .grid__cell
    padding-left 2.5rem
    background-position .5rem .875rem
  &--check
    > li
      padding-left 2rem
      background-image url(../images/check.svg)
  &--arrow
    > li
      padding-left 2rem
      background-image url(../images/arrow-marker.svg)
      background-position left .375rem
  &--column-2
    @media(min-width point-m)
      column-count 2
