mixin iframeResponsive(src, description)
  .iframe-responsive
    .iframe-responsive__iframe
      iframe(src= src allowfullscreen)
    if description
      .iframe-responsive__desc !{description}

mixin youtubeResponsive(settings)
  - let src = 'https://www.youtube.com/embed/' + settings.id
  +iframeResponsive(src, settings.desc)
