extends /blocks/layout-services/layout-services

include /blocks/breadcrumbs/breadcrumbs
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/block-marked/block-marked
include /blocks/figure/figure

block content
  +pageSection.container: .content
    +pageSubsection: +figure({ src: '/images/kt/dentalnaya_komputernaya_tomogramma.jpg', alt: 'Дентальная компьютерная томограмма', caption: 'Дентальная компьютерная томограмма' })
    +pageSubsection
      p Трехмерная дентальная компьютерная томография — это рентгеновский метод обследования с минимально возможной лучевой нагрузкой, позволяющий получить объемное изображение всей зубочелюстной системы.
      p Компьютерная томография необходима, чтобы:
      ul.list-marked.list-marked--w-prev-par
        li Оценить расположение зубов, их форму, величину, установить необходимость исправления прикуса и создать модель его коррекции.
        li Изучить строение, состояние и аномалии развития зубочелюстной системы.
        li Проверить толщину костной ткани, спланировать имплантацию, протезирование, лечение.
        li Оценить качество лечения.
        li Обнаружить скрытые болезни и патологии, установить точную причину заболеваний, дифференцировать их.
  | {{TSENY}}
  +pageSection.container: .content
    +pageSubsection: img(src='/images/banner-implant-adin.jpg' alt='Имплант Adin всего за 12000 рублей' title='Имплант Adin всего за 12000 рублей')
  +pageSection.container: .content
    h2 Почему проводить томографию зубов лучше в нашей клинике?

    p Компьютерная томография (КТ) в стоматологии «Вайт Дент» — это сплошные преимущества:
    ol.list-numbered.list-numbered--w-prev-par
      li
        strong Точность.
        |  Томограф Galileos Comfort Plus, который мы используем, позволяет получить снимок без искажений, поэтому безошибочность диагноза обеспечена.
      li
        strong Минимум облучения.
        |  Лучевая нагрузка нашего томографа минимальная по сравнению с другими аппаратами и методами обследования. Преимущество обусловлено уменьшением области съемки и технологией усиления изображения.
      li
        strong Возможность сканирования гайморовых пазух
        |  дает возможность нашим специалистам безошибочно определить необходимость операции синус-лифта при имплантировании в пограничных с гайморовой пазухой областях.
      li
        strong Сканирование полости носа
        |  и гайморовых пазух дает возможность своевременно направлять пациентов к ЛОР-докторам (при обнаружении сопутствующих патологий).
      li
        strong Полный обзор
        |  происходящего в зубочелюстной системе благодаря снимку высокого качества и хорошей детализации.
      li
        strong Скорость обследования.
        |  Работа томографа в высокоскоростном режиме позволяет создавать снимок всего за несколько минут.
      li
        strong Высококвалифицированные диагносты.
        |  Обследование проводят врачи, успешно окончившие обучение работе на томографе.
      li
        strong Выгодное соотношение:
        |  трехмерная КТ зубочелюстная и цена (1600 рублей). КТ с гайморовыми пазухами обойдется пациентам всего в 2000 рублей. Следите за нашими акционными предложениями: вы сможете пройти диагностику по скидке.
      li
        strong В нашей клинике возможно заказать описание КТ различных областей.
        |  Стоимость данной услуги 1000 рублей, сроки исполнения — 3 рабочих дня.
  +pageSection.container: .content
    +pageSubsection
      h2 Суть, этапы, результат и преимущества КТ зубов
      p Суть обследования на томографе заключается в следующем: рентгеновские лучи сканируют обследуемую область, информацию принимает фиксирующий датчик, после чего передает ее на компьютер. Компьютерная программа обрабатывает множество изображений, созданных под разными углами, после чего выполняет построение модели в трехмерном пространстве.
    +pageSubsection: +figure({ src: '/images/kt/v_processe_dentalnoy_tomografii.jpg', alt: 'В процессе дентальной томографии', caption: 'В процессе дентальной томографии' })
  +pageSection.container: .content
    h2 Этапы исследования
    ol.list-numbered
      li Пациент надевает защитный фартук.
      li Вплотную приближается к аппарату, подбородок помещает на специальную подставку и не двигается до конца исследования (около 10-15 секунд).
      li Диагност вводит необходимые параметры: задает временной интервал, желаемый результат, выбирает область обследования. После завершения настроек запускает сканирование.
      li Рамка, внутри которой сгенерированы рентгеновские лучи, начинает оборачиваться по кругу и подавать звуковой сигнал. Вся собранная информация собирается в принимающем датчике. Этот этап длится не более 10-15 секунд.
      li Компьютерная программа обработает изображения, полученные во всех осях и слоях, создаст 3D-снимок. Результат будет распечатан в виде ортопантограммы, а также сохранится на жестком диске. На всю диагностику, до выдачи результата на руки, будет затрачено не более 15 минут.
  +pageSection.container: .content
    h2 Результат исследования
    p На снимке будет видно:
    ul.list-marked.list-marked--w-prev-par
      li Новообразования и их природа, воспаление, инородные тела, нарушение целостности структур в результате травм, скрытые патологические очаги.
      li Зачатки зубов, непрорезавшиеся, сверхкомплектные зубы.
      li Качество установки имплантатов, протезов и пломб.
      li Осложнения вследствие непрофессионального лечения: кисты, гранулемы и другие патологии.
  +pageSection.container: .content
    h2 Преимущества метода
    p По сравнению с другими методами рентгенодиагностики, дентальная томография существенно превосходит их по ряду следующих причин.
    p Результатом обследования классическими методами рентгенодиагностики является снимок в одной плоскости, в то время как конусно-лучевая компьютерная томография позволяет построить модель обследуемого объекта в трехмерном пространстве.
    p 3D-снимок позволяет рассмотреть зубочелюстную систему в любой плоскости, под разными углами и с разных сторон, в то время как стандартные методы рентгенодиагностики позволяют создавать только статические снимки.
    p Вероятность искажения на компьютерной 3D-томограмме исключена, потому что обследуемый объект сканируется по принципу «один к одному». Другие же методы диагностики приводят к неизбежному искажению исследуемого объекта по конфигурации и величине.
    p Данное исследование дает возможность снимать различные, необходимые в диагностике, размеры, позволяющие определить, например, размеры кисты в долгосрочной перспективе, определить положительную или отрицательную динамику лечения кисты. Проводить на компьютерной модели виртуальную установку имплантатов различных систем и размеров, что позволяет подобрать имплантационную систему персонально для данного пациента, персонально выбрать необходимый размер (толщину и длину) имплантата.
