mixin articleItem(item = {}, settings = {})
  - const className = classes('article-item', settings)
  a(href='/' class=className)&attributes(attributes)
    .article-item__image: img(src!= item.image alt!= item.name title!= item.name)
    .article-item__name !{item.name}
