.article-item
  position relative
  display block
  overflow hidden
  font-size 1rem
  line-height 1.5rem
  text-decoration none
  color #0A125B
  border-radius .5rem
  &:hover
    color #536DFB
  &__image
    position relative
    padding-top 66.6666666%
  &__image img
    position absolute
    top 0
    left 50%
    display block
    max-width 100%
    max-height 100%
    border-radius .5rem
    transform translateX(-50%)
  &__name
    position absolute
    bottom 0
    left 0
    width 100%
    padding 1rem 1.25rem
    background-color rgba(255, 255, 255, .5)
    border-radius 0 0 .5rem .5rem
    backdrop-filter blur(8px)
