mixin countdown(date, positions)
  
  -
    positions = positions || ['days', 'hours', 'minutes', 'seconds']
    positionNames = {
      'days': 'дней',
      'hours': 'часов',
      'minutes': 'минут',
      'seconds': 'секунд',
    }
  .countdown&attributes(attributes)(data-countdown != date)
    each pos in positions
      .countdown__position
        div(class != `countdown__digits--${pos}`).countdown__digits
        span !{positionNames[pos]}
