.countdown
  parMargin()
  
  display flex
  justify-content center
  margin-x -(basePadding / 4)
  &__position
    display flex
    flex-direction column
    align-items center
    padding-x (basePadding / 4)
  &__digits
    display flex
  &__digit
    margin-x (basePadding / 4)
    padding .5rem .375rem
    font-size font-xxxl
    color #ffffff
    background-color #536dfb
