mixin linkIcons(list = [])
  -
    links = {
      vk: 'https://vk.com/spbdent',
      facebook: '/',
      instagram: 'https://www.instagram.com/whitedent_spb/',
      'moy-mir': '/',
      odnoklassniki: '/',
      skype: '/',
      telegram: '/',
      twitter: '/',
      viber: '/',
      whatsapp: '/',
    }
  .link-icons&attributes(attributes)
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
