.link-icons
  parMargin()
  display flex
  flex-wrap wrap
  align-items center
  margin -.25rem
  &__link
    display block
    height 0
    margin .25rem
    padding 1rem
    background-repeat no-repeat
    background-position center
    background-size contain
    transition opacity .4s
    &--vk
      background-image var(--vk)
    &--facebook
      background-image var(--facebook)
    &--instagram
      background-image var(--instagram)
    &--moy-mir
      background-image var(--moy-mir)
    &--odnoklassniki
      background-image var(--odnoklassniki)
    &--skype
      background-image var(--skype)
    &--telegram
      background-image var(--telegram)
    &--twitter
      background-image var(--twitter)
    &--viber
      background-image var(--viber)
    &--whatsapp
      background-image var(--whatsapp)
    &:hover
      opacity .875
      transition opacity .1s
