mixin likeButton(title)
  .like-button&attributes(attributes)
    .like-button__title !{title}
    .like-button__button: a(href='#')
      svg(xmlns='http://www.w3.org/2000/svg' width='25.653' height='24' viewBox='0 0 25.653 24'): use(href='/images/like.svg#reviewItemLike')
      .like-button__counter 33
