.like-button
  display flex
  align-items center
  &__title
    margin-right 1.875rem
  &__button
    a
      display flex
      align-items center
      text-decoration none
      &:hover ^[-2]__like-counter
        color #999999
        transition inherit
    svg
      margin-top -.25rem
    &--inactive a
      color inherit
      cursor default
  &__counter
    margin-left .5rem
    color #6b6b6b
    transition inherit
