include /blocks/block-marked/block-marked

mixin blockIcon(item, settings = {})

  -
    settings.tag = settings.tag || 'div'
  +blockMarked({ tag: settings.tag })(class!= classes('block-icon', settings))&attributes(attributes)
    .block-icon__title !{item.title}
    if block
      .block-icon__body
        block
