.block-icon
  font-size 1rem
  line-height 1.5rem
  box-shadow 0 1rem 2rem 0 #E0E0E0
  &.block-marked
    display flex
    flex-wrap wrap
  &__title
    display flex
    align-items center
    align-self center
    min-height 2rem
    padding-left 3.875rem
    font-size 1.125rem
    line-height 1.5rem
    color #343A40
    background-repeat no-repeat
    background-position left top
  a& &__title
    color inherit
  p
    font-size inherit
    line-height inherit
  &__body
    margin-top .675rem
  &--discount &__title
    background-image url(../images/discount.svg)
  &--credit &__title
    min-height 2.375rem
    background-image url(../images/credit.svg)
    background-size 2.875rem
    @media (min-width point-m)
      background-position left .25rem
  &--no-hidden &__title
    min-height 2.5rem
    background-image url(../images/no-hidden.svg)
  &--money-back &__title
    min-height 3.375rem
    background-image url(../images/money-back.svg)
    background-position left top .25rem
  &--time.block-marked
    width max-content
    max-width 100%
    padding-right 3rem
  &--time &__title
    padding-left 2.5rem
    background-image url(../images/time.svg)
    background-position left center
  &--translate
    @media (min-width point-m)
      transform translateY(-2rem)
