.header
  &__top
    padding-y basePadding
  &__logo
    display flex
    flex-direction column
    align-items center
  &__logo a
    display block
    width 14.5rem
    max-width 100%
    padding-bottom 41.3793103448276%
  &__name
    font-family 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
    font-size 1.25rem
    line-height 1.6
    @media (max-width point-l - 1)
      margin-top .25rem
      font-size 1.125rem
      line-height 1.25
      text-align center
    @media (max-width point-m - 1)
      font-size .75rem
    @media (max-width point-s - 1)
      font-size .625rem
  &__contacts
    padding-left (basePadding + 2rem)
  &__address
    font-size 1.125rem
    line-height 1.5rem
  &__schedule
    font-size .875rem
    font-weight 500
    line-height 1.5rem
  &__phone
    display block
    font-size 1.5rem
    font-weight 500
    line-height 2rem
    text-align right
    @media (max-width point-m - 1)
      font-size 1.125rem
    @media (max-width point-s - 1)
      font-size 1rem
  &__call
    display block
    line-height 2rem
    text-align right
    letter-spacing .55px
    @media (max-width point-m - 1)
      font-size .8125rem
  &__search
    align-self stretch
  &__menu
    @media (min-width point-l)
      flex-grow 1
      width auto
  &__button.grid__cell
    @media (min-width point-l)
      flex-shrink 1
      width fit-content
  &__button > .button
    line-height 1.5
    text-align center
    @media (max-width point-l - 1)
      width 100%
      height 100%
      padding-x .75rem
      font-size 1rem
      line-height 1.5
  &__call-mobile
    display none
