.header
  &__logo a
    background-image var(--logo)
    background-repeat no-repeat
    background-position center
    background-size contain
  &__contacts
    text-decoration none
    color inherit
    background-image var(--pin)
    background-repeat no-repeat
    background-position basePadding center
    background-size 1.25rem
    &:hover
      color inherit
      background-image var(--pin)
      opacity .75
  &__phone
    text-decoration none
    color #2b2b2b
    &:hover
      color #646464
  &__call
    color #0A125B
    &:hover
      color #646464
  &__navigation
    background-color #E7F0FF
    border-radius .5rem
    &--fixed
      @media (max-width point-m - 1)
        position fixed
        top 0
        right basePadding
        left basePadding
        z-index 1000
        & .header-navigation-mobile__button span
          display none
        & .header__call-mobile
          display flex
  &__call-mobile
    justify-content center
    align-items center
    text-align center
    &.grid__cell
      padding-x 1rem
    svg
      display block
      height 2rem
      max-height 100%
