header.header.container: .content
  +grid({ padding: 'y', align: 'center' }).header__top
    +cell({ l: 3, m: 4, xs: 5 }).header__logo
      a(href='/')
      .header__name.hidden-hd.hidden-xl.hidden-l Клиника эстетической стоматологии
    +cell({ l: 3, m: 'hidden', s: 'hidden', xs: 'hidden' })
      .header__name Клиника эстетической стоматологии
    +cell({ tag: 'a', l: 3, m: 4, s: 'hidden', xs: 'hidden' }).header__contacts
      .header__address ул. Нахимова, д. 7, корп. 2 (метро Приморская)
      .header__schedule пн.-пт. 11:00-21:00, сб. 11:00-18:00
    +cell({ l: 3, m: 4, s: 6, xs: 7 })
      a(href='tel:+7 (812) 612-97-92').header__phone +7 (812) 612-97-92
      a(href='#').header__call получить обратный звонок
  +grid({ nopadding: true, align: 'center' }).header__navigation
    if !homePage
      +cell({ l: 2, m: 'hidden', s: 'hidden', xs: 'hidden' }): include /blocks/header-services/header-services
    +cell({ l: homePage ? 3 : 1, m: 'hidden', s: 'hidden', xs: 'hidden' }).header__search: include /blocks/header-search/header-search
    +cell({ l: 'auto', m: 'hidden', s: 'hidden', xs: 'hidden' }).header__menu.js-header-menu
    +cell({ hd: 'hidden', xl: 'hidden', l: 'hidden', m: 6, s: 6, xs: 5 }).header__mobile-navigation: include /blocks/header-navigation-mobile/header-navigation-mobile
    +cell({ hd: 'hidden', xl: 'hidden', l: 'hidden', m: 4, s: 4, xs: 3 }).header__call-mobile: a(href='tel:+7 (812) 612-97-92').header__call-icon <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M415.9,335.5c-14.6-15-56.1-43.1-83.3-43.1c-6.3,0-11.8,1.4-16.3,4.3c-13.3,8.5-23.9,15.1-29,15.1c-2.8,0-5.8-2.5-12.4-8.2  l-1.1-1c-18.3-15.9-22.2-20-29.3-27.4l-1.8-1.9c-1.3-1.3-2.4-2.5-3.5-3.6c-6.2-6.4-10.7-11-26.6-29l-0.7-0.8  c-7.6-8.6-12.6-14.2-12.9-18.3c-0.3-4,3.2-10.5,12.1-22.6c10.8-14.6,11.2-32.6,1.3-53.5c-7.9-16.5-20.8-32.3-32.2-46.2l-1-1.2  c-9.8-12-21.2-18-33.9-18c-14.1,0-25.8,7.6-32,11.6c-0.5,0.3-1,0.7-1.5,1c-13.9,8.8-24,20.9-27.8,33.2c-5.7,18.5-9.5,42.5,17.8,92.4  c23.6,43.2,45,72.2,79,107.1c32,32.8,46.2,43.4,78,66.4c35.4,25.6,69.4,40.3,93.2,40.3c22.1,0,39.5,0,64.3-29.9  C442.3,370.8,431.5,351.6,415.9,335.5z"/></svg>
    +cell({ l: 'auto', m: 6, s: 6, xs: 7 }).header__button: +button({ tag: 'a' })(href='#').discount-form-open Записаться
      span  на приём
