.menu-services
  @media (min-width point-l)
    --sub-width 900px // @stylint ignore
    --sub-min-height 0// @stylint ignore
    background-color #fff
    &__item
      &:hover > ^[-1]__sublist--1
        transform translateX(100%) scaleX(1)
        pointer-events auto
    &__item:not(&__item--sub) > a
      text-decoration none
      color #646464
      &:hover
        color #536DFB
        background-image linear-gradient(to right, rgba(#536DFB, .2), rgba(#fff, .2) 2.5rem)
        &::before
          content ''
          position absolute
          top 0
          bottom 0
          left 0
          width .25rem
          background-color #536DFB
          border-radius 0 .25rem .25rem 0
    &__item--active:not(&__item--sub) > a
      color #536DFB
    &__item--sub-1
      width calc((100%) / 3)
      padding 1rem
    &__item--sub-1 > a
      font-size 1.125rem
      font-weight 500
      line-height 1.5
      text-decoration none
      color #343A40
      &:hover
        color #536DFB
    &__item--sub-1&__item--active > a,
    &__item--sub-2&__item--active > a
      color #536DFB
    &__item--sub-2
      padding-y .25rem
    &__item--sub-2 > a
      font-size 1rem
      line-height 1.5
      text-decoration none
      color #646464
      &:hover
        color #536DFB
    &__sublist
      &--1
        --sub-height 0 // @stylint ignore
        --sub-top 0 // @stylint ignore

        position absolute
        top 0
        right 0
        z-index 600
        display flex
        flex-direction column
        flex-wrap wrap
        align-content flex-start
        width var(--sub-width)
        height calc(var(--sub-height) + 32px)
        min-height var(--sub-min-height)
        padding .375rem 1rem
        background-color #ffffff
        box-shadow 1.25rem .765rem 1.875rem rgba(#646464, .4)
        transform translateX(100%) scaleX(0)
        transform-origin 0
