.menu-services
  @media (min-width point-l)
    position relative
    z-index 999
    width 100%
    height 100%
    padding-top .25rem
    padding-bottom .5rem
    &--loading
      & ^[-1]__sublist--1
        transform translateX(100%)
        opacity 0
        pointer-events none
    &__item:not(&__item--sub) > a
      position relative
      display block
      padding .375rem 1.5rem .375rem 2.5rem
      font-size 1.125rem
      line-height 1.5
    &__sublist
      &--1
        --sub-height 0 // @stylint ignore
        --sub-top 0 // @stylint ignore

        position absolute
        top 0
        right 0
        z-index 600
        transform translateX(100%) scaleX(0)
        pointer-events none
