.text-marked
  font-size 1.375rem
  color #343a40
  a&
  a & // @stylint ignore
    text-decoration none
    color #0A125B
  a&:hover
  a:hover & // @stylint ignore
    color #536DFB
  &--size-s
    font-size 1rem
    color inherit
