.menu-service
  &__list
    display grid
    grid-template-columns repeat(2, 1fr)
    @media(max-width point-m - 1)
      grid-template-columns 1fr
  &__item
    &--parent
      a
        margin-bottom 1rem
    &:not(^[0]__item--sub)
      padding 2rem
      border-bottom 1px solid #f6f6f6
      @media(min-width point-m)
        border-right 1px solid #f6f6f6
        &:nth-child(2n)
          border-right none
      & > a
        display block
        font-size 1.25rem
        color #646464
        text-decoration none
        &:hover
          color #536dfb
    &--sub
      & > a
        &:hover
          color #536dfb
    &--sub-1
      margin-top 0.5rem
      padding-left 0.5rem
      opacity var(--sublist-opacity)
      & > a
        font-weight 500
        color #343a40
        text-decoration none
        @media(min-width point-s)
          font-size 1.125rem
    &--sub-2
      padding-left 1.25rem
  &__sublist--2
    display flex
    flex-direction column
    gap 0.25rem
    padding-top 0.25rem
    @media(max-width point-s - 1)
      padding-left 1rem
