.header-search
  &__open
    position relative
    z-index 2
    display flex
    justify-content flex-end
    align-items center
    width 100%
    height 100%
    padding-y .75rem
    padding-right 1.5rem
    padding-left 1rem
    color #343A40
    background-color transparent
    border none
    cursor pointer

    ^[-1]--active &
      z-index 1
  &__form
    position absolute
    top 0
    z-index 1
    background-color #E7F0FF
    border-radius .5rem 0 0 .5rem
    transform scaleX(0)
    transform-origin right center
    transition opacity .4s, transform .1s
    transition-delay 0s, .4s
    pointer-events none
    ^[-1]--active &
      z-index 2
      opacity 1
      transform scaleX(1)
      transition opacity .1s
      pointer-events auto
  &__input
    position relative
    z-index 1
    transform translateX(4rem)
    transform-origin right center
    transition transform .4s

    ^[-1]--active &
      transition transform .1s
      transform translateX(0)
    .form-input__field
      max-height 100%
      padding .25rem
      padding-left .5rem
      background-color #fff
      background-image none
      border-radius .25rem 0 0 .25rem
      &:focus
        outline none
  &__submit
    position relative
    z-index 2
    display flex
    align-items center
    padding-y .5rem
    padding-right .6875rem
    padding-left 0
    color #838383
    background-color #fff
    border none
    border-radius 0 .25rem .25rem 0
    &:hover
      color #343A40
    &:active
      color inherit
  &__close
    position relative
    z-index 1
    display flex
    align-items center
    height 100%
    padding .75rem
    padding-right 0
    color #838383
    background-color #fff
    border none
    border-radius .25rem 0 0 .25rem
    transform translateX(4rem)
    transform-origin right center
    transition transform .4s
    &:hover
      color #343A40
    &:active
      color inherit
    & svg
      opacity 0
      transition opacity .4s
    ^[-1]--active &
      transition transform .1s
      transform translateX(0)
      & svg
        opacity 1
        transition opacity .4s
        transition-delay .1s
  &--no-open
    & ^[-1]__form
      position relative
      width calc(100% + .75rem)
      opacity 1
      transform none
      pointer-events auto
    & ^[-1]__input
      border-radius .25rem 0 0 .25rem
      opacity 1
      transform none
    & ^[-1]__submit
      opacity 1
      transform none
    & ^[-1]__close
      display none
