.header-search
  position relative
  height 100%
  padding-x basePadding
  &__form
    right basePadding
    z-index 1
    display flex
    overflow hidden
    align-items stretch
    height 100%
    padding .75rem
    border-radius .5rem 0 0 .5rem
    opacity 0
  &__input
    position relative
    z-index 1
    transform translateX(4rem)
    transform-origin right center
    .form-input__field
      max-height 100%
      padding .25rem
      padding-left .5rem
      border-radius .25rem 0 0 .25rem
  &__submit
    position relative
    z-index 2
    display flex
    align-items center
    padding-y .5rem
    padding-right .6875rem
    padding-left 0
    border none
  &--no-open
    & ^[-1]__form
      position relative
      width calc(100% + .75rem)
      opacity 1
      transform none
      pointer-events auto
    & ^[-1]__input
      opacity 1
      transform none
    & ^[-1]__submit
      opacity 1
      transform none
    & ^[-1]__close
      display none
