-
  var consCategories = [
    { name: 'Лечение зубов', count: '69' },
    { name: 'Протезирование зубов', count: '95' },
    { name: 'Имплантация зубов', count: '50' },
    { name: 'Отбеливание зубов', count: '79' },
    { name: 'Исправление прикуса', count: '801' },
  ]
