-
  mainMenu = [
    { name: 'О клинике', href: '/about.html', active: true, sublist: [
        { name: 'Акции', href: '/akcii.html', active: true },
        { name: 'Лицензии', href: '/licenzii.html' },
        { name: 'Наши работы', href: '/nashi-raboty.html' },
        { name: 'Оборудование', href: '/oborudovanie.html' },
        { name: 'Вакансии', href: '/vakansii.html' },
        { name: 'Обращение директора', href: '/obrashchenie-generalnogo-direktora.html' },
      ] },
    { name: 'Цены', href: '/ceny.html' },
    { name: 'Врачи', href: '/vrachi.html' },
    { name: 'Отзывы', href: '/otzivi.html' },
    { name: 'Пациентам', href: '/', sublist: [
        { name: 'Налоговый вычет', href: '/nalogovyy-vychet.html' },
        { name: 'Правовая информация', href: '/pravovaya-informaciya.html' },
        { name: 'Варианты оплаты', href: '/varianty-oplaty.html' },
        { name: 'Добровольное медицинское страхование', href: '/dobrovolnoe-medicinskoe-strahovanie.html' },
        { name: 'Статьи', href: '/articles.html' },
        { name: 'Консультация', href: '/konsultatsiya.html' },
      ] },
    { name: 'Контакты', href: '/kontakty.html' },
  ]
