-
  services = [
    { name: 'Протезирование', href: '/lechenie-zubov.html', active: true, sublist: [
        {name: 'Зубные коронки', href: '/lechenie-kariesa.html', sublist: [
            { name: 'Металлокерамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Керамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Циркониевые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Временные коронки', href: '/lechenie-kariesa.html', active: true },
            { name: 'Коронки из диоксида циркония', href: '/lechenie-kariesa.html' },
            { name: 'Пластмассовые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Коронки на передние зубы', href: '/lechenie-kariesa.html' },
            { name: 'Металлические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Безметалловая керамика', href: '/lechenie-kariesa.html' },
            { name: 'Установка коронки на зуб', href: '/lechenie-kariesa.html' },
          ]},
        {name: 'Зубные вкладки', href: '/', sublist: [
            { name: 'Зубные вкладки', href: '/' },
            { name: 'Культевая вкладка', href: '/' },
            { name: 'Керамическая вкладка', href: '/' },
            { name: 'Вкладка под коронку', href: '/' },
          ]},
        {name: 'Зубные протезы', href: '/', sublist: [
            { name: 'Установка зубных протезов', href: '/' },
          ]},
        {name: 'Съемные протезы', href: '/', sublist: [
            { name: 'Акриловый протез', href: '/' },
            { name: 'Бюгельные зубные протезы в СПб', href: '/' },
            { name: 'Частично съемный протез', href: '/' },
            { name: 'Гибкие протезы', href: '/' },
            { name: 'Металлокерамические протезы', href: '/' },
            { name: 'Мягкие протезы', href: '/' },
            { name: 'Нейлоновый протез', href: '/' },
            { name: 'Пластмассовые протезы', href: '/' },
            { name: 'Полные протезы', href: '/' },
            { name: 'Протез «Бабочка»', href: '/' },
            { name: 'Протезы Acry Free', href: '/' },
            { name: 'Протезы без нёба', href: '/' },
            { name: 'Протезы на один зуб', href: '/' },
            { name: 'Съемное протезирование', href: '/' },
            { name: 'Силиконовые протезы', href: '/' },
            { name: 'Вставная челюсть', href: '/' },
            { name: 'Протезы без нёба', href: '/' },
            { name: 'Протезы на один зуб', href: '/' },
            { name: 'Съемное протезирование', href: '/' },
            { name: 'Силиконовые протезы', href: '/' },
            { name: 'Вставная челюсть', href: '/' },
          ]},
        { name: 'Несъемные зубные протезы', href: '/', sublist: [
            { name: 'Несъемное протезирование', href: '/' },
            { name: 'Металлокерамический мост', href: '/' },
            { name: 'Зубной мост', href: '/' },
            { name: 'Мостовидные протезы', href: '/' },
            { name: 'Балочный протез', href: '/' },
            { name: 'Иммедиат-протез', href: '/' },
            { name: 'Пластиночный протез', href: '/' },
          ] },
        { name: 'Протезирование на имплантах', href: '/', sublist: [
            { name: 'Протезы на имплантах', href: '/' },
          ] },
        { name: 'Протезирование при полном отсутствии зубов', href: '/' },
        { name: 'Вставить зубы', href: '/' },
      ] },
    { name: 'Имплантация', href: '/lechenie-zubov.html', active: true, sublist: [
        { name: 'Зубные коронки', href: '/' },
        { name: 'Зубные вкладки', href: '/', active: true },
        { name: 'Зубные протезы', href: '/' },
        { name: 'Съемные протезы', href: '/' },
        { name: 'Несъемные зубные протезы', href: '/' },
        { name: 'Протезирование на имплантах', href: '/'  },
        { name: 'Протезирование при полном отсутствии зубов', href: '/' },
        { name: 'Вставить зубы', href: '/' },
      ] },
    { name: 'Лечение зубов', href: '/lechenie-zubov.html', sublist: [
        {name: 'Зубные коронки', href: '/lechenie-kariesa.html', sublist: [
            { name: 'Металлокерамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Керамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Циркониевые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Временные коронки', href: '/lechenie-kariesa.html', active: true },
            { name: 'Коронки из диоксида циркония', href: '/lechenie-kariesa.html' },
            { name: 'Пластмассовые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Коронки на передние зубы', href: '/lechenie-kariesa.html' },
            { name: 'Металлические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Безметалловая керамика', href: '/lechenie-kariesa.html' },
            { name: 'Установка коронки на зуб', href: '/lechenie-kariesa.html' },
          ]},
        {name: 'Зубные вкладки', href: '/', sublist: [
            { name: 'Зубные вкладки', href: '/' },
            { name: 'Культевая вкладка', href: '/' },
            { name: 'Керамическая вкладка', href: '/' },
            { name: 'Вкладка под коронку', href: '/' },
          ]},
        {name: 'Зубные коронки', href: '/lechenie-kariesa.html', sublist: [
            { name: 'Металлокерамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Керамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Циркониевые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Временные коронки', href: '/lechenie-kariesa.html', active: true },
            { name: 'Коронки из диоксида циркония', href: '/lechenie-kariesa.html' },
            { name: 'Пластмассовые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Коронки на передние зубы', href: '/lechenie-kariesa.html' },
            { name: 'Металлические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Безметалловая керамика', href: '/lechenie-kariesa.html' },
            { name: 'Установка коронки на зуб', href: '/lechenie-kariesa.html' },
          ]},
        {name: 'Зубные вкладки', href: '/', sublist: [
            { name: 'Зубные вкладки', href: '/' },
            { name: 'Культевая вкладка', href: '/' },
            { name: 'Керамическая вкладка', href: '/' },
            { name: 'Вкладка под коронку', href: '/' },
          ]},
        {name: 'Зубные коронки', href: '/lechenie-kariesa.html', sublist: [
            { name: 'Металлокерамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Керамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Циркониевые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Временные коронки', href: '/lechenie-kariesa.html', active: true },
            { name: 'Коронки из диоксида циркония', href: '/lechenie-kariesa.html' },
            { name: 'Пластмассовые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Коронки на передние зубы', href: '/lechenie-kariesa.html' },
            { name: 'Металлические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Безметалловая керамика', href: '/lechenie-kariesa.html' },
            { name: 'Установка коронки на зуб', href: '/lechenie-kariesa.html' },
          ]},
        {name: 'Зубные вкладки', href: '/', sublist: [
            { name: 'Зубные вкладки', href: '/' },
            { name: 'Культевая вкладка', href: '/' },
            { name: 'Керамическая вкладка', href: '/' },
            { name: 'Вкладка под коронку', href: '/' },
          ]},
        {name: 'Зубные коронки', href: '/lechenie-kariesa.html', sublist: [
            { name: 'Металлокерамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Керамические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Циркониевые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Временные коронки', href: '/lechenie-kariesa.html', active: true },
            { name: 'Коронки из диоксида циркония', href: '/lechenie-kariesa.html' },
            { name: 'Пластмассовые коронки', href: '/lechenie-kariesa.html' },
            { name: 'Коронки на передние зубы', href: '/lechenie-kariesa.html' },
            { name: 'Металлические коронки', href: '/lechenie-kariesa.html' },
            { name: 'Безметалловая керамика', href: '/lechenie-kariesa.html' },
            { name: 'Установка коронки на зуб', href: '/lechenie-kariesa.html' },
          ]},
        {name: 'Зубные вкладки', href: '/', sublist: [
            { name: 'Зубные вкладки', href: '/' },
            { name: 'Культевая вкладка', href: '/' },
            { name: 'Керамическая вкладка', href: '/' },
            { name: 'Вкладка под коронку', href: '/' },
          ]},
      ] },
    { name: 'Лечение десен', href: '/lechenie-zubov.html', sublist: [
        { name: 'Зубные коронки', href: '/' },
        { name: 'Зубные вкладки', href: '/', active: true },
      ] },
    { name: 'Хирургия', href: '/lechenie-zubov.html' },
    { name: 'Исправление прикуса', href: '/lechenie-zubov.html' },
    { name: 'Гигиена полости рта', href: '/lechenie-zubov.html' },
    { name: 'Рентгенодиагностика', href: '/lechenie-zubov.html' },
    { name: 'Анестезия', href: '/lechenie-zubov.html' },
    { name: 'Консультация', href: '/lechenie-zubov.html' },
  ]
