.header-navigation
  @media (min-width point-l)
    &__list
      a
        text-decoration none
        color #646464
        &:hover
          color #343A40
    &__sublist
      position absolute
      top 2.375rem
      z-index 999
      display flex
      flex-direction column
      width 18.75rem
      padding 1.675rem 2rem
      background-color #fff
      border-radius .5rem
      box-shadow 0 10px 40px rgba(#646464, .4)
      transform scale(0)
      transform-origin var(--arrow-position) 0 0
      pointer-events none
      &::before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 1.25rem
        transform translateY(-100%)
      &::after
        content ''
        position absolute
        top 0
        left var(--arrow-position)
        border 10px solid transparent
        border-bottom 10px solid #fff
        transform translateY(-100%)
    &__item
      &--parent
        --arrow-position 0 // @stylint ignore
        &:hover ^[-2]__sublist
          opacity 1
          transform scale(1)
          transition opacity .1s, transform .1s
          pointer-events auto
        & > a
          position relative
          padding-right 1rem
        & > a::after
          content ''
          position absolute
          top 50%
          right 0
          width .5rem
          height .5rem
          border-bottom 2px solid
          border-left 2px solid
          transform translateY(-50%) rotate(-45deg)
      &--sub
        font-size 1rem
        line-height 1.5
        & + &
          margin-top 1rem
        & > a
          display block
      &--active > a
        color #536DFB
