.header-navigation
  @media (max-width point-l - 1)
    &__item > a
      display block
    &__item:not(&__item--sub) > a
      display block
      padding .375rem 1.5rem
      font-size 1.125rem
      line-height 1.5
      text-decoration none
      color #646464
      &:hover
        background-image none
        &::before
          content none
    &__item--parent
      display grid
      grid-template-areas 'link switcher' 'sublist sublist'
      grid-template-columns auto min-content
      overflow hidden
      & > a
        grid-area link
      & > ^[-1]__sublist
        grid-area sublist
    &__item--sub
      padding .375rem 0
      &-1 > a
        color #646464
    &__switcher
      position relative
      align-self stretch
      justify-self end
      grid-area switcher
      width 20px
      padding .375rem 1.5rem
      &::before
      &::after
        content ''
        position absolute
        top 50%
        left 50%
        width .75rem
        height .75rem
        border 2px solid
        border-top-color transparent
        border-left-color transparent
      &::before
        opacity 0
        transform translate(-50%, -25%) rotate(-135deg)
        transition opacity .4s
      &::after
        transform translate(-50%, -75%) rotate(45deg)
        transition opacity .4s
      ^[-1]__item--open > &
        &::before
          opacity 1
          transform translate(-50%, -25%) rotate(-135deg)
          transition opacity .1s
        &::after
          opacity 0
          transform translate(-50%, -75%) rotate(45deg)
          transition opacity .1s
    &__sublist
      position relative
      overflow hidden
      height 0
      transform translateX(-2rem)
      transition transform .4s
      ^[-1]__item--open > & // @stylint ignore
        overflow unset
        height unset
        transform translateX(0)
    &__sublist--1
      padding-left 2.5rem
    &__sublist--2
      padding-left 1rem
