.header-navigation
  @media (min-width point-l)
    padding 1rem
    padding-right 2rem
    &__list
      display flex
      justify-content space-between
      margin-x -.5rem
      & ^[-1]__item
        margin-x .5625rem
    &__sublist
      position absolute
      opacity 0
    &__item
      position relative
      font-size 1.125rem
      &--parent
        & > a
          position relative
          padding-right 1rem
        & > a::after
          content ''
          position absolute
          top 50%
          right 0
          width .5rem
          height .5rem
          border-bottom 2px solid
          border-left 2px solid
          transform translateY(-50%) rotate(-45deg)
      &--sub
        font-size 1rem
        line-height 1.5
        & + &
          margin-top 1rem
        & > a
          display block
